<p-panel [header]="dictService.getWorkStatus(orderStatus)+' zlecenia'">
  <div style="margin-top: 5px" *ngIf="orders" class="ui-g">
    <p-dialog [(visible)]="displayDetailsDialog" [header]="'Zamówienie '+selectedOrder?.workNo" [minWidth]="600"
      [responsive]="true" [blockScroll]="true" [contentStyle]="{'height': '800px'}">
      <app-wo-details [selectedOrder]="selectedOrder"></app-wo-details>
    </p-dialog>
    <p-table  [scrollable]="true" #tt dataKey="id" [columns]="cols" [value]="orders" [rows]="20" [paginator]="true" [resizableColumns]="true"
      sortOrder="-1" selectionMode="single" [(selection)]="selectedOrder" (onRowSelect)="onRowSelect($event)"
      [metaKeySelection]="true" loadingIcon="fa fa-spinner" [contextMenu]="cm" contextMenuSelectionMode="joint"
      csvSeparator=";" exportFilename="Zawieszone" [globalFilterFields]="cols"  >
      <ng-template pTemplate="caption">
        <div>
          <i class="fa fa-search turbo-table-filtr-icon"></i>
          <input type="text" pInputText size="50" placeholder="Filtruj"
            (input)="tt.filterGlobal($event.target.value, 'contains')" style="width:auto">
        </div>
      </ng-template>
      <ng-template pTemplate="header" let-columns>
        <tr>
          <th *ngFor="let col of columns" [hidden]="col.hidden" [pSortableColumn]="col.field" [ngClass]="col.class"
            pResizableColumn excludeGlobalFilter=col.exclude>
            <span class="header" *ngIf="!col.check && !col.rating">
              {{col.header}}
              <p-sortIcon *ngIf="!col.button && col.sortable" [field]="col.field"></p-sortIcon>             
            </span>
            <span *ngIf="col.filter">
              <input class="width-100" [attr.placeholder]="col.header === 'Pula' ? 'Y/N' : 'Filtruj'" pInputText
              type="text" (input)="tt.filter($event.target.value, col.field, col.filterMatchMode)" >            
            </span>
          </th>
        </tr>
        
      </ng-template>
      <ng-template pTemplate="body" let-rowData let-columns="columns">
        <tr [pSelectableRow]="rowData" [pSelectableRowDblClick]="rowData" [pContextMenuRow]="rowData">
          <td *ngFor="let col of columns" [hidden]="col.hidden" filterMatchMode="col.contains" [ngClass]="col.class"  exportable="col.exportable">
            <span *ngIf="col.type" [style.color]="workTypeService.getWorkTypeColor(rowData)"
              class="ui-inputgroup-addon"><i [class]="'fa fa-square'"></i> </span>
            <span *ngIf="col.complexity" class="ui-inputgroup-addon"><i
                [class]="rowData[col.field]=='STD' ? 'fa fa-thumbs-o-up': 'fa fa-life-bouy'"></i></span>
            <span *ngIf="col.isFromPool">
              <span *ngIf="rowData[col.field]=='Y'" [style.color]="'green'" class="ui-inputgroup-addon"><i
                  [class]="'fa fa-users'"></i></span>
              <span *ngIf="rowData[col.field]!='Y'" [style.color]="'grey'" class="ui-inputgroup-addon"><i
                  [class]="'fa fa-street-view'"></i></span>
            </span>
            <span *ngIf="col.header === 'Komentarz'">{{getCancelOrHoldComment(rowData)}}</span>
            <span *ngIf="col.header === 'Status'" class="ui-inputgroup-addon"><i
                [class]="toolsService.getStatusIcon(rowData.statusCode)"></i></span>
            <p-button *ngIf="col.details" type="button" style="width:25px" (click)="showWoDetails($event, rowData)"
              icon="fa fa-search"></p-button>
            <span *ngIf="!col.icon && !col.price">
              {{rowData[col.field]}}
            </span>
            <span *ngIf="col.price">
              {{rowData[col.field] | currency:'PLN'}}
            </span>
          </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="footer" let-columns>
        <tr>
          <td *ngFor="let col of columns" [hidden]="col.hidden" [ngClass]="col.class"> 
            <span *ngIf="col.header === 'Zlecenie'">Suma zleceń <br /> {{orders?.length}} </span>
            <span *ngIf="col.price">Suma <br /> {{summary.summaryPrice | currency:'PLN'}} </span>
          </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="summary" let-columns="columns">
        <div class="ui-grid ui-grid-responsive ui-fluid ui-grid-pad">
          <div class="ui-grid-row" style="margin-top: 15px;">
            <div class="ui-grid-col-1"></div>
            <div class="ui-grid-col-2"></div>
            <div class="ui-grid-col-2"></div>
            <div class="ui-grid-col-2">
              <button type="button" [disabled]="operator.roleCode.indexOf('OP') == -1" pButton icon="fa fa-file-o"
                iconPos="left" label="Raport" (click)="tt.exportCSV()"></button>
            </div>
            <div class="ui-grid-col-2"> </div>
            <div class="ui-grid-col-2"> </div>
            <div class="ui-grid-col-1"> </div>
          </div>
        </div>
      </ng-template>
      <ng-template pTemplate="emptymessage">
        Brak zleceń w zakresie dat...
      </ng-template>
    </p-table>
    <p-contextMenu #cm [model]="items"></p-contextMenu>
  </div>
  <p-dialog [header]="'Dodawanie komentarza do zlecenia nr '+selectedOrder?.workNo" [(visible)]="displayAddComment"
    [responsive]="true" [minWidth]="900">
    <div class="ui-grid-row" style="max-width: 900px;">
      <div class="ui-grid-col-6" style="margin-top: 10px;">
        <p-fieldset legend="Detale zlecenia"
          *ngIf="selectedOrder?.creationDate || selectedOrder?.lastModDate || selectedOrder?.assigneeFull?.length > 0 || selectedOrder?.comment">
          <div class="ui-grid-row" *ngIf="selectedOrder?.creationDate">
            <div class="ui-grid-col-4">Dodano:</div>
            <div class="ui-grid-col-8"><span style="font-style: italic;">{{selectedOrder?.creationDate}}</span>
            </div>
          </div>
          <div class="ui-grid-row" *ngIf="selectedOrder?.lastModDate">
            <div class="ui-grid-col-4">Modyfikacja:</div>
            <div class="ui-grid-col-8"><span style="font-style: italic;">{{selectedOrder?.lastModDate}}</span></div>
          </div>
          <hr *ngIf="selectedOrder?.creationDate || selectedOrder?.lastModDate">
          <div style="margin-bottom: 5px" class="ui-grid-row" *ngIf="selectedOrder?.type">
            <div class="ui-grid-col-4">Typ:</div>
            <div class="ui-grid-col-8">
              <span [style.color]="workTypeService.getWorkTypeColor(selectedOrder)" class="ui-inputgroup-addon"><i
                  [class]="'fa fa-square'"></i></span>
              <span style="padding: 3px; font-style: italic;">{{selectedOrder?.type}}</span>
            </div>
          </div>
          <div style="margin-bottom: 5px" class="ui-grid-row" *ngIf="selectedOrder?.complexity">
            <div class="ui-grid-col-4">Złożoność:</div>
            <div class="ui-grid-col-8">
              <span class="ui-inputgroup-addon"><i
                  [class]="selectedOrder.complexityCode === 'STD' ? 'fa fa-thumbs-o-up': 'fa fa-life-bouy'"></i></span>
              <span style="padding: 3px; font-style: italic;">Wycena {{selectedOrder?.complexity}} godzin</span>
            </div>
          </div>
          <div style="margin-bottom: 5px" class="ui-grid-row" *ngIf="selectedOrder?.status">
            <div class="ui-grid-col-4">Status:</div>
            <div class="ui-grid-col-8">
              <span class="ui-inputgroup-addon"><i [class]=""></i></span>
              <span style="padding: 3px; font-style: italic;">{{selectedOrder?.status}}</span>
            </div>
          </div>
          <div style="margin-bottom: 5px" class="ui-grid-row" *ngIf="selectedOrder?.status">
            <div class="ui-grid-col-4">Wartość zamówienia:</div>
            <div class="ui-grid-col-8">
              <span style="font-style: italic;">{{selectedOrder?.price}} PLN</span>
            </div>
          </div>
          <div class="ui-grid-row" *ngIf="selectedOrder?.status">
            <div class="ui-grid-col-4">Numer protokołu:</div>
            <div class="ui-grid-col-8">
              <span style="font-style: italic;">{{selectedOrder?.protocolNo}}</span>
            </div>
          </div>
          <div style="margin-bottom: 5px; margin-top: 5px;" class="ui-grid-row" *ngIf="selectedOrder?.isFromPool">
            <div class="ui-grid-col-4">W ramach puli:</div>
            <div class="ui-grid-col-8">
              <span class="ui-inputgroup-addon"><i
                  [class]="selectedOrder.isFromPool=='Y' ? 'fa fa-users': 'fa fa-street-view'"></i></span>
              <span
                style="padding: 3px; font-style: italic;">{{selectedOrder?.isFromPool == 'Y' ? 'TAK' : 'NIE'}}</span>
            </div>
          </div>
          <hr *ngIf="selectedOrder?.type || selectedOrder?.complexity || selectedOrder?.status ">
          <div *ngIf="selectedOrder?.assigneeFull && selectedOrder?.assigneeFull?.length > 0" class="ui-grid-row">
            <strong>Wykonawcy</strong>
          </div>
          <div class="ui-grid-row" *ngFor="let a of selectedOrder.assigneeFull">
            <div class="ui-grid-col-12"><u>{{a.email}}</u></div>
            <div class="ui-grid-col-12">{{a.firstName}} {{a.lastName}}</div>
            <div class="ui-grid-col-12">{{a.role}} @ {{a.office}}</div>
          </div>
        </p-fieldset>
      </div>
      <div class="ui-grid-col-6">
        <div *ngIf="selectedOrder?.ventureDisplay || selectedOrder?.ventureCompany" class="ui-grid-row"
          style="margin-top: 10px;">
          <p-fieldset legend="Inwestor">
            {{selectedOrder?.ventureDisplay}} @ {{selectedOrder?.ventureCompany}}
          </p-fieldset>
        </div>
        <div class="ui-grid-row" style="margin-top: 10px;">
          <p-fieldset legend="Obiekt inwestycji">
            <div
              *ngIf="selectedOrder?.relatedItems[0]?.itemNo || selectedOrder?.relatedItems[0]?.address || selectedOrder?.relatedItems[0]?.mdBuildingType || selectedOrder?.relatedItems[0]?.description || selectedOrder?.relatedItems[0]?.mdConstructionCategory;else noRelatedItem">
              <div *ngIf="selectedOrder?.relatedItems[0]?.itemNo" class="ui-grid-row">
                <div class="ui-grid-col-4">Numer:</div>
                <div class="ui-grid-col-8">{{selectedOrder?.relatedItems[0]?.itemNo}}</div>
              </div>
              <div *ngIf="selectedOrder?.relatedItems[0]?.address" class="ui-grid-row">
                <div class="ui-grid-col-4">Adres:</div>
                <div class="ui-grid-col-8">{{selectedOrder?.relatedItems[0]?.address}}</div>
              </div>
              <div *ngIf="selectedOrder?.relatedItems[0]?.mdBuildingType" class="ui-grid-row">
                <div class="ui-grid-col-4">Typ budynku:</div>
                <div class="ui-grid-col-8">{{selectedOrder?.relatedItems[0]?.mdBuildingType}}</div>
              </div>
              <div *ngIf="selectedOrder?.relatedItems[0]?.mdConstructionCategory" class="ui-grid-row">
                <div class="ui-grid-col-4">Konstrukcja:</div>
                <div class="ui-grid-col-8">{{selectedOrder?.relatedItems[0]?.mdConstructionCategory}}</div>
              </div>
              <div *ngIf="selectedOrder?.relatedItems[0]?.description" class="ui-grid-row">
                <div class="ui-grid-col-4">Opis:</div>
                <div class="ui-grid-col-8">{{selectedOrder?.relatedItems[0]?.description}}</div>
              </div>
              <div *ngIf="selectedOrder?.relatedItems[0]?.creationDate" class="ui-grid-row">
                <div class="ui-grid-col-4">Dodano:</div>
                <div class="ui-grid-col-8">{{selectedOrder?.relatedItems[0]?.creationDate}}</div>
              </div>
            </div>
            <ng-template #noRelatedItem><strong style="color: darkorange;">Nie przypisano...</strong></ng-template>
          </p-fieldset>
        </div>
      </div>
      <br>
    </div>
    <br>
    <p-fieldset legend="Dodaj komentarz do zlecenia">
      <div class="ui-grid-row" style="margin-top: 10px;">
        <div class="ui-grid-col-2"><label for="newComment">Dodaj komentarz</label></div>
        <div class="ui-grid-col-10">
          <textarea [disabled]="false" pInputTextarea id="newComment" name="newComment" [(ngModel)]="newComment"
            [rows]="3" [cols]="80" autoResize="autoResize"
            placeholder="Wewnętrzny komentarz dotyczący zlecenia..."></textarea>
        </div>
      </div>
    </p-fieldset>
    <p-footer>
      <div class="ui-dialog-buttonpane ui-helper-clearfix">
        <button width="200px" type="button" pButton icon="fa fa-check" (click)="saveComment()" label="Zakończ"></button>
      </div>
    </p-footer>
  </p-dialog>
</p-panel>