<p>WERSJA <a [routerLink]="" (click)="showHistoryDialog()">{{versionService.version}} Faza II</a> ( <a href="https://www.primefaces.org/primeng/#/" target="_top">Powered by primeng</a> )
</p>

<p-dialog header="Historia zmian" [(visible)]="showHistory" [responsive]="true" [minWidth]="1000" [width]="800">
  <div class="ui-grid ui-grid-responsive ui-fluid">
    <div class="ui-grid-row" style="margin-top: 10px; margin-bottom: 10px;">

      <p-table [value]="versionService.history" [rows]="20" [paginator]="true"
               [columns]="cols"
               [globalFilterFields]="cols" #dtChangeLog
               dataKey="code" resizableColumns="true">
          <ng-template pTemplate="caption">
              <div>
                  <i class="fa fa-search turbo-table-filtr-icon"></i>
                  <input type="text" pInputText size="50" placeholder="Filtruj"
                         (input)="dtChangeLog.filterGlobal($event.target.value, 'contains')" style="width:auto">
              </div>
          </ng-template>
          <ng-template pTemplate="header" let-columns>
              <tr>
                  <th *ngFor="let col of columns" [hidden]="col.hidden" [ngClass]="col.class" pResizableColumn excludeGlobalFilter=col.exclude>
                    <span class="header">{{col.header}}</span>
                  </th>
              </tr>
          </ng-template>
          <ng-template pTemplate="body" let-rowData let-columns="columns">
              <tr>
                  <td *ngFor="let col of columns" [hidden]="col.hidden" [ngClass]="col.class">
                      <span style="'word-wrap': 'break-word'">{{rowData[col.field]}}</span>
                  </td>
              </tr>
          </ng-template>
          <ng-template pTemplate="emptymessage">
              Brak danych...
          </ng-template>
      </p-table>

    </div>
  </div>
</p-dialog>





