/* You can add global styles to this file, and also import other style files */

/* button icon was too narrow */
body .ui-button-icon-only { width: 25px; }

td.text-right {
    text-align: right;
}

div.text-center {
    text-align: center;
}

.ui-fieldset, .ui-fieldset .ui-fieldset-legend {
    padding: 0.2em 0.5em;
}

ul.ui-menu-child {
    white-space: nowrap;
    width: auto !important;
    margin-right: 5px;
    margin-left: 5px;
}

/* primeng 8 override nova-light theme */
body .ui-table .ui-table-tbody > tr > td {
  padding: 0.271em 0.457em;
}

/*Style for turbo table*/

.width-10 {
    width: 10%;
}
.width-20 {
    width: 20%;
}
.text-center-25 {
    text-align:center;
    width :25%;
}
.text-center-30 {
    text-align:center;
    width :30%;
}
.text-left-30 {
    text-align:left;
    width :30%;
    padding: 5;
}
.width-35 {
    width: 35%;
}
.width-45 {
    width: 45%;
}
.width-50 {
    width: 50%;
}
.width-70 {
    width: 70%;
}
.width-80 {
    width: 87%;
}
.width-100 {
    width: 100%;
}
.width-100-filtr {
    width: 100%;
}
.width-135 {
    width: 135%;
}
.width-125 {
    width: 125%;
}
.width-250 {
    width: 250%;
}
td {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis
}
.header {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis
}
.color-green{
    color: green;
}
.color-blue {
    color: #286090;
}
.color-red {
    color: red;
}
.width-1680 {
    width: 1680px;
}
@media only screen and (max-width: 1026px) {
    .width-10 {
        width: 30px;
    }
    .width-20 {
        width: 40px;
    }
    .text-center-30 {
        text-align:center;
        width :50px;
    }
    .width-35 {
        width: 70px;
    }
    .width-45 {
        width: 80px;
    }
    .width-50 {
        width: 100px;
    }
    .width-70 {
        width: 120px;
    }
    .width-80 {
        width: 160px;
    }
    
    .width-135 {
        width: 250px;
    }
    .width-125 {
        width: 270px;
    }
    .width-250 {
        width: 250px;
    }
} 

/*Style for icons*/
.turbo-table-filtr-icon {
    margin-right: 10px;
}