/* You can add global styles to this file, and also import other style files */

/* button icon was too narrow */
body .ui-button-icon-only { width: 25px; }

td.text-right {
    text-align: right;
}

div.text-center {
    text-align: center;
}

.ui-fieldset, .ui-fieldset .ui-fieldset-legend {
    padding: 0.2em 0.5em;
}

ul.ui-menu-child {
    white-space: nowrap;
    width: auto !important;
    margin-right: 5px;
    margin-left: 5px;
}

/* since 6 primeng no longer supports omega theme, this was copied from new supported nova-light theme */
body .ui-messages {
    padding: 1em;
    margin: 1em 0; }
body .ui-messages.ui-messages-info {
    background-color: #7fbcec;
    border: 0 none;
    color: #212121; }
body .ui-messages.ui-messages-info .ui-messages-icon {
    color: #212121; }
body .ui-messages.ui-messages-info .ui-messages-close {
    color: #212121; }
body .ui-messages.ui-messages-success {
    background-color: #b7d8b7;
    border: 0 none;
    color: #212121; }
body .ui-messages.ui-messages-success .ui-messages-icon {
    color: #212121; }
body .ui-messages.ui-messages-success .ui-messages-close {
    color: #212121; }
body .ui-messages.ui-messages-warn {
    background-color: #ffe399;
    border: 0 none;
    color: #212121; }
body .ui-messages.ui-messages-warn .ui-messages-icon {
    color: #212121; }
body .ui-messages.ui-messages-warn .ui-messages-close {
    color: #212121; }
body .ui-messages.ui-messages-error {
    background-color: #f8b7bd;
    border: 0 none;
    color: #212121; }
body .ui-messages.ui-messages-error .ui-messages-icon {
    color: #212121; }
body .ui-messages.ui-messages-error .ui-messages-close {
    color: #212121; }
body .ui-messages .ui-messages-close {
    top: .25em;
    right: .5em;
    font-size: 1.5em; }
body .ui-messages .ui-messages-icon {
    font-size: 2em; }
body .ui-message {
    padding: 0.429em;
    margin: 0; }
body .ui-message.ui-message-info {
    background-color: #7fbcec;
    border: 0 none;
    color: #212121; }
body .ui-message.ui-message-info .ui-message-icon {
    color: #212121; }
body .ui-message.ui-message-success {
    background-color: #b7d8b7;
    border: 0 none;
    color: #212121; }
body .ui-message.ui-message-success .ui-message-icon {
    color: #212121; }
body .ui-message.ui-message-warn {
    background-color: #ffe399;
    border: 0 none;
    color: #212121; }
body .ui-message.ui-message-warn .ui-message-icon {
    color: #212121; }
body .ui-message.ui-message-error {
    background-color: #f8b7bd;
    border: 0 none;
    color: #212121; }
body .ui-message.ui-message-error .ui-message-icon {
    color: #212121; }
body .ui-message .ui-message-icon {
    font-size: 1.25em; }
body .ui-message .ui-message-text {
    font-size: 1em; }

body .ui-button.ui-state-default.ui-button-success, body .ui-buttonset.ui-button-success > .ui-button.ui-state-default {
    color: #ffffff;
    background-color: #34A835;
    border: 1px solid #34A835; }
body .ui-button.ui-state-default.ui-button-success:enabled:hover, body .ui-buttonset.ui-button-success > .ui-button.ui-state-default:enabled:hover {
    background-color: #107D11;
    color: #ffffff;
    border-color: #107D11; }
body .ui-button.ui-state-default.ui-button-success:enabled:focus, body .ui-buttonset.ui-button-success > .ui-button.ui-state-default:enabled:focus {
    background-color: #3abb3b; }
body .ui-button.ui-state-default.ui-button-success:enabled:active, body .ui-buttonset.ui-button-success > .ui-button.ui-state-default:enabled:active {
    background-color: #0C6B0D;
    color: #ffffff;
    border-color: #0C6B0D; }

body .ui-button.ui-state-default.ui-button-warning, body .ui-buttonset.ui-button-warning > .ui-button.ui-state-default {
    color: #333333;
    background-color: #ffba01;
    border: 1px solid #ffba01; }
body .ui-button.ui-state-default.ui-button-warning:enabled:hover, body .ui-buttonset.ui-button-warning > .ui-button.ui-state-default:enabled:hover {
    background-color: #ED990B;
    color: #333333;
    border-color: #ED990B; }
body .ui-button.ui-state-default.ui-button-warning:enabled:focus, body .ui-buttonset.ui-button-warning > .ui-button.ui-state-default:enabled:focus {
    background-color: #ffc834; }
body .ui-button.ui-state-default.ui-button-warning:enabled:active, body .ui-buttonset.ui-button-warning > .ui-button.ui-state-default:enabled:active {
    background-color: #D38B10;
    color: #333333;
    border-color: #D38B10; }

body .ui-button.ui-state-default.ui-button-danger, body .ui-buttonset.ui-button-danger > .ui-button.ui-state-default {
    color: #ffffff;
    background-color: #e91224;
    border: 1px solid #e91224; }
body .ui-button.ui-state-default.ui-button-danger:enabled:hover, body .ui-buttonset.ui-button-danger > .ui-button.ui-state-default:enabled:hover {
    background-color: #c01120;
    color: #ffffff;
    border-color: #c01120; }
body .ui-button.ui-state-default.ui-button-danger:enabled:focus, body .ui-buttonset.ui-button-danger > .ui-button.ui-state-default:enabled:focus {
    background-color: #f25663; }
body .ui-button.ui-state-default.ui-button-danger:enabled:active, body .ui-buttonset.ui-button-danger > .ui-button.ui-state-default:enabled:active {
    background-color: #a90000;
    color: #ffffff;
    border-color: #a90000; }


/*Style for turbo table*/

.width-10 {
    width: 10%;
}
.width-20 {
    width: 20%;
}
.text-center-25 {
    text-align:center;
    width :25%;
}
.text-center-30 {
    text-align:center;
    width :30%;
}
.text-left-30 {
    text-align:left;
    width :30%;
    padding: 5;
}
.width-35 {
    width: 35%;
}
.width-45 {
    width: 45%;
}
.width-50 {
    width: 50%;
}
.width-70 {
    width: 70%;
}
.width-80 {
    width: 87%;
}
.width-100 {
    width: 100%;
}
.width-100-filtr {
    width: 100%;
}
.width-135 {
    width: 135%;
}
.width-125 {
    width: 125%;
}
.width-250 {
    width: 250%;
}
td {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis
}
.header {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis
}
.color-green{
    color: green;
}
.color-blue {
    color: #286090;
}
.color-red {
    color: red;
}
.width-1680 {
    width: 1680px;
}
@media only screen and (max-width: 1026px) {
    .width-10 {
        width: 30px;
    }
    .width-20 {
        width: 40px;
    }
    .text-center-30 {
        text-align:center;
        width :50px;
    }
    .width-35 {
        width: 70px;
    }
    .width-45 {
        width: 80px;
    }
    .width-50 {
        width: 100px;
    }
    .width-70 {
        width: 120px;
    }
    .width-80 {
        width: 160px;
    }
    
    .width-135 {
        width: 250px;
    }
    .width-125 {
        width: 270px;
    }
    .width-250 {
        width: 250px;
    }
} 
    /*Style for icons*/
    .turbo-table-filtr-icon {
        margin-right: 10px;
    }