/* You can add global styles to this file, and also import other style files */


td.text-right {
    text-align: right;
}

div.text-center {
    text-align: center;
}

.ui-fieldset, .ui-fieldset .ui-fieldset-legend {
    padding: 0.2em 1em;
}

ul.ui-menu-child {
    white-space: nowrap;
    width: auto !important;
    margin-right: 5px;
    margin-left: 5px;
}



