<!-- main app container -->

<div *ngIf="items">
    <div style="font-size: small">Logged as {{user.firstName}} ({{role | async}}) <a [routerLink]="['/logme']">Logout</a></div>
    <p-tabMenu [model]="items" ></p-tabMenu>
</div>

<!--<div class="jumbotron">-->

        <div>
            <alert></alert>
            <router-outlet></router-outlet>
        </div>

<!--</div>-->


<!-- credits -->
<div class="text-center">
    <p>
        <a href="https://www.primefaces.org/primeng/#/" target="_top">Trener misiaczek Engel</a>
    </p>
</div>
