<!-- main app container -->

<div>
    <div style="float: left;width: 291px;min-height: 150px; margin-left: 0px;">
        <img src="assets/bot.jpg" width="291" height="150px">
    </div>
    <div style="overflow: hidden; height: 150px;  z-index: 2;">
        <img src="assets/projects-banner-m2.png" style="position:relative;" width="100%" height="184px">
        <div *ngIf="user?.firstName" style="position: absolute; top:50px; right: 50px; z-index: 3; font-weight: bold; color: #f0f3f5">
            {{user?.firstName}} ({{roles | async}}) @ {{office | async}}<br>
            <div style="float: right">Sesja {{getMinutesBeforeLogout() | async}} minut.</div><br>
            <a style="float: right" href="logout">Wyloguj</a>

            <user-attendance-register *ngIf="user?.firstName" [user]="user"></user-attendance-register>

        </div>
    </div>
</div>

<app-progress *ngIf="user?.firstName"></app-progress>

<div *ngIf="items">
    <p-tabMenu [model]="items" ></p-tabMenu>
</div>


    <div>
        <alert></alert>
        <router-outlet></router-outlet>
    </div>

<!-- credits -->
<div class="text-center">
    <p>WERSJA 1.2.0 Faza II ( <a href="https://www.primefaces.org/primeng/#/" target="_top">Powered by primeng</a> )
        <!-- polirole, rozliczenie, protokol (excel), wprowadzenie wielu WO -->
    </p>
</div>
