

<div style="margin-top: 5px" *ngIf="users" class="ui-g">

  <div class="ui-g" style="width:250px;margin-bottom:10px">
    <div class="ui-g-12"><p-radioButton name="group2" value="ALL" label="Pokaż wszystkich" [(ngModel)]="employedOnlyFilter" inputId="preopt1" (onClick)="filter('ALL')"></p-radioButton></div>
    <div class="ui-g-12"><p-radioButton name="group2" value="EMPLOYED_ONLY" label="Ukryjwaj byłych pracowników" [(ngModel)]="employedOnlyFilter" inputId="preopt2" (onClick)="filter('EMPLOYED_ONLY')"></p-radioButton></div>
  </div>



  <!--[(selection)]="selectedOrder" (onRowSelect)="onRowSelect($event)" (onRowDblclick)="onRowDblclick($event)"-->
  <p-dataTable [value]="users" [rows]="50" [paginator]="true" [globalFilter]="gb" #dt dataKey="id"
               selectionMode="multiple"
               sortField="excelId" sortOrder="1"
               [(selection)]="selectedUsers"
               selectionMode="multiple"
               [headerCheckboxToggleAllPages]="false"
               resizableColumns="true" loadingIcon="fa-spinner" csvSeparator=";" exportFilename="pracownicy">

    <p-header>
      <div>
        <button [disabled]="!selectedUsers || selectedUsers.length < 1" type="button" pButton icon="fa-search" iconPos="left" style="float:left" (click)="showDateChooser()" label="Podsumowanie godzin"></button>
        <i class="fa fa-search"></i>
        <input #gb type="text" pInputText size="50" placeholder="Filtruj">
      </div>
    </p-header>

    <p-column [style]="{'text-align':'center', 'width':'38px'}" selectionMode="multiple"></p-column>
    <p-column [sortable]="true" field="excelId" header="Id excel" [filter]="true" filterPlaceholder="Filtruj"></p-column>
    <p-column [sortable]="true" field="officeCode" header="Biuro" [filter]="true" filterPlaceholder="Filtruj"></p-column>
    <p-column header="Osoba" field="lastName"  [filter]="true" filterPlaceholder="Nazwisko">
      <ng-template let-col let-user="rowData" png-template="body">
        <span class="ui-inputgroup-addon">{{user.firstName}}</span>
        <span class="ui-inputgroup-addon">{{user.lastName}}</span>
      </ng-template>
    </p-column>

    <!--<p-column [sortable]="true" field="isActive" header="Aktywny" [filter]="true" filterPlaceholder="Filtruj" [style]="{'text-align':'center', 'width':'20px'}"></p-column>-->
    <p-column [sortable]="true" field="isActive" header="Aktywny" [filter]="true" filterPlaceholder="Y/N" filterMatchMode="contains" [style]="{'text-align':'center'}">
      <ng-template let-col let-user="rowData" png-template="body">
        <span *ngIf="user[col.field]=='Y'" [style.color]="'green'" class="ui-inputgroup-addon"><i [class]="'fa fa-check'"></i></span>
        <span *ngIf="user[col.field]!='Y'" [style.color]="'grey'"  class="ui-inputgroup-addon"><i [class]="'fa fa-ban'"></i></span>
      </ng-template>
    </p-column>
    <p-column [sortable]="true" field="isEmployed" header="Pracuje" [filter]="true" filterPlaceholder="Y/N" filterMatchMode="contains" [style]="{'text-align':'center'}">
      <ng-template let-col let-user="rowData" png-template="body">
        <span *ngIf="user[col.field]=='Y'" [style.color]="'green'" class="ui-inputgroup-addon"><i [class]="'fa fa-check'"></i></span>
        <span *ngIf="user[col.field]!='Y'" [style.color]="'grey'"  class="ui-inputgroup-addon"><i [class]="'fa fa-ban'"></i></span>
      </ng-template>
    </p-column>

    <p-column [sortable]="true" field="role" header="Rola" [filter]="true" filterPlaceholder="Filtruj" [style]="{'text-align':'center'}"></p-column>
    <p-column [sortable]="true" field="rank" header="Stopień" [filter]="true" filterPlaceholder="Filtruj" [style]="{'text-align':'center'}"></p-column>

    <!--<p-column [sortable]="true" field="isFromPool" header="Pula" [filter]="true" filterPlaceholder="Filtruj" [style]="{'text-align':'center', 'width':'25px'}"></p-column>-->
    <p-column [sortable]="true" field="isFromPool" header="Pula" [filter]="true" filterPlaceholder="Y/N" [style]="{'text-align':'center'}">
      <ng-template let-col let-user="rowData" png-template="body">
        <span *ngIf="user[col.field]=='Y'" [style.color]="'green'" class="ui-inputgroup-addon"><i [class]="'fa fa-users'"></i></span>
        <span *ngIf="user[col.field]!='Y'" [style.color]="'grey'" class="ui-inputgroup-addon"><i [class]="'fa fa-street-view'"></i></span>
      </ng-template>
    </p-column>


    <!--<p-column [sortable]="true" field="email" header="Email" [filter]="true" filterPlaceholder="Filtruj" [style]="{'width':'40px'}"></p-column>-->
    <p-column [sortable]="true" field="phone" header="Telefon" [filter]="true" filterPlaceholder="Filtruj" [style]="{'text-align':'center'}"></p-column>

    <p-footer>
      <div class="ui-grid ui-grid-responsive ui-fluid ui-grid-pad">
        <div class="ui-grid-row"  style="margin-top: 15px;">
          <div class="ui-grid-col-1"></div>
          <div class="ui-grid-col-2">
            <button [disabled]="!selectedUsers || selectedUsers.length < 1" type="button" pButton icon="fa-search" iconPos="left" style="float:left" (click)="showDateChooser()" label="Podsumowanie godzin"></button>
          </div>

          <div class="ui-grid-col-6"></div>

          <div class="ui-grid-col-2">
            <button type="button" pButton icon="fa-file-o" iconPos="left" label="CSV" (click)="dt.exportCSV()"></button>
          </div>
          <div class="ui-grid-col-1"></div>
        </div>
      </div>
    </p-footer>

    <ng-template png-template="emptymessage">
      Brak pracowników...
    </ng-template>

  </p-dataTable>
</div>



<p-dialog [header]="'Podumowanie czasów (wybór okresu)'" [(visible)]="displayDateChooserDialog" [responsive]="true" showEffect="fade" [modal]="true" [minWidth]="800">

    <div>
        <div class="ui-grid-row" style="margin-top: 10px; margin-bottom: 200px;">
          <div class="ui-grid-col-4"><label for="reportDate">*</label></div>
          <div class="ui-grid-col-8">
            <p-dropdown placeholder="Wybierz miesiąć..." [style]="{'width': '100%'}" id="reportDate" name="reportDate" [options]="possibleDates" [(ngModel)]="selectedDate" required autoWidth="false" ></p-dropdown>
          </div>
        </div>

    </div>
    <p-footer>
      <div class="ui-dialog-buttonpane ui-helper-clearfix">
        <button [disabled]="!selectedDate" (click)="getTimestatReport()" style="width: 200px; height: 30px;" width="200px" pButton class="btn btn-primary"><i [class]="'fa fa-check'"></i> Raport</button>
      </div>
    </p-footer>

</p-dialog>

<p-dialog [header]="'Podumowanie czasów dla '+selectedDate" [(visible)]="displayReportResultDialog" [responsive]="true" showEffect="fade" [modal]="true" [minWidth]="800">

  <p-dataTable [value]="timestats" [rows]="20" [paginator]="true" [globalFilter]="gb" #dtReport dataKey="personId" resizableColumns="true" sortField="user.excelId" sortOrder="1" loadingIcon="fa-spinner"
               csvSeparator=";" [exportFilename]="'podsumowanie_czasow_'+selectedDate">
    <p-header>
      <div>
        <i class="fa fa-search"></i>
        <input #gb type="text" pInputText size="50" placeholder="Filtruj">
      </div>
    </p-header>

    <!--
      "leaveTime": 40,
      "workTime": 138.58,
      "trainingTime": 0,
      "poolWorkTime": 138.58,
      "nonpoolWorkTime": 0,
      "overTime": 0,
      "isFromPool": "Y"
    -->


    <p-column [sortable]="true" field="personId" header="id" hidden="true" [exportable]="false"></p-column>

    <p-column [sortable]="true" field="user.excelId" header="Id excel" [style]="{'text-align':'center'}" [filter]="true" filterPlaceholder="Filtruj"></p-column>
    <p-column [sortable]="true" field="user.firstName" header="Imię" [style]="{'text-align':'center'}" [filter]="true" filterPlaceholder="Filtruj"></p-column>
    <p-column [sortable]="true" field="user.lastName" header="Nazwisko" [style]="{'text-align':'center'}" [filter]="true" filterPlaceholder="Filtruj"></p-column>

    <p-column [sortable]="true" field="user.officeCode" header="Biuro" [style]="{'text-align':'center'}" [filter]="true" filterPlaceholder="Filtruj"></p-column>

    <p-column [sortable]="true" field="isFromPool" header="Pula" [filter]="true" filterPlaceholder="Y/N" [style]="{'text-align':'center', 'width':'38px'}">
      <ng-template let-col let-user="rowData" png-template="body">
        <span *ngIf="user[col.field]=='Y'" [style.color]="'green'" class="ui-inputgroup-addon"><i [class]="'fa fa-users'"></i></span>
        <span *ngIf="user[col.field]!='Y'" [style.color]="'grey'" class="ui-inputgroup-addon"><i [class]="'fa fa-street-view'"></i></span>
      </ng-template>
    </p-column>

    <p-column [sortable]="true" field="periodBeginning" header="Od" [style]="{'text-align':'center'}" [filter]="true" filterPlaceholder="Filtruj"></p-column>
    <p-column [sortable]="true" field="periodEnd" header="Do" [style]="{'text-align':'center'}" [filter]="true" filterPlaceholder="Filtruj"></p-column>

    <p-column [sortable]="true" field="leaveTime" header="Urlop" [filter]="true" filterPlaceholder="Filtruj"></p-column>
    <p-column [sortable]="true" field="workTime" header="Czas pracy" [filter]="true" filterPlaceholder="Filtruj"></p-column>
    <p-column [sortable]="true" field="trainingTime" header="Szkolenie" [filter]="true" filterPlaceholder="Filtruj"></p-column>
    <p-column [sortable]="true" field="poolWorkTime" header="Czas w puli" [filter]="true" filterPlaceholder="Filtruj"></p-column>
    <p-column [sortable]="true" field="nonpoolWorkTime" header="Czas poza pulą" [filter]="true" filterPlaceholder="Filtruj"></p-column>
    <p-column [sortable]="true" field="overTime" header="Nadgodziny" [filter]="true" filterPlaceholder="Filtruj"></p-column>


    <ng-template png-template="emptymessage">
      Brak raportu podsumowania czasów...
    </ng-template>

    <p-footer>
      <div class="ui-grid ui-grid-responsive ui-fluid ui-grid-pad">
        <div class="ui-grid-row"  style="margin-top: 15px;">
          <div class="ui-grid-col-4"></div>

          <div class="ui-grid-col-4">
            <button type="button" pButton icon="fa-file-o" iconPos="left" label="CSV" (click)="dtReport.exportCSV()"></button>
          </div>
          <div class="ui-grid-col-4"></div>
        </div>
      </div>
    </p-footer>

  </p-dataTable>

</p-dialog>

