<div class="ui-grid-row" style="max-width: 1200px;">

  <div style="margin-top: 5px" *ngIf="userHistory" class="ui-g">
    <p-table #tt dataKey="histCreationDate" [columns]="cols" [value]="userHistory" [rows]="20" [paginator]="true"
      [resizableColumns]="true" sortField="histCreationDate" sortOrder="1" loadingIcon="fa fa-spinner"
      [globalFilterFields]="cols" [responsive]="false" expandableRows="true">
      <ng-template pTemplate="caption">
        <div>
          <i class="fa fa-search"></i>
          <input type="text" pInputText size="50" placeholder="Filtruj"
            (input)="tt.filterGlobal($event.target.value, 'contains')" style="width:auto">
        </div>
      </ng-template>
      <ng-template pTemplate="header" let-columns let-rowData>
        <tr>
          <th *ngFor="let col of columns" [hidden]="col.hidden" [pSortableColumn]="col.field" [ngClass]="col.class"
            pResizableColumn excludeGlobalFilter=col.exclude>
            <span class="header">
              {{col.header}}
            </span>
          </th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-rowData let-columns="columns" let-expanded="expanded">
        <tr>
          <td *ngFor="let col of columns " [hidden]="col.hidden" filterMatchMode="col.contains" [ngClass]="col.class"
            exportable="col.exportable">
            <a href="#" [pRowToggler]="rowData" *ngIf="col.button">
              <i [ngClass]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"></i>
            </a>
            <span *ngIf="col.user">
              <span [style.font-weight]="'bolder'" class="ui-inputgroup-addon color-green">{{rowData.firstName}}
                {{rowData.lastName}}</span>
            </span>
            <span *ngIf="col.isFromPool">
              <span *ngIf="rowData[col.field]=='Y'" [style.color]="'green'" class="ui-inputgroup-addon"><i
                  [class]="'fa fa-users'"></i></span>
              <span *ngIf="rowData[col.field]!='Y'" [style.color]="'grey'" class="ui-inputgroup-addon"><i
                  [class]="'fa fa-street-view'"></i></span>
            </span>
            <span *ngIf="col.histCreationDate">
              <span *ngIf="rowData[col.field]==CURRENT_EOF" [style.color]="'green'"
                class="ui-inputgroup-addon">Bieżący</span>
              <span *ngIf="rowData[col.field]!=CURRENT_EOF">{{rowData[col.field]}}</span>
            </span>
            <span *ngIf="!col.icon">
              {{rowData[col.field]}}
            </span>
          </td>
        </tr>
      </ng-template>
      <ng-template let-user pTemplate="rowexpansion" let-columns="columns">
        <tr>
          <td [attr.colspan]="columns.length + 1">
            <div class="ui-grid ui-grid-responsive ui-fluid" style="font-size:16px;padding:20px">
              <div *ngIf="user?.histCreationDate == CURRENT_EOF" class="ui-grid-row"
                style="text-align:left; font-size: smaller;">
                Rekord bieżący
              </div>
              <div *ngIf="user?.modifiedBy" class="ui-grid-row" style="text-align:left; font-size: smaller;">
                Rekord modyfikowany przez: <span style="font-weight: bold">{{user?.modifiedByUser?.email}}</span>
              </div>
              <div *ngIf="user?.lastModDate" class="ui-grid-row" style="text-align:left; font-size: smaller;">
                Rekord aktywny od: <span style="font-weight: bold">{{user?.lastModDate}}</span>
              </div>
              <div *ngIf="user?.histCreationDate" class="ui-grid-row" style="text-align:left; font-size: smaller;">
                Rekord aktywny do: <span style="font-weight: bold">{{user?.histCreationDate}}</span>
              </div>
              <hr>
              <div class="ui-grid-row">
                <div *ngIf="user?.email" class="ui-grid-col-12" style="text-align:left; font-size: smaller;">
                  Dane kontaktowe: tel. <span style="font-weight: bold">{{user?.phone}}</span>, email: <span
                    style="font-weight: bold">{{user?.email}}</span>, adres: <span
                    style="font-weight: bold">{{user?.addressStreet}}, {{user?.addressPost}}</span>
                </div>
              </div>
              <div class="ui-grid-row">
                <div *ngIf="user?.account" class="ui-grid-col-12" style="text-align:left; font-size: smaller;">
                  Rachunek: <span style="font-weight: bold">{{user.account}}</span>
                </div>
              </div>
              <div class="ui-grid-row">
                <div *ngIf="user?.company" class="ui-grid-col-12" style="text-align:left; font-size: smaller;">
                  <span style="font-weight: bold">{{user?.company}}</span>
                </div>
              </div>
              <div *ngIf="user?.excelId" class="ui-grid-row" style="text-align:left; font-size: smaller;">
                Numer Excel: <span style="font-weight: bold">{{user?.excelId}}</span>
              </div>
              <div *ngIf="user" class="ui-grid-row" style="text-align:left; font-size: smaller;">
                Aktywny: <span style="font-weight: bold; padding-right: 5px;">{{user?.isActive}}</span>
                Zatrudniony: <span style="font-weight: bold">{{user?.isEmployed}}</span>
              </div>
            </div>
          </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="footer" let-columns>
        <tr>
          <td *ngFor="let col of columns" [hidden]="col.hidden">
          </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="emptymessage">
        Brak pracowników...
      </ng-template>
    </p-table>
  </div>
</div>