<div class="ui-grid-row" style="max-width: 900px;">

    <div style="margin-top: 5px" *ngIf="userHistory" class="ui-g">
      <!--(onRowSelect)="onRowSelect($event)"-->
      <p-dataTable [value]="userHistory" [rows]="20" [paginator]="true" [globalFilter]="gb" #dt dataKey="id" resizableColumns="true" sortField="histCreationDate" sortOrder="-1" [loading]="loading" loadingIcon="fa-spinner" expandableRows="true">
        <p-header>
          <div>
            <i class="fa fa-search"></i>
            <input #gb type="text" pInputText size="50" placeholder="Filtruj">
          </div>
        </p-header>
        
        <p-column expander="true" styleClass="col-icon" [style]="{'width': '30px'}"></p-column>
        
        <p-column [sortable]="true" field="id" header="Id bazy" [hidden]="true"></p-column>
        <p-column [sortable]="true" field="excelId" header="Id excel" [hidden]="true"></p-column>

        <p-column header="Osoba" field="lastName"  [filter]="true" filterPlaceholder="Nazwisko" [style]="{'text-align':'center', 'width':'60px'}">
          <ng-template let-col let-user="rowData" png-template="body">
            <span [style.color]="'green'" class="ui-inputgroup-addon">{{user.firstName}}</span>
            <span [style.color]="'green'" class="ui-inputgroup-addon">{{user.lastName}}</span>
          </ng-template>
        </p-column>

        <p-column [sortable]="true" field="office" header="Biuro" ></p-column>

        <p-column [sortable]="true" field="role" header="Role" ></p-column>
        <p-column [sortable]="true" field="rank" header="Stopień" ></p-column>

        <p-column [sortable]="true" field="isFromPool" header="Pula" [filter]="true" filterPlaceholder="Y/N" [style]="{'text-align':'center', 'width':'45px'}">
          <ng-template let-col let-user="rowData" png-template="body">
            <span *ngIf="user[col.field]=='Y'" [style.color]="'green'" class="ui-inputgroup-addon"><i [class]="'fa fa-users'"></i></span>
            <span *ngIf="user[col.field]!='Y'" [style.color]="'grey'" class="ui-inputgroup-addon"><i [class]="'fa fa-street-view'"></i></span>
          </ng-template>

        </p-column>
        <p-column [sortable]="true" field="projectFactor" header="Współczynnik" ></p-column>


        <p-column [sortable]="true" field="salary" header="Wynagrodzenie" ></p-column>
        <p-column [sortable]="true" field="salaryRate" header="St. gwarantowana" ></p-column>
        <p-column [sortable]="true" field="leaveRate" header="St. za urlop" ></p-column>

<!--
        <p-column [sortable]="true" field="isActive" header="Aktywny" ></p-column>
        <p-column [sortable]="true" field="isEmployed" header="Pracuje" ></p-column>-->

        <!--<p-column [sortable]="true" field="company" header="Firma" ></p-column>
        <p-column [sortable]="true" field="agreement" header="Umowa" ></p-column>-->



        <!--
        <p-column [sortable]="true" field="lastModDate" header="Od" ></p-column>
        <p-column [sortable]="true" field="histCreationDate" header="Do" ></p-column>
        <p-column [sortable]="true" field="modifiedBy" header="Modyfikował" ></p-column>
        -->

        <p-column [sortable]="true" field="histCreationDate" header="Do" [style]="{'text-align':'center', 'width':'120px'}">
          <ng-template let-col let-user="rowData" png-template="body">
            <span *ngIf="user[col.field]==CURRENT_EOF" [style.color]="'green'" class="ui-inputgroup-addon">Bieżący</span>
            <span *ngIf="user[col.field]!=CURRENT_EOF" >{{user[col.field]}}</span>
          </ng-template>

        </p-column>

        <ng-template let-user png-template="rowexpansion">
          <div class="ui-grid ui-grid-responsive ui-fluid" style="font-size:16px;padding:20px">

            <div *ngIf="user?.histCreationDate == CURRENT_EOF" class="ui-grid-row" style="text-align:left; font-size: smaller;">
              Rekord bieżący
            </div>
            <div *ngIf="user?.modifiedBy" class="ui-grid-row" style="text-align:left; font-size: smaller;">
              Rekord modyfikowany przez: <span style="font-weight: bold">{{user?.modifiedByUser?.email}}</span>
            </div>
            <div *ngIf="user?.lastModDate" class="ui-grid-row" style="text-align:left; font-size: smaller;">
              Rekord aktywny od: <span style="font-weight: bold">{{user?.lastModDate}}</span>
            </div>
            <div *ngIf="user?.histCreationDate" class="ui-grid-row" style="text-align:left; font-size: smaller;">
              Rekord aktywny do: <span style="font-weight: bold">{{user?.histCreationDate}}</span>
            </div>
            <hr>


            <div class="ui-grid-row">
              <div *ngIf="user?.email" class="ui-grid-col-12" style="text-align:left; font-size: smaller;">
                Dane kontaktowe: tel. <span style="font-weight: bold">{{user?.phone}}</span>, email: <span style="font-weight: bold">{{user?.email}}</span>, adres: <span style="font-weight: bold">{{user?.addressStreet}}, {{user?.addressPost}}</span>
              </div>
            </div>
            <div class="ui-grid-row">
              <div *ngIf="user?.account" class="ui-grid-col-12" style="text-align:left; font-size: smaller;">
                Rachunek: <span style="font-weight: bold">{{user.account}}</span>
              </div>
            </div>
            <div class="ui-grid-row">
              <div *ngIf="user?.company" class="ui-grid-col-12" style="text-align:left; font-size: smaller;">
                <span style="font-weight: bold">{{user?.company}}</span>
              </div>
            </div>
            <div *ngIf="user?.excelId" class="ui-grid-row" style="text-align:left; font-size: smaller;">
              Numer Excel: <span style="font-weight: bold">{{user?.excelId}}</span>
            </div>
            <div *ngIf="user" class="ui-grid-row" style="text-align:left; font-size: smaller;">
                Aktywny: <span style="font-weight: bold; padding-right: 5px;">{{user?.isActive}}</span>
                Zatrudniony: <span style="font-weight: bold">{{user?.isEmployed}}</span>
            </div>
          </div>
        </ng-template>


        <!--<p-column [sortable]="true" field="status" header="statusSearch"  [style]="{'width':'0px'}"></p-column>&lt;!&ndash; search &ndash;&gt;
        <p-column [sortable]="true" field="statusCode" header="Status" >
          <ng-template let-col let-order="rowData" png-template="body">
            <span class="ui-inputgroup-addon"><i [class]="toolsService.getStatusIcon(order.statusCode)"></i></span>
            <span style="padding: 3px">{{order.status}}</span>
          </ng-template>
        </p-column>
-->
        <ng-template png-template="emptymessage">
          Brak wpisów w historii...
        </ng-template>

      </p-dataTable>

    </div>
</div>

