<p-accordion (onOpen)="onTabOpen($event)">
    <p-accordionTab header="Bieżace" [selected]="false">
        <div *ngIf="currentPayroll">
            <div class="ui-grid-row" style="margin-top: 10px;">
                <div class="ui-grid-col-12">
                    <div style="margin-top: 0px; margin-bottom: 10px;">
                        <span style="margin-right: 2px;">
                            Poniżej zaprezentowano dane z bieżącego okresu. Nie można ich zaakceptować dopóki okres
                            rozliczeniowy się nie zakończy. Dane te pojawią się jako niezaakceptowane w historii, gdzie
                            będzie można je zaakceptować.
                        </span>
                    </div>
                </div>
            </div>
            <div class="ui-grid-row" style="margin-top: 10px;">
                <div class="ui-grid-col-11">
                    <span style="margin-right: 2px;" [style.color]="'black'">Za okres:</span><span
                        [style.color]="'#286090'">{{currentPayroll[0]?.formattedPeriodDate}}</span>
                    <span style="margin-left: 10px; margin-right: 2px;" [style.color]="'black'">Wpolczynnik
                        nadgodzin:</span><span [style.color]="'#286090'">{{currentPayroll[0]?.overTimeFactor}}</span>
                    <span style="margin-left: 10px; margin-right: 2px;"
                        [style.color]="'black'">Zaakceptowany:</span><span
                        [style.color]="currentPayroll[0]?.approved=='Y'?'black':'orange'">{{currentPayroll[0]?.approved=='Y'?'TAK':'NIE'}}</span>
                    <span style="margin-left: 10px; margin-right: 2px;"
                        [style.color]="'black'">Wygenerowany:</span><span
                        [style.color]="'#286090'">{{currentPayroll[0]?.lastMod}}</span>
                    <span style="margin-left: 10px; margin-right: 2px;" [style.color]="'black'">Budżet puli:</span><span
                        [style.color]="'#286090'">{{currentPayroll[0]?.budget | currency:'PLN'}}</span>
                    <span style="margin-left: 10px; margin-right: 2px;" [style.color]="'black'">Koszt 1h z
                        puli:</span><span
                        [style.color]="'#286090'">{{currentPayroll[0]?.poolRate | currency:'PLN'}}</span>
                    <span style="margin-left: 10px; margin-right: 2px;" [style.color]="'black'">Koszt
                        wypłat:</span><span
                        [style.color]="'#286090'">{{calculatePayrollCost(currentPayroll[0]?.periodDate) | currency:'PLN'}}</span>
                </div>
                <div class="ui-grid-col-1">
                    <div style="margin-top: 0px; margin-bottom: 10px;">
                        <button type="button" pButton icon="fa fa-file-o" iconPos="left" label="Bieżące CSV"
                            (click)="current.exportCSV()"></button>
                        <span style="margin-right: 10px;"></span>
                    </div>
                </div>
            </div>
            <p-table #current dataKey="id" [columns]="cols" [value]="currentPayroll" [resizableColumns]="true"
                sortField="user.excelId" sortOrder="1" scrollable="true" scrollHeight="600px"
                loadingIcon="fa fa-spinner" [globalFilterFields]="cols" [responsive]="false" [metaKeySelection]="false"
                rowGroupMode="rowspan" csvSeparator=";"
                [exportFilename]="'wynagrodzenie_'+currentPayroll[0]?.formattedPeriodDate">
                <ng-template pTemplate="caption">
                    <div>
                        <i class="fa fa-search"></i>
                        <input type="text" pInputText size="50" placeholder="Filtruj"
                            (input)="current.filterGlobal($event.target.value, 'contains')" style="width:auto">
                    </div>
                </ng-template>
                <ng-template pTemplate="header" let-columns let-rowData>
                    <tr>
                        <th *ngFor="let col of columns" [hidden]="col.hidden" [pSortableColumn]="col.field"
                            [ngClass]="col.class" pResizableColumn excludeGlobalFilter=col.exclude>
                            <span class="header">
                                {{col.header}}
                                <p-sortIcon *ngIf="!col.button && col.sortable" [field]="col.field"></p-sortIcon>
                            </span>

                        </th>
                        <th header="Historia" [style]="{'width':'26px','text-align':'center'}">
                            <ng-template let-userRow="rowData" pTemplate="body">
                            </ng-template>
                        </th>
                    </tr>
                    <tr>
                        <th *ngFor="let col of columns" [hidden]="col.hidden">
                            <input class="width-100" [attr.placeholder]="col.header === 'Pula' ? 'Y/N' : 'Filtruj'"
                                pInputText type="text"
                                (input)="current.filter($event.target.value, col.field, col.filterMatchMode)"
                                *ngIf="col.filter">
                        </th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-rowData let-columns="columns">
                    <tr [pSelectableRow]="rowData" [pContextMenuRow]="rowData" [pSelectableRowDblClick]="rowData">
                        <td *ngFor="let col of columns" [hidden]="col.hidden" filterMatchMode="col.contains"
                            [ngClass]="col.class">

                            <span *ngIf="col.excelId">
                                {{rowData['user'].excelId }}
                            </span>
                            <span *ngIf="col.officeCode">
                                {{rowData['user'].officeCode }}
                            </span>
                            <span *ngIf="col.lastName" [style.font-weight]="'bolder'">
                                <span class="ui-inputgroup-addon">{{rowData.user['firstName']}}
                                    {{rowData.user['lastName']}}</span>
                            </span>
                            <span *ngIf="col.isFromPool">
                                <span *ngIf="rowData[col.field]=='Y'" [style.color]="'green'"
                                    class="ui-inputgroup-addon"><i [class]="'fa fa-users'"></i></span>
                                <span *ngIf="rowData[col.field]!='Y'" [style.color]="'grey'"
                                    class="ui-inputgroup-addon"><i [class]="'fa fa-street-view'"></i></span>
                            </span>
                            <span *ngIf="col.price">
                                {{rowData[col.field] | currency:'PLN' }}
                            </span>
                            <span *ngIf="!col.icon && ! col.price">
                                {{rowData[col.field]}}
                            </span>
                        </td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="emptymessage">
                    Brak danych...
                </ng-template>
            </p-table>
        </div>
    </p-accordionTab>
    <p-accordionTab header="Historyczne" [selected]="false">
        <div *ngIf="historicalPayrolls">
            <div class="ui-grid-row" style="margin-top: 10px;">
                <div class="ui-grid-col-12">
                    <span>Pobierz całą historię: </span>
                    <button type="button" pButton icon="fa fa-file-o" iconPos="left" label="Historia CSV"
                        (click)="allHistorical.exportCSV()"></button>
                </div>
            </div>
            <div class="ui-grid-row" style="margin-top: 10px;">
                <div class="ui-grid-col-12">
                    <p-panel header="Wynagrodzenia historyczne">
                        <div class="ui-g">
                            <div class="ui-g-2">
                                <span>Aby wyświetlić historyczne wypłaty proszę wybrać miesiąc</span>
                            </div>
                            <div class="ui-g-3">
                                <p-dropdown [options]="periodForDropDown" [(ngModel)]="selectedPeriod"
                                    (onChange)="setHistroicalPayrolls()" placeholder="-- Wybierz --"></p-dropdown>
                            </div>
                            <div class="ui-g-7">
                                <div *ngIf="firsHistoricalPayroll != null">

                                    <div style="vertical-align: center">
                                        <span style="margin-left: 10px; margin-right: 2px;" [style.color]="'black'">Za
                                            okres:</span><span [style.color]="'#286090'"
                                            style="font-weight: bold">{{firsHistoricalPayroll?.formattedPeriodDate}}</span>
                                        <span style="margin-left: 10px;"
                                            [style.color]="firsHistoricalPayroll?.approved=='Y'?'black':'orange'">{{firsHistoricalPayroll?.approved=='Y'?'Zaakceptowany':'Niezaakceptowany'}}</span>
                                        <span style="margin-left: 10px; margin-right: 2px;"
                                            [style.color]="'black'">Wspólczynnik nadgodzin:</span><span
                                            [style.color]="'#286090'">{{firsHistoricalPayroll?.formattedOverTimeFactor}}</span>
                                    </div>
                                    <div style="vertical-align: center">
                                        <span style="margin-left: 10px; margin-right: 2px;"
                                            [style.color]="'black'">Autor:</span><span
                                            [style.color]="'#286090'">{{firsHistoricalPayroll?.modifiedByUser?.firstName}}
                                            {{firsHistoricalPayroll?.modifiedByUser?.lastName}}</span>
                                        <span *ngIf="firsHistoricalPayroll?.lastMod"
                                            style="margin-left: 10px; margin-right: 2px;"
                                            [style.color]="'black'">Wygenerowany:</span><span
                                            [style.color]="'#286090'">{{firsHistoricalPayroll?.lastMod}}</span>
                                    </div>
                                    <div style="vertical-align: center">
                                        <span style="margin-left: 10px; margin-right: 2px;"
                                            [style.color]="'black'">Budżet puli:</span><span
                                            [style.color]="'#286090'">{{firsHistoricalPayroll?.budget  | currency:'PLN'}}</span>
                                        <span style="margin-left: 10px; margin-right: 2px;"
                                            [style.color]="'black'">Koszt 1h z puli:</span><span
                                            [style.color]="'#286090'">{{firsHistoricalPayroll?.poolRate | currency:'PLN'}}</span>
                                        <span style="margin-left: 10px; margin-right: 2px;"
                                            [style.color]="'black'">Wypłaty:</span><span
                                            [style.color]="'#286090'">{{calculatePayrollCost(firsHistoricalPayroll?.periodDate) | currency:'PLN'}}</span>
                                    </div>
                                    <div style="vertical-align: center; width: 100%">
                                        <button *ngIf="firsHistoricalPayroll['approved']=='Y'" type="button"
                                            style="margin: 5px; margin-right: 15px; width: 160px;" pButton
                                            icon="fa fa-repeat" iconPos="left" label="Przelicz"
                                            (click)="showApproveDialog(firsHistoricalPayroll.periodDate)"
                                            [class]="firsHistoricalPayroll.recalculateButtonStyle"
                                            [disabled]="firsHistoricalPayroll.recalculateButtonStyle === 'ui-button-danger'"></button>
                                        <button *ngIf="firsHistoricalPayroll['approved']!='Y'" type="button"
                                            style="margin: 5px; margin-right: 15px; width: 160px;" pButton
                                            icon="fa fa-check" iconPos="left" label="Zaakceptuj"
                                            (click)="showApproveDialog(firsHistoricalPayroll.periodDate)"
                                            class="ui-button-success"></button>
                                        <button type="button" pButton icon="fa fa-file-o" iconPos="left" label="CSV"
                                            (click)="exportCSV(firsHistoricalPayroll.periodDate,historical)"
                                            style="margin: 5px; margin-right: 15px; width: 160px;"></button>
                                        <button type="button" pButton icon="fa fa-table" iconPos="left" label="Zlecenia"
                                            (click)="showAllOrders(firsHistoricalPayroll.periodDate)"
                                            style="margin: 5px; margin-right: 15px; width: 160px;"></button>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </p-panel>
                    <p-table #historical dataKey="formattedPeriodDate" [columns]="colsHistorical"
                        [value]="historicalPayrollsFiltered" [resizableColumns]="true" sortField="formattedPeriodDate"
                        sortOrder="-1" loadingIcon="fa fa-spinner" [globalFilterFields]="colsHistorical"
                        [responsive]="false" [metaKeySelection]="false" csvSeparator=";"
                        [exportFilename]="'wynagrodzenia_historyczne'" scrollable="true" scrollHeight="600px"
                        selectionMode="single" [selection]="selectedPeriod">
                        <ng-template pTemplate="header" let-columns let-rowData>
                            <tr>
                                <th *ngFor="let col of columns" [hidden]="col.hidden" [pSortableColumn]="col.field"
                                    [ngClass]="col.class" pResizableColumn excludeGlobalFilter=col.exclude>
                                    <span class="header">
                                        {{col.header}}
                                        <p-sortIcon *ngIf="!col.button && col.sortable" [field]="col.field">
                                        </p-sortIcon>
                                    </span>

                                </th>
                                <th header="Historia" [style]="{'width':'26px','text-align':'center'}">
                                    <ng-template let-userRow="rowData" pTemplate="body">
                                    </ng-template>
                                </th>
                            </tr>
                            <tr>
                                <th *ngFor="let col of columns" [hidden]="col.hidden">
                                    <input class="width-100"
                                        [attr.placeholder]="col.header === 'Pula' ? 'Y/N' : 'Filtruj'" pInputText
                                        type="text"
                                        (input)="historical.filter($event.target.value, col.field, col.filterMatchMode)"
                                        *ngIf="col.filter">
                                </th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-rowData let-rowIndex="rowIndex" let-columns="columns">
                            <tr [pSelectableRow]="rowData">
                                <td *ngFor="let col of columns" [hidden]="col.hidden" filterMatchMode="col.contains"
                                    [ngClass]="col.class">
                                    <span *ngIf="col.excelId">
                                        {{rowData['user'].excelId }}
                                    </span>
                                    <button *ngIf="col.details" type="button" pButton icon="fa fa-table"
                                        iconPos="center"
                                        (click)="completedOrderService.showOrders(rowData.periodDate, rowData.completedWo)"
                                        style="margin-top: 0px"></button>
                                    <span *ngIf="col.officeCode">
                                        {{rowData['user'].officeCode }}
                                    </span>
                                    <span *ngIf="col.lastName" [style.font-weight]="'bolder'">
                                        <span class="ui-inputgroup-addon">{{rowData.user['firstName']}}
                                            {{rowData.user['lastName']}}</span>
                                    </span>
                                    <span *ngIf="col.isFromPool">
                                        <span *ngIf="rowData[col.field]=='Y'" [style.color]="'green'"
                                            class="ui-inputgroup-addon"><i [class]="'fa fa-users'"></i></span>
                                        <span *ngIf="rowData[col.field]!='Y'" [style.color]="'grey'"
                                            class="ui-inputgroup-addon"><i [class]="'fa fa-street-view'"></i></span>
                                    </span>
                                    <span *ngIf="col.price">
                                        {{rowData[col.field] | currency:'PLN' }}
                                    </span>
                                    <span *ngIf="!col.icon && ! col.price">
                                        {{rowData[col.field]}}
                                    </span>
                                </td>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="emptymessage">
                            Brak danych... Proszę wybrać miesiąc dla danych historycznych
                        </ng-template>
                    </p-table>
                </div>
            </div>
        </div>
        <!-- Table for export all historical payrolls -->
        <p-table #allHistorical dataKey="formattedPeriodDate" [columns]="colsHistorical" [value]="historicalPayrolls"
            csvSeparator=";" [exportFilename]="'Historyczne wynagrodzenia'">
        </p-table>
    </p-accordionTab>
    <p-accordionTab header="Raporty" [selected]="false" >
        <app-users-payroll-report> </app-users-payroll-report>
        <!-- <p-toast [style]="{marginTop: '80px'}"></p-toast> -->

        <!-- <p-chart type="line" [data]="data" (onDataSelect)="selectData($event)"></p-chart> -->
    </p-accordionTab>
</p-accordion>
<p-dialog *ngIf="aSelectedPayroll?.periodDate" [header]="'Akceptacja płac za okres '+aSelectedPayroll.periodDate"
    [(visible)]="displayApproveDialog" [responsive]="true" [minWidth]="500" [width]="800">
    <form name="f" (ngSubmit)="f.form?.valid && approve()" #f="ngForm">
        <div class="ui-grid ui-grid-responsive ui-fluid">
            <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !overTimeFactor?.valid }">
                <div class="ui-grid-row" style="margin-top: 10px;">
                    <div class="ui-grid-col-4"><label for="overTimeFactor">Współczynnik nadgodzin [%]</label></div>
                    <div class="ui-grid-col-8 ui-fluid">
                        <input id="overTimeFactor" type="number" class="form-control" name="overTimeFactor"
                            [(ngModel)]="overTimeFactor" required min="0" max="500" pattern="^[0-9]\d*$" />
                        <div *ngIf="f.submitted && !overTimeFactor?.valid" class="help-block">wymagany jest współczynni
                            wyrażony w % (> 0)</div>
                    </div>
                </div>
            </div>
            <div class="ui-grid-row" style="margin-top: 10px;">
                <div class="ui-grid-col-4"><label for="poolRate">Stawka za 1h pracy puli</label></div>
                <div class="ui-grid-col-8 ui-fluid">
                    <span id="poolRate">{{aSelectedPayroll.poolRate | currency:'PLN'}}</span>
                </div>
            </div>
        </div>
        <p-footer>
            <div class="form-group">
                <div class="ui-dialog-buttonpane ui-helper-clearfix">
                    <button style="width: 200px; height: 30px;" width="200px" pButton class="btn btn-primary"><i
                            [class]="'fa fa-check'"></i>Zatwierdź</button>
                </div>
            </div>
        </p-footer>
    </form>
</p-dialog>
<p-dialog *ngIf="approvedPayroll" [(visible)]="displayApproveResultDialog"
    [header]="'Zatwierdzone płace za okres '+approvedPayroll[0].periodDate" [responsive]="true" [minWidth]="1400"
    [width]="1400">
    <p-panel header="Zatwierdzone" *ngIf="approvedPayroll">
        <div class="ui-grid-row" style="margin-top: 10px;">
            <div class="ui-grid-col-11">
                <span style="margin-left: 10px; margin-right: 2px;" [style.color]="'black'">Za okres:</span><span
                    [style.color]="'#286090'">{{approvedPayroll[0]?.formattedPeriodDate}}</span>
                <span style="margin-left: 10px; margin-right: 2px;" [style.color]="'black'">Wspólczynnik
                    nadgodzin:</span><span [style.color]="'#286090'">{{approvedPayroll[0]?.overTimeFactor}}</span>
                <span style="margin-left: 10px; margin-right: 2px;" [style.color]="'black'">Zaakceptowany:</span><span
                    [style.color]="approvedPayroll[0].approved=='Y'?'black':'orange'">{{approvedPayroll[0]?.approved=='Y'?'TAK':'NIE'}}</span>
                <span style="margin-left: 10px; margin-right: 2px;" [style.color]="'black'">Budżet puli:</span><span
                    [style.color]="'#286090'">{{approvedPayroll[0].budget | currency:'PLN'}}</span>
                <span style="margin-left: 10px; margin-right: 2px;" [style.color]="'black'">Koszt 1h z puli:</span><span
                    [style.color]="'#286090'">{{approvedPayroll[0].poolRate | currency:'PLN'}}</span>
                <span style="margin-left: 10px; margin-right: 2px;" [style.color]="'black'">Wypłaty:</span><span
                    [style.color]="'#286090'">{{approvedPayrollCost | currency:'PLN'}}</span>
            </div>
            <div class="ui-grid-col-1">
                <div style="margin-top: 0px; margin-bottom: 10px;">
                    <button type="button" pButton icon="fa fa-file-o" iconPos="left" label="CSV"
                        (click)="approvedPayrollTable.exportCSV()"></button>
                </div>
            </div>
        </div>
        <p-table #approvedPayrollTable dataKey="id" [columns]="cols" [value]="approvedPayroll" [resizableColumns]="true"
            sortField="user.excelId" sortOrder="1" scrollable="true" scrollHeight="600px" loadingIcon="fa fa-spinner"
            [globalFilterFields]="cols" [responsive]="false" [metaKeySelection]="false" rowGroupMode="rowspan"
            csvSeparator=";" [exportFilename]="'wynagrodzenie_'+approvedPayroll[0]?.formattedPeriodDate">
            <ng-template pTemplate="caption">
                <div>
                    <i class="fa fa-search"></i>
                    <input type="text" pInputText size="50" placeholder="Filtruj"
                        (input)="approvedPayrollTable.filterGlobal($event.target.value, 'contains')" style="width:auto">
                </div>
            </ng-template>
            <ng-template pTemplate="header" let-columns let-rowData>
                <tr>
                    <th *ngFor="let col of columns" [hidden]="col.hidden" [pSortableColumn]="col.field"
                        [ngClass]="col.class" pResizableColumn excludeGlobalFilter=col.exclude>
                        <span class="header">
                            {{col.header}}
                            <p-sortIcon *ngIf="!col.button && col.sortable" [field]="col.field"></p-sortIcon>
                        </span>

                    </th>
                    <th header="Historia" [style]="{'width':'26px','text-align':'center'}">
                        <ng-template let-userRow="rowData" pTemplate="body">
                        </ng-template>
                    </th>
                </tr>
                <tr>
                    <th *ngFor="let col of columns" [hidden]="col.hidden">
                        <input class="width-100" [attr.placeholder]="col.header === 'Pula' ? 'Y/N' : 'Filtruj'"
                            pInputText type="text"
                            (input)="approvedPayrollTable.filter($event.target.value, col.field, col.filterMatchMode)"
                            *ngIf="col.filter">
                    </th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-rowData let-columns="columns">
                <tr [pSelectableRow]="rowData" [pContextMenuRow]="rowData" [pSelectableRowDblClick]="rowData">
                    <td *ngFor="let col of columns" [hidden]="col.hidden" filterMatchMode="col.contains"
                        [ngClass]="col.class">

                        <span *ngIf="col.excelId">
                            {{rowData['user'].excelId }}
                        </span>
                        <span *ngIf="col.officeCode">
                            {{rowData['user'].officeCode }}
                        </span>
                        <span *ngIf="col.lastName" [style.font-weight]="'bolder'">
                            <span class="ui-inputgroup-addon">{{rowData.user['firstName']}}
                                {{rowData.user['lastName']}}</span>
                        </span>
                        <span *ngIf="col.isFromPool">
                            <span *ngIf="rowData[col.field]=='Y'" [style.color]="'green'" class="ui-inputgroup-addon"><i
                                    [class]="'fa fa-users'"></i></span>
                            <span *ngIf="rowData[col.field]!='Y'" [style.color]="'grey'" class="ui-inputgroup-addon"><i
                                    [class]="'fa fa-street-view'"></i></span>
                        </span>
                        <span *ngIf="col.price">
                            {{rowData[col.field] | currency:'PLN' }}
                        </span>
                        <span *ngIf="!col.icon && ! col.price">
                            {{rowData[col.field]}}
                        </span>
                    </td>
                </tr>
            </ng-template>
            <ng-template pTemplate="emptymessage">
                Brak danych...
            </ng-template>
        </p-table>
    </p-panel>
</p-dialog>
<p-dialog [(visible)]="completedOrderService.displayCompletedOrdersDialog"
    [header]="'Zlecenia zrealizowane ('+completedOrderService.completedOrders.length+')'" [minWidth]="800"
    [responsive]="true" [blockScroll]="true" [contentStyle]="{'height': '800px'}">
    <app-wo-list [listToDisplay]="completedOrderService.completedOrders" [exportFileName]="'Zlecenia zrealizowane'"></app-wo-list>
</p-dialog>