<div class="jumbotron">
  <div class="container">
    <h2>Wybierz użytkownika do modyfikacji</h2>
    <div class="ui-fluid">
      <p-autoComplete
              id="person" [(ngModel)]="selectedUser" [suggestions]="suggestedUsers"
              (completeMethod)="suggestUser($event)"
              (onSelect)="onSelectUser($event)"
              [dropdown]="true" field="displayName" [delay]="200" [minLength]="2" [required]="true"></p-autoComplete>
          <!-- does not work  [forceSelection]="true" -->
    </div>
  </div>

  <div *ngIf="selectedUser?.user" class="container">

    <hr>
    <h2>Modyfikacja {{selectedUser?.user?.firstName}} {{selectedUser?.user?.lastName}}</h2>

    <div *ngIf="operator?.roleCode?.indexOf('PR') != -1">
      <button type="button" pButton (click)="displayUserHistoryDialog=true" icon="fa-search" label="Historia"></button>
      <p-dialog [(visible)]="displayUserHistoryDialog" [header]="'Historia '+selectedUser?.user?.email" [minWidth]="900" [responsive]="true" showEffect="fade" [modal]="true" [blockScroll]="true" [contentStyle]="{'height': '900px'}">
        <app-user-history [selectedUser]="selectedUser?.user" [staff]="users"></app-user-history>
      </p-dialog>
      <button *ngIf="selectedUser?.user?.roleCode?.indexOf('VE') == -1 && selectedUser?.user?.isEmployed == 'Y'" type="button" pButton (click)="showDismissDialog()" icon="fa-window-close" label="Zakończ współprace" class="ui-button-warning"></button>
      <!-- <p *ngIf="selectedUser?.user?.roleCode?.indexOf('VE') == -1 && selectedUser?.user?.isEmployed == 'N'" style="color: #761c19">Zakończono współpracę {{selectedUser?.user?.lastModDate}}!!! Zastanów się jaki jest cel modyfikacji byłego pracownika?</p> -->
      <p *ngIf="show && selectedUser?.user?.isEmployed == 'N'" style="color: #761c19">Zakończono współpracę {{selectedUser?.user?.lastModDate}}!!! Zastanów się jaki jest cel modyfikacji byłego pracownika?</p>
    </div>
<!-- Modal dismiss-->
    <p-dialog  [header]="'Zakończenie współpracy z ' +selectedUser.user.firstName + ' '+selectedUser.user.lastName" [(visible)]="displayDismissDialog" [responsive]="true" showEffect="fade" [modal]="true" [minWidth]="500">  
        <p-fieldset legend="Dane pracownika" > 
            <div class="ui-grid-row">
                <div class="ui-grid-col-4">Imię:</div>
                <div class="ui-grid-col-8">{{selectedUser.user.firstName}}</div>
            </div>
            <div class="ui-grid-row">
                <div class="ui-grid-col-4">Nazwisko:</div>
                <div class="ui-grid-col-8">{{selectedUser.user.lastName}}</div>
            </div>
            <div class="ui-grid-row">
                <div class="ui-grid-col-4">Adres e-mail:</div>
                <div class="ui-grid-col-8">{{selectedUser.user.email}}</div>
            </div>
            <div class="ui-grid-row">
                <div class="ui-grid-col-4">Identyfikator Exced ID:</div>
                <div class="ui-grid-col-8">{{selectedUser.user.excelId}}</div>
            </div>
            <div class="ui-grid-row">
                <div class="ui-grid-col-4">Funkcja w systemie:</div>
                <div class="ui-grid-col-8">{{selectedUser.user.role}}</div>
            </div>
            <div class="ui-grid-row">
                <div class="ui-grid-col-4">Biuro macierzyste:</div>
                <div class="ui-grid-col-8">{{selectedUser.user.office}}</div>
            </div>
            <br/>            
        </p-fieldset>
        <br/>
        <p-fieldset legend="Zakończyć współpracę ?">         
          <div class="ui-grid-row" align="center">
              <div class="ui-grid-col-12" align="center">
                <p >Zakończenie współpracy spowoduje usunięcie wszystkich danych pracownika czy jesteś pewien że chcesz zakończyć współpracę? </p>
              </div>             
          </div>
          <br/>
          <div class="ui-grid-row">
            <div class="ui-grid-col-4" align="center">
              <button type="button" pButton (click)="dissmisWorker()" icon="fa fa-user-times" label="Zakończ współprace" class="ui-button-danger"></button>
            </div>
            <div class="ui-grid-col-8" align="center">
              <button type="button" pButton (click)="displayDismissDialog=false" icon="fa-window-close" label="Anuluj" class="ui-button-info"></button>
            </div>
        </div>
        <br/>
      </p-fieldset>
  <br/>
      </p-dialog> 
        
<!-- Modal dismiss-->
    <form name="f" novalidate (ngSubmit)="f.form?.valid && changeUser()" #f="ngForm">
      <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !firstName?.valid }">
        <label for="firstName">Imie</label>
        <input id="firstName" type="text" class="form-control" name="firstName" [(ngModel)]="selectedUser.user.firstName" #firstName="ngModel" required minlength="3" />
        <div *ngIf="f.submitted && !firstName?.valid" class="help-block">Imie jest wymagane</div>
      </div>
      <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !lastName?.valid }">
        <label for="lastName">Nazwisko</label>
        <input id="lastName" type="text" class="form-control" name="lastName" [(ngModel)]="selectedUser.user.lastName" #lastName="ngModel" required minlength="3"/>
        <div *ngIf="f.submitted && !lastName?.valid" class="help-block">Nazwisko jest wymagane</div>
      </div>
      <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !newemail?.valid }">
        <label for="newemail">Email</label>
        <input id="newemail" type="email" class="form-control" name="newemail" [(ngModel)]="selectedUser.user.email" #newemail="ngModel" required email />
        <div *ngIf="f.submitted && !newemail?.valid" class="help-block">wymagany jest poprawny adres email</div>
      </div>


      <div *ngIf="show"  class="form-group" [ngClass]="{ 'has-error': f.submitted && !excelId?.valid }">
        <label for="excelId">Identyfikator excel</label>
        <input id="excelId" type="number" class="form-control" name="excelId" [(ngModel)]="selectedUser.user.excelId" #excelId="ngModel" required min="0"/>
        <div *ngIf="f.submitted && !excelId?.valid" class="help-block">Identyfikator w excel jest wymagany</div>
      </div>

      <div class="form-group">
        <p-radioButton name="activegroup" value="Y" [(ngModel)]="selectedUser.user.isActive" label="Aktywny (Konto)"></p-radioButton>
          <p-radioButton name="activegroup" value="N" [(ngModel)]="selectedUser.user.isActive" label="Nie aktywny (Brak konta)"></p-radioButton>
      </div>
      
      <div class="form-group" *ngIf="showRoles" [ngClass]="{ 'has-error': f.submitted && !(selectedUser?.user?.roleCode?.length > 0) }">
        <label for="roleCode">Funkcja w systemie</label>
        <p-selectButton [disabled]="operator.roleCode.indexOf('PR') == -1" name="roleCode" multiple="multiple" [options]="roles" [(ngModel)]="selectedUser.user.roleCode" (onChange)="checkSelect()" required roles></p-selectButton>
        <div *ngIf="f.submitted && !(selectedUser?.user?.roleCode?.length > 0)" class="help-block">Rola jest wymagana</div>
      </div>

      <div class="form-group" *ngIf="showOffices" [ngClass]="{ 'has-error': f.submitted && !officeCode?.valid }">
        <label for="officeCode">Biuro macierzyste</label>
        <p-selectButton id="officeCode" name="officeCode" [options]="offices" [(ngModel)]="selectedUser.user.officeCode" required #officeCode="ngModel"></p-selectButton>
        <!--<p-dropdown name="officeCode" [options]="offices | async" [(ngModel)]="user.officeCode" required autoWidth="false" ></p-dropdown>-->
        <div *ngIf="f.submitted && !officeCode?.valid" class="help-block">Biuro jest wymagane</div>
      </div>

      <div *ngIf="selectedUser.user.roleCode.indexOf('VE') > -1">
        <div style="margin-bottom: 10px; width: 100%; ">
          <label for="company">Firma zleceniodawcy</label>
          <div class="ui-fluid form-group" [ngClass]="{ 'has-error': f.submitted && !company?.valid }">
            <p-autoComplete
                    id="company"
                    name="company"
                    [(ngModel)]="company"
                    [suggestions]="suggestedCompanies"
                    (completeMethod)="suggestCompany($event)"
                    [dropdown]="true"
                    [forceSelection]="false"
                    placeholder="Wybierz/wpisz nazwę firmy zleceniodawcy"
                    required
                    ></p-autoComplete>
            <div *ngIf="f.submitted && !company?.valid" class="help-block">Firma jest wymagana</div>
          </div>
        </div>
      </div>

      <div *ngIf="selectedUser.user.roleCode.indexOf('VE') == -1">
        <!--<div style="margin-bottom: 10px; width: 100%; ">
          <label for="company">Podmiot zatrudniający</label>
          <div class="ui-fluid form-group" [ngClass]="{ 'has-error': f.submitted && !company?.valid }">
            <p-autoComplete
                    id="company"
                    name="company"
                    [(ngModel)]="company"
                    [suggestions]="suggestedCompanies"
                    (completeMethod)="suggestCompany($event)"
                    [dropdown]="true"
                    [forceSelection]="false"
                    placeholder="Wybierz/wpisz nazwę firmy zatrudniajacej BOT/DRU etc..."
                    required
                    ></p-autoComplete>
            <div *ngIf="f.submitted && !company?.valid" class="help-block">Firma jest wymagana</div>
          </div>
        </div>-->

        <div *ngIf="!show">
          <div style="margin-bottom: 10px;">
              <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !account?.valid }">
                  <label for="account">Nr konta</label>
                  <input id="account" type="text" class="form-control" name="account" [(ngModel)]="selectedUser.user.account" #account="ngModel" account minlength="26"/>
                  <div *ngIf="f.submitted && !account?.valid" class="help-block">numer rachunku jest niepoprawny</div>
              </div>

              <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !phone?.valid }">
                  <label for="phone">Telefon</label>
                  <input id="phone" type="text" class="form-control" name="phone" [(ngModel)]="selectedUser.user.phone" #phone="ngModel" phone minlength="9" />
                  <div *ngIf="f.submitted && !phone?.valid" class="help-block">numer telefonu jest niepoprawny</div>
              </div>

              <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !addressStreet?.valid }">
                  <label for="addressStreet">Ulica nr domu/lokal</label>
                  <input id="addressStreet" type="text" class="form-control" name="addressStreet" [(ngModel)]="selectedUser.user.addressStreet" #addressStreet="ngModel" addressStreet minlength="5"/>
                  <div *ngIf="f.submitted && !addressStreet?.valid" class="help-block">adres Ulica nr domu(/numer lokalu) jest niepoprawny</div>
              </div>

              <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !addressPost?.valid }">
                  <label for="addressPost">Kod, miejscowość</label>
                  <input id="addressPost" type="text" class="form-control" name="addressPost" [(ngModel)]="selectedUser.user.addressPost" #addressPost="ngModel"  addressPost minlength="7"/>
                  <div *ngIf="f.submitted && !addressPost?.valid" class="help-block">kod pocztowy oraz miejscowość są niepoprawne</div>
              </div>
          </div>
      </div>
<div *ngIf="show">
        <div style="margin-bottom: 10px;">
          <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !account?.valid }">
            <label for="account">Nr konta</label>
            <input id="account" type="text" class="form-control" name="account" [(ngModel)]="selectedUser.user.account" #account="ngModel" required account minlength="26"/>
            <div *ngIf="f.submitted && !account?.valid" class="help-block">wymagany jest poprawny numer rachunku</div>
          </div>

          <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !phone?.valid }">
            <label for="phone">Telefon</label>
            <input id="phone" type="text" class="form-control" name="phone" [(ngModel)]="selectedUser.user.phone" #phone="ngModel" required phone minlength="9" />
            <div *ngIf="f.submitted && !phone?.valid" class="help-block">wymagany jest numer telefonu</div>
          </div>

          <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !addressStreet?.valid }">
            <label for="addressStreet">Ulica nr domu/lokal</label>
            <input id="addressStreet" type="text" class="form-control" name="addressStreet" [(ngModel)]="selectedUser.user.addressStreet" #addressStreet="ngModel" required addressStreet minlength="5"/>
            <div *ngIf="f.submitted && !addressStreet?.valid" class="help-block">wymagany jest poprawny adres Ulica nr domu(/numer lokalu)</div>
          </div>

          <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !addressPost?.valid }">
            <label for="addressPost">Kod, miejscowość</label>
            <input id="addressPost" type="text" class="form-control" name="addressPost" [(ngModel)]="selectedUser.user.addressPost" #addressPost="ngModel" required addressPost minlength="7"/>
            <div *ngIf="f.submitted && !addressPost?.valid" class="help-block">wymagany jest poprawny kod pocztowy oraz miejscowość</div>
          </div>

          <div class="form-group" *ngIf="showRanks" [ngClass]="{ 'has-error': f.submitted && !rankCode?.valid }">
            <label for="rankCode">Stopień (powiązane ze sposobem wynagradzania)</label>
            <p-selectButton id="rankCode" name="rankCode" [options]="ranks" [(ngModel)]="selectedUser.user.rankCode" required #rankCode="ngModel"></p-selectButton>
            <!--<p-dropdown name="rankCode" [options]="ranks | async" [(ngModel)]="selectedUser.user.rankCode" required autoWidth="false" ></p-dropdown>-->
            <div *ngIf="f.submitted && !rankCode?.valid" class="help-block">Stopień jest wymagany</div>
          </div>


          <div *ngIf="operator.roleCode.indexOf('PR') !== -1 && selectedUser?.user?.rankCode === 'SEN'" class="form-group" [ngClass]="{ 'has-error': f.submitted && !salary?.valid }">
            <label for="salary">Stałe wynagrodzenie w PLN</label>
            <input id="salary" type="number" class="form-control" name="salary" [(ngModel)]="selectedUser.user.salary" #salary="ngModel" required salary pattern="^[0-9]\d*(\.\d+)?$">
            <div *ngIf="f.submitted && !salary?.valid" class="help-block">wymagane jest poprawne wynagrodznie (liczba > 0)</div>
          </div>
          <div *ngIf="operator.roleCode.indexOf('PR') !== -1 && selectedUser?.user?.rankCode !== 'SEN'" class="form-group" [ngClass]="{ 'has-error': f.submitted && !salaryRate?.valid }">
            <label for="salaryRate">Stawka gwarantowana w PLN</label>
            <input id="salaryRate" type="number" class="form-control" name="salaryRate" [(ngModel)]="selectedUser.user.salaryRate" #salaryRate="ngModel" required salaryRate pattern="^[0-9]\d*(\.\d+)?$"/>
            <div *ngIf="f.submitted && !salaryRate?.valid" class="help-block">wymagana jest stawka gwarantowana (liczba > 0)</div>
          </div>
          <div *ngIf="operator.roleCode.indexOf('PR') !== -1 && selectedUser?.user?.rankCode !== 'SEN'" class="form-group" [ngClass]="{ 'has-error': f.submitted && !leaveRate?.valid }">
            <label for="leaveRate">Stała stawka za urlop PLN</label>
            <input id="leaveRate" type="number" class="form-control" name="leaveRate" [(ngModel)]="selectedUser.user.leaveRate" #leaveRate="ngModel" required leaveRate pattern="^[0-9]\d*(\.\d+)?$"/>
            <div *ngIf="f.submitted && !leaveRate?.valid" class="help-block">wymagana jest stawka za urlop (liczba > 0)</div>
          </div>


          <!--<div class="form-group" *ngIf="showAgreements" [ngClass]="{ 'has-error': f.submitted && !agreementCode?.valid }">
            <label for="agreementCode">Główna umowa</label>
            <p-selectButton id="agreementCode" name="agreementCode" [options]="agreements" [(ngModel)]="selectedUser.user.agreementCode" required #agreementCode="ngModel"></p-selectButton>
            &lt;!&ndash;<p-dropdown name="agreementCode" [options]="agreements | async" [(ngModel)]="selectedUser.user.agreementCode" required autoWidth="false" ></p-dropdown>&ndash;&gt;
            <div *ngIf="f.submitted && !agreementCode?.valid" class="help-block">Umowa jest wymagane</div>
          </div>-->

          <div class="form-group" [ngClass]="{ 'has-error': f.submitted && selectedUser?.user?.isFromPool!='Y' && selectedUser?.user?.isFromPool!='N' }">
            <p-radioButton name="poolgroup" value="Y" [(ngModel)]="selectedUser.user.isFromPool" label="Pula (TAK)"></p-radioButton>
            <p-radioButton name="poolgroup" value="N" [(ngModel)]="selectedUser.user.isFromPool" label="Pula (NIE)"></p-radioButton>
            <div *ngIf="f.submitted && selectedUser?.user?.isFromPool!='Y' && selectedUser?.user?.isFromPool!='N'" class="help-block">Określenie przynależności do puli jest obowiązkowe</div>
          </div>

          <div *ngIf="showProjectFactor()" class="form-group" [ngClass]="{ 'has-error': f.submitted && !projectFactor?.valid }">
            <label for="projectFactor">Współczynnik puli (np. 1.2)</label>
            <input id="projectFactor" type="number" class="form-control" name="projectFactor" [(ngModel)]="selectedUser.user.projectFactor" (ngModelChange)="changeSalaryAndLeaveRate($event)" #projectFactor="ngModel" required projectFactor min="0"/>
            <div *ngIf="f.submitted && !projectFactor?.valid" class="help-block">wymagany jest poprawny współczynnik</div>
          </div>

        </div>
      </div>
</div>
      <div class="form-group">
        <button [disabled]="loading" class="btn btn-primary">Modyfikuj</button>
        <img *ngIf="loading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
        <a [routerLink]="['']" class="btn btn-link">Anuluj</a>
      </div>
    </form>
  </div>
</div>
