<div class="jumbotron">
    <div class="container">
        <h2>Dodaj nowego użytkownika</h2>
        <form name="f" novalidate (ngSubmit)="f.form?.valid && register()" #f="ngForm">
            <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !firstName?.valid }">
                <label for="firstName">Imie</label>
                <input id="firstName" type="text" class="form-control" name="firstName" [(ngModel)]="user.firstName" #firstName="ngModel" required minlength="3" />
                <div *ngIf="f.submitted && !firstName?.valid" class="help-block">Imie jest wymagane</div>
            </div>
            <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !lastName?.valid }">
                <label for="lastName">Nazwisko</label>
                <input id="lastName" type="text" class="form-control" name="lastName" [(ngModel)]="user.lastName" #lastName="ngModel" required minlength="3"/>
                <div *ngIf="f.submitted && !lastName?.valid" class="help-block">Nazwisko jest wymagane</div>
            </div>
            <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !newemail?.valid }">
                <label for="newemail">Email</label>
                <input id="newemail" type="email" class="form-control" name="newemail" [(ngModel)]="user.email" #newemail="ngModel" required email />
                <div *ngIf="f.submitted && !newemail?.valid" class="help-block">wymagany jest poprawny adres email</div>
            </div>

            <div class="form-group" *ngIf="showRoles">
                <label for="roleCode">Funkcja w systemie</label>
                <p-selectButton id="roleCode" name="roleCode" [options]="roles" multiple="multiple" [(ngModel)]="user.roleCode" required #roleCode="ngModel" (onChange)="checkSelect()"></p-selectButton>
                <div *ngIf="f.submitted && !roleCode?.valid" class="help-block">Rola jest wymagana</div>
            </div>


            <div class="form-group" *ngIf="showOffices">
                <label for="officeCode">Biuro macierzyste</label>
                <p-selectButton id="officeCode" name="officeCode" [options]="offices" [(ngModel)]="user.officeCode" required #officeCode="ngModel"></p-selectButton>
                <!--<p-dropdown name="officeCode" [options]="offices | async" [(ngModel)]="user.officeCode" required autoWidth="false" ></p-dropdown>-->
                <div *ngIf="f.submitted && !officeCode?.valid" class="help-block">Biuro jest wymagane</div>
            </div>

            <div *ngIf="show" style="width: 100%; margin-bottom: 10px;">
                <label for="company">Firma Zlecająca</label>
                <div class="ui-fluid">
                    <p-autoComplete
                            id="company"
                            name="company"
                            [(ngModel)]="company"
                            [suggestions]="suggestedCompanies"
                            (completeMethod)="suggestCompany($event)"
                            [dropdown]="true"
                            [forceSelection]="false"
                            placeholder="Wybierz/wpisz nazwę firmy zleceniodawcy..."
                            required
                            ></p-autoComplete>
                    <div *ngIf="f.submitted && !company?.valid" class="help-block">Firma jest wymagana</div>
                </div>
            </div>
            <div *ngIf="user.roleCode.indexOf('VE') == -1">
                <!--<div style="margin-bottom: 10px; width: 100%; ">
                    <label for="company">Podmiot zatrudniający</label>
                    <div class="ui-fluid">
                        <p-autoComplete
                            id="company"
                            name="company"
                            [(ngModel)]="company"
                            [suggestions]="suggestedCompanies"
                            (completeMethod)="suggestCompany($event)"
                            [dropdown]="true"
                            [forceSelection]="false"
                            placeholder="Wybierz/wpisz nazwę firmy zatrudniajacej BOT/DRU etc..."
                            required
                                ></p-autoComplete>
                        <div *ngIf="f.submitted && !company?.valid" class="help-block">Firma jest wymagana</div>
                    </div>
                </div>-->
            <div *ngIf="!show">
                <div style="margin-bottom: 10px;">
                    <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !account?.valid }">
                        <label for="account">Nr konta</label>
                        <input id="account" type="text" class="form-control" name="account" [(ngModel)]="user.account" #account="ngModel" account minlength="26"/>
                        <div *ngIf="f.submitted && !account?.valid" class="help-block">numer rachunku jest niepoprawny</div>
                    </div>

                    <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !phone?.valid }">
                        <label for="phone">Telefon</label>
                        <input id="phone" type="text" class="form-control" name="phone" [(ngModel)]="user.phone" #phone="ngModel" phone minlength="9" />
                        <div *ngIf="f.submitted && !phone?.valid" class="help-block">numer telefonu jest niepoprawny</div>
                    </div>

                    <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !addressStreet?.valid }">
                        <label for="addressStreet">Ulica nr domu/lokal</label>
                        <input id="addressStreet" type="text" class="form-control" name="addressStreet" [(ngModel)]="user.addressStreet" #addressStreet="ngModel" addressStreet minlength="5"/>
                        <div *ngIf="f.submitted && !addressStreet?.valid" class="help-block">adres Ulica nr domu(/numer lokalu) jest niepoprawny</div>
                    </div>

                    <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !addressPost?.valid }">
                        <label for="addressPost">Kod, miejscowość</label>
                        <input id="addressPost" type="text" class="form-control" name="addressPost" [(ngModel)]="user.addressPost" #addressPost="ngModel"  addressPost minlength="7"/>
                        <div *ngIf="f.submitted && !addressPost?.valid" class="help-block">kod pocztowy oraz miejscowość jest nipoprawna</div>
                    </div>
                </div>
            </div>

                <div *ngIf="show">
                <div style="margin-bottom: 10px;">
                    <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !account?.valid }">
                        <label for="account">Nr konta</label>
                        <input id="account" type="text" class="form-control" name="account" [(ngModel)]="user.account" #account="ngModel" required account minlength="26"/>
                        <div *ngIf="f.submitted && !account?.valid" class="help-block">wymagany jest poprawny numer rachunku</div>
                    </div>

                    <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !phone?.valid }">
                        <label for="phone">Telefon</label>
                        <input id="phone" type="text" class="form-control" name="phone" [(ngModel)]="user.phone" #phone="ngModel" required phone minlength="9" />
                        <div *ngIf="f.submitted && !phone?.valid" class="help-block">wymagany jest numer telefonu</div>
                    </div>

                    <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !addressStreet?.valid }">
                        <label for="addressStreet">Ulica nr domu/lokal</label>
                        <input id="addressStreet" type="text" class="form-control" name="addressStreet" [(ngModel)]="user.addressStreet" #addressStreet="ngModel" required addressStreet minlength="5"/>
                        <div *ngIf="f.submitted && !addressStreet?.valid" class="help-block">wymagany jest poprawny adres Ulica nr domu(/numer lokalu)</div>
                    </div>

                    <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !addressPost?.valid }">
                        <label for="addressPost">Kod, miejscowość</label>
                        <input id="addressPost" type="text" class="form-control" name="addressPost" [(ngModel)]="user.addressPost" #addressPost="ngModel" required addressPost minlength="7"/>
                        <div *ngIf="f.submitted && !addressPost?.valid" class="help-block">wymagany jest poprawny kod pocztowy oraz miejscowość</div>
                    </div>
                </div>
                

                <!-- <div *ngIf="user.roleCode.indexOf('CN') == -1"> -->
                    <div  class="form-group" [ngClass]="{ 'has-error': f.submitted && !excelId?.valid  }">
                        <label for="excelId">Identyfikator excel</label>
                        <input id="excelId" type="number" class="form-control" name="excelId" [(ngModel)]="user.excelId" #excelId="ngModel"  required excelId minlength="1" min="0" />
                        <div *ngIf="f.submitted && !excelId?.valid " class="help-block">Identyfikator w excel jest wymagany (liczba >= 0)</div>
                    </div>

                    <div class="form-group" *ngIf="showRanks">
                        <label for="rankCode">Zaszeregowanie (powiązane ze sposobem wynagradzania)</label>
                        <p-selectButton id="rankCode" name="rankCode" [options]="ranks" [(ngModel)]="user.rankCode" required #rankCode="ngModel"></p-selectButton>
                        <!--<p-dropdown name="rankCode" [options]="ranks | async" [(ngModel)]="user.rankCode" required autoWidth="false" ></p-dropdown>-->
                        <div *ngIf="f.submitted && !rankCode?.valid" class="help-block">Zaszeregowanie jest wymagane</div>
                    </div>

                    <div *ngIf="operator.roleCode.indexOf('PR') !== -1 && user?.rankCode === 'SEN'" class="form-group" [ngClass]="{ 'has-error': f.submitted && !salary?.valid }">
                        <label for="salary">Stałe wynagrodzenie w PLN</label>
                        <input pInputText id="salary" type="number" class="form-control" name="salary" [(ngModel)]="user.salary" #salary="ngModel" required salary min="0" pattern="^[0-9]\d*(\.\d+)?$"/>
                        <div *ngIf="f.submitted && !salary?.valid" class="help-block">wymagane jest poprawne wynagrodznie (liczba > 0)</div>
                    </div>
                    <div *ngIf="operator.roleCode.indexOf('PR') !== -1 && user?.rankCode !== 'SEN'" class="form-group" [ngClass]="{ 'has-error': f.submitted && !salaryRate?.valid }">
                        <label for="salaryRate">Stawka gwarantowana w PLN</label>
                        <input pInputText id="salaryRate" type="number" class="form-control" name="salaryRate" [(ngModel)]="user.salaryRate" #salaryRate="ngModel" required salaryRate min="0" pattern="^[0-9]\d*(\.\d+)?$"/>
                        <div *ngIf="f.submitted && !salaryRate?.valid" class="help-block">wymagana jest stawka gwarantowana (liczba > 0)</div>
                    </div>
                    <div *ngIf="operator.roleCode.indexOf('PR') !== -1 && user?.rankCode !== 'SEN'" class="form-group" [ngClass]="{ 'has-error': f.submitted && !leaveRate?.valid }">
                        <label for="leaveRate">Stała stawka za urlop w PLN</label>
                        <input pInputText id="leaveRate" type="number" class="form-control" name="leaveRate" [(ngModel)]="user.leaveRate" #leaveRate="ngModel" required leaveRate min="0" pattern="^[0-9]\d*(\.\d+)?$"/>
                        <div *ngIf="f.submitted && !leaveRate?.valid" class="help-block">wymagana jest stawka za urlop (liczba > 0)</div>
                    </div>
                
                    <!--<div class="form-group" *ngIf="showAgreements">
                        <label for="agreementCode">Główna umowa</label>
                        <p-selectButton id="agreementCode" name="agreementCode" [options]="agreements" [(ngModel)]="user.agreementCode" required #agreementCode="ngModel"></p-selectButton>
                        &lt;!&ndash;<p-dropdown name="agreementCode" [options]="agreements | async" [(ngModel)]="user.agreementCode" required autoWidth="false" ></p-dropdown>&ndash;&gt;
                        <div *ngIf="f.submitted && !agreementCode?.valid" class="help-block">Umowa jest wymagane</div>
                    </div>-->

                    <div class="form-group">
                        <p-radioButton name="poolgroup" value="Y" [(ngModel)]="user.isFromPool" label="Pula (TAK)"></p-radioButton>
                        <p-radioButton name="poolgroup" value="N" [(ngModel)]="user.isFromPool" label="Pula (NIE)"></p-radioButton>
                    </div>

                    <div *ngIf="showProjectFactor()" class="form-group" [ngClass]="{ 'has-error': f.submitted && !projectFactor?.valid }">
                        <label for="projectFactor">Współczynnik (np. 1.2)</label>
                        <input id="projectFactor" type="number" class="form-control" name="projectFactor" [(ngModel)]="user.projectFactor" #projectFactor="ngModel" required projectFactor />
                        <div *ngIf="f.submitted && !projectFactor?.valid" class="help-block">wymagany jest poprawny współczynnik</div>
                    </div>
                </div>
                </div>
          

            <div *ngIf="user.roleCode.indexOf('CN') == -1" class="form-group">
                <p-radioButton name="activegroup" value="Y" [(ngModel)]="user.isActive" label="Aktywny (Konto - może się logować)"></p-radioButton>
                <p-radioButton name="activegroup" value="N" [(ngModel)]="user.isActive" label="Nie aktywny (Brak konta)"></p-radioButton>
            </div>
            <div *ngIf="show">                    
                <div class="form-group">
                    <p-radioButton name="employgroup" value="Y" [(ngModel)]="user.isEmployed" label="Jest pracownikiem"></p-radioButton>
                    <p-radioButton name="employgroup" value="N" [(ngModel)]="user.isEmployed" label="Nie jest pracownikiem"></p-radioButton>
                </div>
            </div>


            <div class="form-group">
                <button [disabled]="loading" class="btn btn-primary">Dodaj</button>
                <img *ngIf="loading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
                <a [routerLink]="['']" class="btn btn-link">Anuluj</a>
            </div>
        </form>
    </div>
</div>
