/live.db
/work-monitor-dev.db
/work-monitor-live.db
/work-monitor.7z
/work-monitor-live.db.old
/work-monitor-live.db.bck
/work-monitor-live.db.my
/work-monitor.db.zip
/work-monitor.db
/work-monitor.db.beforePersonHist
/work-monitor.db.personHist
