

<p-panel header="Deklaracje czasu pracy">

  <div class="ui-grid-row">
    <div class="ui-grid-col-7">
      <p-fieldset legend="Listy obecności">
        <form #f="ngForm" (submit)="search()">

          <div class="ui-grid ui-grid-responsive ui-fluid ui-grid-pad">
            <div class="ui-grid-row"  style="margin-top: 20px;">
              <div class="ui-grid-col-1"><label style="float: right" for="afterDate">Od</label></div>
              <div class="ui-grid-col-3">
                <!--<p-calendar id="date" name="reportDate" (onSelect)="search()" [(ngModel)]="reportDate" showIcon="true" dateFormat="dd.mm.yy" utc="true"></p-calendar>-->
                <p-calendar id="afterDate" name="afterDate" [locale]="pl" [(ngModel)]="afterDate" showIcon="true" dateFormat="dd.mm.yy" utc="true"></p-calendar>
              </div>
              <div class="ui-grid-col-1"><label style="float: right" for="beforeDate">Do</label></div>
              <div class="ui-grid-col-3">
                <!--<p-calendar id="date" name="reportDate" (onSelect)="search()" [(ngModel)]="reportDate" showIcon="true" dateFormat="dd.mm.yy" utc="true"></p-calendar>-->
                <p-calendar id="beforeDate" name="beforeDate" [locale]="pl" [(ngModel)]="beforeDate" showIcon="true" dateFormat="dd.mm.yy" utc="true"></p-calendar>
              </div>
              <div class="ui-grid-col-4">
                <button pButton type="button" (click)="search()" icon="fa-search" label="Szukaj" style="margin-left: 0px; min-width: 140px; max-width: 200px;" [disabled]="!f?.valid"></button>
              </div>
            </div>
          </div>

        </form>
      </p-fieldset>
    </div>
    <div *ngIf="user.roleCode.indexOf('OP') != -1" class="ui-grid-col-3">
      <p-fieldset legend="Urlopy">
        <user-leave *ngIf="users?.length > 0" [users]="users"></user-leave>
      </p-fieldset>
    </div>
    <div *ngIf="user.roleCode.indexOf('OP') != -1 || user.roleCode.indexOf('MG') != -1" class="ui-grid-col-2">
      <p-fieldset legend="Raporty miesięczne">
        <button pButton type="button" (click)="router.navigate(['/timeStats'])" icon="fa-search" label="Podsumowanie" style="margin-top: 30px; margin-left: 0px; min-width: 140px; max-width: 200px;"></button>
      </p-fieldset>
    </div>
  </div>

  <div class="ui-g" *ngIf="usersWithSheets" style="margin-top: 5px; margin-right: 10px;">
    <p-dataTable [editable]="true" (onEditInit)="onEditInit($event)" (onEdit)="onEdit($event)" (onEditCancel)="onEditCancel($event)" (onEditComplete)="onEditComplete($event)" [value]="usersWithSheets" [rows]="20" [paginator]="true" [globalFilter]="gb" #dt dataKey="tabid" resizableColumns="true" sortField="lastName" sortOrder="1" [loading]="loading" loadingIcon="fa-spinner"
                 csvSeparator=";" exportFilename="czas_pracy"
                 expandableRows="true">
      <p-header>
        <div>
          <i class="fa fa-search"></i>
          <input #gb type="text" pInputText size="50" placeholder="Filtruj">
        </div>
      </p-header>

      <p-column expander="true" styleClass="col-icon" [style]="{'width': '30px'}"></p-column>
      <p-column [sortable]="true" field="rowid" header="tabid" hidden="true" [exportable]="false"></p-column>
      <p-column [sortable]="true" field="office" header="Biuro" [filter]="true" filterPlaceholder="Filtruj"></p-column>
      <p-column [sortable]="true" field="firstName" header="Imie"  [filter]="true" filterPlaceholder="Filtruj"></p-column>
      <p-column [sortable]="true" field="lastName" header="Nazwisko"  [filter]="true" filterPlaceholder="Filtruj"></p-column>



      <p-column [sortable]="true" field="timesheetWorkDate" header="Dnia" [filter]="true" filterPlaceholder="Filtruj">
        <ng-template let-col let-timesheet="rowData" pTemplate="body">
          <div [style.color]="timesheet.color" class="text-center">{{timesheet.timesheetWorkDate}}</div>
        </ng-template>
      </p-column>

      <p-column [editable]="user?.roleCode?.indexOf('OP') > -1" [sortable]="true" header="Urlop" field="isLeave" [style]="{'width': '70px'}" [filter]="true" filterPlaceholder="Filtruj">
        <ng-template let-col let-timesheet="rowData" pTemplate="body">
          <div [style.color]="timesheet.color" class="text-center">{{timesheet.isLeave}}</div>
        </ng-template>
      </p-column>

      <p-column [editable]="user?.roleCode?.indexOf('OP') > -1" [sortable]="true" header="Obecny od" field="timesheetFrom" [filter]="true" filterPlaceholder="Filtruj">
        <ng-template let-col let-timesheet="rowData" pTemplate="body">
          <div [style.color]="timesheet.color" class="text-center">{{timesheet.timesheetFrom}}</div>
        </ng-template>
      </p-column>

      <p-column [editable]="user?.roleCode?.indexOf('OP') > -1" [sortable]="true" header="Obecny do" field="timesheetTo" [filter]="true" filterPlaceholder="Filtruj">
        <ng-template let-col let-timesheet="rowData" pTemplate="body">
          <div [style.color]="timesheet.color" class="text-center">{{timesheet.timesheetTo}}</div>
        </ng-template>
      </p-column>

      <p-column [editable]="user?.roleCode?.indexOf('OP') > -1" [sortable]="true" header="Przerwa [min]" field="timesheetBreakInMinutes" [filter]="true" filterPlaceholder="Filtruj">
        <ng-template let-col let-timesheet="rowData" pTemplate="body">
          <div [style.color]="timesheet.color" class="text-center">{{timesheet.timesheetBreakInMinutes}}</div>
        </ng-template>
      </p-column>

      <p-column [editable]="user?.roleCode?.indexOf('OP') > -1" [sortable]="true" header="Szkolenie [g:mm]" field="timesheetTrainingInGMM" [filter]="true" filterPlaceholder="Filtruj">
        <ng-template let-col let-timesheet="rowData" pTemplate="body">
          <div [style.color]="timesheet.color" class="text-center">{{timesheet.timesheetTrainingInGMM}}</div>
        </ng-template>
      </p-column>

      <p-column [sortable]="true" field="timesheetUsedTime" header="Obecność" [filter]="true" filterPlaceholder="Filtruj">
        <ng-template let-col let-timesheet="rowData" pTemplate="body">
          <div [style.color]="timesheet.color" class="text-center">{{timesheet.timesheetUsedTime}}</div>
        </ng-template>
      </p-column>

      <p-column *ngIf="user?.roleCode?.indexOf('OP') > -1" [sortable]="true" field="status" header="Zapisano" [style]="{'width': '60px'}">
        <ng-template let-col let-timesheet="rowData" pTemplate="body">
          <div *ngIf="timesheet.status == 'PROGRESS'"  class="text-center"><p-progressSpinner [style]="{width: '30px', height: '30px'}" strokeWidth="2"></p-progressSpinner></div>
          <div *ngIf="timesheet.status == 'OK'"  class="text-center" [style.color]="'green'"><i class="fa fa-check" aria-hidden="true"></i></div>
          <div *ngIf="timesheet.status == 'EDITED'" class="text-center" [style.color]="'#2399e5'"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></div>
        </ng-template>
      </p-column>

      <ng-template let-timesheet pTemplate="rowexpansion">
        <div class="ui-grid ui-grid-responsive ui-fluid" style="font-size:16px;padding:20px">
          <div class="ui-grid-row">
            <div *ngIf="timesheet?.email" class="ui-grid-col-12" style="text-align:left; font-size: smaller;">
              Utworzony dla: {{timesheet.role}}, {{timesheet.email}}, {{timesheet.phone}},
            </div>
          </div>
          <div class="ui-grid-row">
            <div *ngIf="timesheet?.copy?.createdBy" class="ui-grid-col-12" style="text-align:left; font-size: smaller;">
                Utworzony przez: <span style="font-weight: bold">{{timesheet.copy.createdBy}}</span>
            </div>
          </div>
          <div class="ui-grid-row">
            <div *ngIf="timesheet?.copy?.modifiedBy" class="ui-grid-col-12" style="text-align:left; font-size: smaller;">
                Zmodyfikowany przez: <span style="font-weight: bold">{{timesheet.copy.modifiedBy}}</span>
            </div>
          </div>
        </div>
      </ng-template>

      <ng-template pTemplate="emptymessage">
        Brak danych...
      </ng-template>

      <p-footer>
        <div class="ui-grid ui-grid-responsive ui-fluid ui-grid-pad">
          <div  *ngIf="user?.roleCode?.indexOf('OP') > -1" class="ui-grid-row"  style="margin-top: 15px;">
            <div class="ui-grid-col-5"></div>
            <div class="ui-grid-col-2">
              <!--<button type="button" pButton icon="fa-file-o" iconPos="left" label="CSV" (click)="dt.exportCSV()"></button>-->
              <button type="button" pButton icon="fa-file-o" iconPos="left" label="CSV" (click)="dt.exportCSV()"></button>
            </div>
            <div class="ui-grid-col-5"></div>
          </div>
        </div>
      </p-footer>

    </p-dataTable>
  </div>




</p-panel>
