<div class="ui-grid-row" style="max-width: 1200px;">
    <div class="ui-grid-col-6" style="margin-top: 0px;">
        <p-fieldset legend="Detale zlecenia"
            *ngIf="selectedOrder?.creationDate || selectedOrder?.lastModDate || selectedOrder?.comment">
            <div class="ui-grid-row" *ngIf="selectedOrder?.creationDate">
                <div class="ui-grid-col-4">Dodano:</div>
                <div class="ui-grid-col-8"><span style="font-style: italic;">{{selectedOrder?.creationDate}}</span>
                </div>
            </div>
            <div class="ui-grid-row" *ngIf="selectedOrder?.lastModDate">
                <div class="ui-grid-col-4">Modyfikacja:</div>
                <div class="ui-grid-col-8"><span style="font-style: italic;">{{selectedOrder?.lastModDate}}</span></div>
            </div>
            <div class="ui-grid-row" *ngIf="selectedOrder?.modifiedBy">
                <div class="ui-grid-col-4">Modyfikował(a):</div>
                <div class="ui-grid-col-8"><span style="font-style: italic;">{{selectedOrder?.modifiedBy}}</span></div>
            </div>

            <hr *ngIf="selectedOrder?.creationDate || selectedOrder?.lastModDate">

            <div style="margin-bottom: 5px" class="ui-grid-row" *ngIf="selectedOrder?.type">
                <div class="ui-grid-col-4">Typ:</div>
                <div class="ui-grid-col-8">
                    <span [style.color]="getColor()" class="ui-inputgroup-addon"><i [class]="'fa fa-square'"></i></span>
                    <span style="padding: 3px; font-style: italic;">{{selectedOrder?.type}}</span>
                </div>
            </div>
            <div style="margin-bottom: 5px" class="ui-grid-row" *ngIf="selectedOrder?.complexity != null">
                <div class="ui-grid-col-4">Złożoność:</div>
                <div class="ui-grid-col-8">
                    <span class="ui-inputgroup-addon"><i
                            [class]="selectedOrder.complexityCode=='STD' ? 'fa fa-thumbs-o-up': 'fa fa-life-bouy'"></i></span>
                    <span style="padding: 3px; font-style: italic;">Wycena {{selectedOrder?.complexity}} godzin</span>
                </div>
            </div>
            <div style="margin-bottom: 5px" class="ui-grid-row" *ngIf="selectedOrder?.status">
                <div class="ui-grid-col-4">Status:</div>
                <div class="ui-grid-col-8">
                    <span class="ui-inputgroup-addon"><i [class]="getStatusIcon()"></i></span>
                    <span style="padding: 3px; font-style: italic;">{{selectedOrder?.status}}</span>
                </div>
            </div>

            <div style="margin-bottom: 5px" class="ui-grid-row" *ngIf="selectedOrder?.status">
                <div class="ui-grid-col-4">Wartość zamówienia:</div>
                <div class="ui-grid-col-8">
                    <span style="font-style: italic;">{{selectedOrder?.price}} PLN</span>
                </div>
            </div>

            <div class="ui-grid-row" *ngIf="selectedOrder?.status">
                <div class="ui-grid-col-4">Numer protokołu:</div>
                <div class="ui-grid-col-8">
                    <span style="font-style: italic;">{{selectedOrder?.protocolNo}}</span>
                </div>
            </div>

            <div style="margin-bottom: 5px; margin-top: 5px;" class="ui-grid-row" *ngIf="selectedOrder?.isFromPool">
                <div class="ui-grid-col-4">W ramach puli:</div>
                <div class="ui-grid-col-8">
                    <span *ngIf="selectedOrder.isFromPool==='Y'" [style.color]="'green'" style="padding-right: 10px;"
                        class="ui-inputgroup-addon"><i [class]="'fa fa-users'"></i></span>
                    <span *ngIf="selectedOrder.isFromPool!=='Y'" [style.color]="'grey'" style="padding-right: 10px;"
                        class="ui-inputgroup-addon"><i [class]="'fa fa-street-view'"></i></span>
                    <span
                        style="padding: 3px; font-style: italic;">{{selectedOrder?.isFromPool == 'Y' ? 'TAK' : 'NIE'}}</span>
                </div>
            </div>

        </p-fieldset>
    </div>

    <div class="ui-grid-col-6">
        <div *ngIf="selectedOrder?.ventureDisplay || selectedOrder?.ventureCompany" class="ui-grid-row"
            style="margin-top: 0px;">
            <p-fieldset legend="Inwestor">
                {{selectedOrder?.ventureDisplay}} @ {{selectedOrder?.ventureCompany}}
            </p-fieldset>
        </div>
        <div *ngIf="selectedOrder?.assigneeFull && selectedOrder?.assigneeFull?.length > 0" class="ui-grid-row"
            style="margin-top: 10px;">
            <p-fieldset legend="Wykonawcy">
                <div class="ui-grid-row" *ngFor="let a of selectedOrder.assigneeFull">
                    <!--<div class="ui-grid-col-12"><u></u></div>-->
                    <div class="ui-grid-col-12"><u>{{a.firstName}} {{a.lastName}}</u><span
                            style="padding-left: 10px;">{{a.email}}</span></div>
                    <div class="ui-grid-col-12">{{a.rank}}
                        <span *ngIf="a.isFromPool==='Y'" style="padding-left: 10px;" [style.color]="'green'"
                            class="ui-inputgroup-addon"><i [class]="'fa fa-users'"></i></span>
                        <span *ngIf="a.isFromPool!=='Y'" style="padding-left: 10px;" [style.color]="'grey'"
                            class="ui-inputgroup-addon"><i [class]="'fa fa-street-view'"></i></span>
                    </div>
                    <div class="ui-grid-col-12">{{a.role}} @ {{a.office}}</div>

                </div>
            </p-fieldset>
        </div>
        <div class="ui-grid-row" style="margin-top: 10px;">
            <p-fieldset legend="Obiekt inwestycji">
                <div
                    *ngIf="selectedOrder?.relatedItems[0]?.itemNo || selectedOrder?.relatedItems[0]?.address || selectedOrder?.relatedItems[0]?.mdBuildingType || selectedOrder?.relatedItems[0]?.description || selectedOrder?.relatedItems[0]?.mdConstructionCategory;else noRelatedItem">
                    <div *ngIf="selectedOrder?.relatedItems[0]?.itemNo" class="ui-grid-row">
                        <div class="ui-grid-col-4">Numer:</div>
                        <div class="ui-grid-col-8">{{selectedOrder?.relatedItems[0]?.itemNo}}</div>
                    </div>
                    <div *ngIf="selectedOrder?.relatedItems[0]?.address" class="ui-grid-row">
                        <div class="ui-grid-col-4">Adres:</div>
                        <div class="ui-grid-col-8">{{selectedOrder?.relatedItems[0]?.address}}</div>
                    </div>
                    <div *ngIf="selectedOrder?.relatedItems[0]?.mdBuildingType" class="ui-grid-row">
                        <div class="ui-grid-col-4">Typ budynku:</div>
                        <div class="ui-grid-col-8">{{selectedOrder?.relatedItems[0]?.mdBuildingType}}</div>
                    </div>
                    <div *ngIf="selectedOrder?.relatedItems[0]?.mdConstructionCategory" class="ui-grid-row">
                        <div class="ui-grid-col-4">Konstrukcja:</div>
                        <div class="ui-grid-col-8">{{selectedOrder?.relatedItems[0]?.mdConstructionCategory}}</div>
                    </div>
                    <div *ngIf="selectedOrder?.relatedItems[0]?.description" class="ui-grid-row">
                        <div class="ui-grid-col-4">Opis:</div>
                        <div class="ui-grid-col-8">{{selectedOrder?.relatedItems[0]?.description}}</div>
                    </div>
                    <div *ngIf="selectedOrder?.relatedItems[0]?.creationDate" class="ui-grid-row">
                        <div class="ui-grid-col-4">Dodano:</div>
                        <div class="ui-grid-col-8">{{selectedOrder?.relatedItems[0]?.creationDate}}</div>
                    </div>
                </div>
                <ng-template #noRelatedItem><strong style="color: darkorange;">Nie przypisano...</strong></ng-template>
            </p-fieldset>
        </div>
    </div>
    <br>


    <div *ngIf="selectedOrder?.comments?.comments || selectedOrder?.description"
        class="ui-grid ui-grid-responsive ui-fluid" style="margin-top: 10px;">

        <div class="ui-grid-row" style="margin-top: 10px;">
            <div class="ui-grid-col-12" *ngIf="selectedOrder?.comments?.comments">
                <p-table #comments dataKey="id" [columns]="commentsCol" [value]="selectedOrder.comments.comments"
                    [rows]="10" [paginator]="true" sortField="date" sortOrder="-1" loadingIcon="fa fa-spinner"
                    [globalFilterFields]="commentsCol" [responsive]="false">
                    <ng-template pTemplate="header" let-columns let-rowData>
                        <tr>
                            <th *ngFor="let col of columns" [hidden]="col.hidden" [pSortableColumn]="col.field"
                                [ngClass]="col.class" pResizableColumn excludeGlobalFilter=col.exclude>
                                <span class="header">
                                    {{col.header}}
                                    <p-sortIcon *ngIf="!col.button && col.sortable" [field]="col.field"></p-sortIcon>
                                </span>
                            </th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-rowData let-rowIndex="rowIndex" let-columns="columns">
                        <tr [pSelectableRow]="rowData">
                            <td *ngFor="let col of columns" [hidden]="col.hidden" filterMatchMode="col.contains"
                                [ngClass]="col.class">
                                <textarea *ngIf="col.text" readonly="readonly" style="color: black;" pInputTextarea
                                    [rows]="2" [cols]="30">{{rowData.text}}</textarea>
                                <span *ngIf="!col.icon">
                                    {{rowData[col.field]}}
                                </span>
                            </td>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="emptymessage">
                        Brak komentarzy...
                    </ng-template>
                </p-table>
            </div>
        </div>
        <div class="ui-grid-row">
            <div class="ui-grid-col-12" *ngIf="selectedOrder?.description" style="max-width: 1000px; margin-top: 10px;">
                <p-panel header="Opis">{{selectedOrder.description}}</p-panel>
            </div>
        </div>



    </div>

    <div class="ui-grid-row" style="max-width: 1200px;">
        <div class="ui-grid-col-12" *ngIf="selectedOrder?.history && selectedOrder?.history?.length > 0"
            style="margin-top: 10px;">
            <p-fieldset legend="Historia zlecenia">
                <p-table #oredrHistroy dataKey="id" [columns]="cols" [value]="selectedOrder.history" [rows]="10"
                    [paginator]="true" sortField="lastModDate" sortOrder="-1" loadingIcon="fa fa-spinner"
                    [globalFilterFields]="cols" [responsive]="fasle">
                    <ng-template pTemplate="header" let-columns let-rowData>
                        <tr>
                            <th *ngFor="let col of columns" [hidden]="col.hidden" [pSortableColumn]="col.field"
                                [ngClass]="col.class" pResizableColumn excludeGlobalFilter=col.exclude>
                                <span class="header">
                                    {{col.header}}
                                    <p-sortIcon *ngIf="!col.button && col.sortable" [field]="col.field"></p-sortIcon>
                                </span>
                            </th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-rowData let-rowIndex="rowIndex" let-columns="columns">
                        <tr [pSelectableRow]="rowData">
                            <td *ngFor="let col of columns" [hidden]="col.hidden" filterMatchMode="col.contains"
                                [ngClass]="col.class">

                                <span *ngIf="col.modifiedBy">
                                    {{rowData['modifiedByFull']?.email }}
                                </span>

                                <span *ngIf="col.assigneeFull">
                                    <span *ngFor="let a of rowData.assigneeFull">
                                        {{a.firstName.substring(0, 1)+'.'}} {{a.lastName}}
                                        <span *ngIf="a.isFromPool=='Y'" [style.color]="'green'"
                                            style="padding-right: 10px;" class="ui-inputgroup-addon"><i
                                                [class]="'fa fa-users'"></i></span>
                                        <span *ngIf="a.isFromPool!='Y'" [style.color]="'grey'"
                                            style="padding-right: 10px;" class="ui-inputgroup-addon"><i
                                                [class]="'fa fa-street-view'"></i></span>
                                    </span>
                                </span>
                                <span *ngIf="col.isFromPool">
                                    <span *ngIf="rowData[col.field]=='Y'" [style.color]="'green'"
                                        class="ui-inputgroup-addon"><i [class]="'fa fa-users'"></i></span>
                                    <span *ngIf="rowData[col.field]!='Y'" [style.color]="'grey'"
                                        class="ui-inputgroup-addon"><i [class]="'fa fa-street-view'"></i></span>
                                </span>
                                <span *ngIf="col.price">
                                    {{rowData[col.field] | currency:'PLN' }}
                                </span>
                                <span *ngIf="!col.icon && ! col.price">
                                    {{rowData[col.field]}}
                                </span>
                            </td>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="emptymessage">
                        Brak historycznych danych o zleceniach...
                    </ng-template>
                </p-table>
            </p-fieldset>
        </div>
    </div>
</div>