<div class="ui-grid-row">
    <div style="margin-top: 5px" class="ui-g">
        <p-dataTable [value]="list" [rows]="20" [paginator]="true" [globalFilter]="gb"   dataKey="id" resizableColumns="true" sortField="lastModDate" sortOrder="-1" [loading]="loading" loadingIcon="fa-spinner">
          <p-header>
            <div>
              <i class="fa fa-search"></i>
              <input #gb type="text" pInputText size="50" placeholder="Filtruj">
            </div>
          </p-header>         
          <p-column [sortable]="true" field="id" header="id" hidden="true" ></p-column>
          <p-column [sortable]="true" field="workNo" header="Zlecenie" ></p-column>
          <p-column [sortable]="true" field="status" header="Status" ></p-column>
          <p-column [sortable]="true" field="type" header="Typ" ></p-column>
          <p-column [sortable]="true" field="mdCapex" header="CAPEX" ></p-column>
          <p-column [sortable]="true" field="price" header="Wartość" styleClass="text-right"></p-column>
          <p-column [sortable]="true" field="comment" header="Komentarz" hidden="true"></p-column>
          <p-column [sortable]="true" field="description" header="Opis" hidden="true"></p-column>    
          <p-column [sortable]="true" field="protocolNo" header="Protokół"></p-column>    
          <p-column [sortable]="true" field="creationDate" header="Utworzenie"></p-column>  
          <p-column [sortable]="true" field="itemNo" header="Numer obiektu" ></p-column>         
          <p-column [sortable]="true" field="itemBuildingType" header="Typ obiektu" hidden="true"></p-column>
          <p-column [sortable]="true" field="itemConstructionCategory" header="Konstukcja" hidden="true"></p-column>
          <p-column [sortable]="true" field="itemAddress" header="Adres" hidden="true"></p-column>
          <p-column [sortable]="true" field="itemDescription" header="Opis obiektu" hidden="true"></p-column>     
          <p-column [sortable]="true" field="ventureCompany" header="Inwestor" ></p-column>
          <p-column [sortable]="true" field="ventureDisplay" header="Zleceniodawca" ></p-column>
          <p-column [sortable]="true" field="frontProcessingDesc" header="Powód" ></p-column>
        </p-dataTable>
      </div> 
</div>
