<div class="ui-grid-row">
    <div style="margin-top: 5px" class="ui-g">
        <p-dataTable [value]="list" [rows]="20" [paginator]="true" [globalFilter]="gb"
                     dataKey="id" resizableColumns="true" sortField="lastModDate" sortOrder="-1" loadingIcon="fa fa-spinner"
                     #dt csvSeparator=";" exportFilename="lista_zlecen">
          <p-header>
            <div>
              <i class="fa fa-search"></i>
              <input #gb type="text" pInputText size="50" placeholder="Filtruj">
            </div>
          </p-header>         
          <p-column [sortable]="true" field="id" header="id" [exportable]="false" hidden="true" ></p-column>
          <p-column [sortable]="true" field="workNo" header="Zlecenie" [filter]="true" filterPlaceholder="Filtruj"></p-column>
          <p-column [sortable]="true" field="mdCapex" header="CAPEX" [filter]="true" filterPlaceholder="Filtruj"></p-column>

          <p-column [sortable]="true" field="status" header="Status" [style]="{'width':'135px'}" [filter]="true" filterPlaceholder="Filtruj" filterMatchMode="contains">
            <ng-template let-col let-order="rowData" pTemplate="body">
              <span class="ui-inputgroup-addon"><i [class]="toolsService.getStatusIcon(order.statusCode)"></i></span>
              <span style="padding: 3px">{{order.status}}</span>
            </ng-template>
          </p-column>

          <p-column [sortable]="true" field="type" header="Typ" [filter]="true" filterPlaceholder="Filtruj" filterMatchMode="contains">
            <ng-template let-col let-order="rowData" pTemplate="body">
              <span [style.color]="workTypeService.getWorkTypeColor(order)" class="ui-inputgroup-addon"><i [class]="'fa fa-square'"></i></span>
              <span style="padding: 3px">{{order.type}}</span>
            </ng-template>
          </p-column>

          <p-column [sortable]="true" field="isFromPool" header="Pula" [filter]="true" filterPlaceholder="Y/N" [style]="{'text-align':'center', 'width':'45px'}">
            <ng-template let-col let-order="rowData" pTemplate="body">
              <span *ngIf="order[col.field]=='Y'" [style.color]="'green'" class="ui-inputgroup-addon"><i [class]="'fa fa-users'"></i></span>
              <span *ngIf="order[col.field]!='Y'" [style.color]="'grey'" class="ui-inputgroup-addon"><i [class]="'fa fa-street-view'"></i></span>
            </ng-template>
          </p-column>

          <p-column [sortable]="true" field="price" header="Wartość" styleClass="text-right" [filter]="true" filterPlaceholder="Filtruj">
            <ng-template let-col let-order="rowData" pTemplate="body">
              {{order[col.field] | currency:'PLN'}}
            </ng-template>
          </p-column>

          <p-column [sortable]="true" field="complexity" header="Wycena" [style]="{'text-align':'center', 'width':'55px'}"></p-column>

          <p-column [sortable]="true" [exportable]="false" field="comment" header="Komentarz" hidden="true"></p-column>
          <p-column [sortable]="true" [exportable]="false" field="description" header="Opis" hidden="true"></p-column>

          <p-column [sortable]="true" field="protocolNo" header="Protokół" [filter]="true" filterPlaceholder="Filtruj"></p-column>
          <p-column [sortable]="true" field="creationDate" header="Utworzenie" [filter]="true" filterPlaceholder="Filtruj"></p-column>
          <p-column [sortable]="true" field="itemNo" header="Numer obiektu" [filter]="true" filterPlaceholder="Filtruj"></p-column>

          <p-column [sortable]="true" field="itemBuildingType" header="Typ obiektu" hidden="true"></p-column>
          <p-column [sortable]="true" field="itemConstructionCategory" header="Konstukcja" hidden="true"></p-column>
          <p-column [sortable]="true" field="itemAddress" header="Adres" hidden="true"></p-column>
          <p-column [sortable]="true" field="itemDescription" header="Opis obiektu" hidden="true"></p-column>     
          <p-column [sortable]="true" field="ventureCompany" header="Inwestor" [filter]="true" filterPlaceholder="Filtruj"></p-column>
          <p-column [sortable]="true" field="ventureDisplay" header="Zleceniodawca" [filter]="true" filterPlaceholder="Filtruj"></p-column>
          <p-column [sortable]="true" field="frontProcessingDesc" header="Powód" [filter]="true" filterPlaceholder="Filtruj"></p-column>

          <p-column [style]="{'width':'35px','text-align':'center'}">
            <ng-template let-order="rowData" pTemplate="body">
              <p-button type="button" styleClass="btn btn-info btn-lg" style="width:25px;" (click)="showWoDetails($event, order)" icon="fa fa-search"></p-button>
            </ng-template>
          </p-column>

          <ng-template pTemplate="emptymessage">
            Brak zleceń...
          </ng-template>

          <p-footer>
            <div class="ui-grid ui-grid-responsive ui-fluid ui-grid-pad">
              <div class="ui-grid-row"  style="margin-top: 15px;">
                <div class="ui-grid-col-5"> </div>
                <div class="ui-grid-col-2">
                  <button type="button" pButton icon="fa fa-file-o" iconPos="left" label="CSV" (click)="dt.exportCSV()"></button>
                </div>
                <div class="ui-grid-col-5"> </div>
              </div>
            </div>
          </p-footer>

        </p-dataTable>
      </div> 
</div>

<p-dialog [(visible)]="displayDetailsDialog" [header]="'Zamówienie '+selectedOrder?.workNo" [minWidth]="600" [responsive]="true" [blockScroll]="true" [contentStyle]="{'height': '800px'}">
  <app-wo-details [selectedOrder]="selectedOrder"></app-wo-details>
</p-dialog>
