<div class="ui-grid-row">
  <div class="ui-grid-col-6">
    Anulowanie urlopu
  </div>
  <div class="ui-grid-col-6">
    <button width="300px" type="button" pButton [icon]="'fa fa-times'" (click)="showIsLeaveTable()" [label]="'Anuluj'" class="ui-button-danger"></button>
  </div>
</div>

<p-dialog  [(visible)]="displayIsLeaveTable" [minHeight]="800" [width]="900" [responsive]="true">
  <div class="p-grid">
    <div class="p-col">
      <p-panel header="Anulowanie urlopu">
       W celu anulowania urlopu należy z listy wybrać dni dla danej osoby, które chemy anulować a następnie przycisk "Anuluj zaznaczone"
    </p-panel>
    <div class="p-col">
      <form #f="ngForm" (submit)="search()">
        <div class="ui-grid ui-grid-responsive ui-fluid ui-grid-pad">
          <div class="ui-grid-row"  style="margin-top: 20px;">
            <div class="ui-grid-col-1"><label style="float: right" for="afterDate">Od</label></div>
            <div class="ui-grid-col-3">
              <p-calendar id="afterDate" name="afterDate" [minDate]="minDateValue" [locale]="pl" [(ngModel)]="afterDate" showIcon="true" dateFormat="dd.mm.yy" ></p-calendar>
            </div>
            <div class="ui-grid-col-1"><label style="float: right" for="beforeDate">Do</label></div>
            <div class="ui-grid-col-3">
              <p-calendar id="beforeDate" name="beforeDate" [minDate]="minDateValue" [locale]="pl" [(ngModel)]="beforeDate" showIcon="true" dateFormat="dd.mm.yy" ></p-calendar>
            </div>
            <div class="ui-grid-col-4">
              <button pButton type="button" (click)="search()" icon="fa fa-search" label="Szukaj" style="margin-left: 0px; min-width: 140px; max-width: 200px;"></button>
            </div>
          </div>
        </div>

      </form>
    </div>
    </div>
  </div>
  <div class="p-grid">
    <div class="p-col">
        <p-table #tt dataKey="rowid" [columns]="cols" 
        [value]="usersWithSheets" 
        [resizableColumns]="true"   sortOrder="1" 
        loadingIcon="fa fa-spinner"  [globalFilterFields]="cols"
        [responsive]="true"
        [(selection)]="selectedLeaveToCancel"
        [rows]="15" [paginator]="true"  sortField="lastName" sortOrder="1"
      >
      <ng-template pTemplate="caption">
        <div>
          <i class="fa fa-search"></i>
          <input type="text" pInputText size="50" placeholder="Filtruj"
            (input)="tt.filterGlobal($event.target.value, 'contains')" style="width:auto">
        </div>
      </ng-template>
      <ng-template pTemplate="header" let-columns>
        <tr>
          <th *ngFor="let col of columns" [hidden]="col.hidden" [pSortableColumn]="col.field" [ngClass]="col.class"
            pResizableColumn excludeGlobalFilter=col.exclude>
            <span class="header">
              {{col.header}}
              <p-sortIcon *ngIf="!col.button && col.sortable" [field]="col.field"></p-sortIcon>
            </span>
          </th>
        </tr>
        <tr>
          <th *ngFor="let col of columns" [hidden]="col.hidden">
            <input *ngIf="col.filter && !col.inOut" class="width-100" [attr.placeholder]="'Filtruj'" pInputText
              type="text" (input)="tt.filter($event.target.value, col.field, col.filterMatchMode)">
            <input *ngIf="col.filter && col.inOut" class="width-100" [attr.placeholder]="'Y/N'" pInputText
                  type="text" (input)="tt.filter($event.target.value, col.field, 'contains')">
          </th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-rowData let-columns="columns" >
        <tr>       
          <td *ngFor="let col of columns" 
            [hidden]="col.hidden" [ngClass]="col.class" >
            <p-tableCheckbox [value]="rowData" *ngIf="col.check"></p-tableCheckbox>
              <span *ngIf="!col.fromCopy">
                {{rowData[col.field]}}
              </span>    
              <span *ngIf="col.fromCopy">
                {{rowData.copy[col.nested]}}
              </span>  
              <span *ngIf="col.cancelLeave">
                <button type="button" pButton [icon]="'fa fa-times'" (click)="callRemoveIsLeave(rowData)" [label]="'Anuluj'" class="ui-button-danger"></button>
              </span>          
          </td>
        </tr> 
      </ng-template>
      <ng-template pTemplate="summary" let-columns="columns">
        <div class="ui-grid ui-grid-responsive ui-fluid ui-grid-pad">
          <div class="ui-grid-row"  style="margin-top: 15px;">
            <div class="ui-grid-col-2"></div>
            <div class="ui-grid-col-2"></div>
            <div class="ui-grid-col-4">
              <button type="button" pButton icon="fa fa-times" [disabled]="selectedLeaveToCancel.length > 0 ? false : true" 
                style="float:left"label="Anuluj zaznaczone" (click)="cancelSelected()" class="ui-button-danger"></button> </div>
            <div class="ui-grid-col-2"> </div>
            <div class="ui-grid-col-2"> </div>
          </div>
        </div>
      </ng-template>
      <ng-template pTemplate="emptymessage">
        Brak danych...
      </ng-template>
    </p-table>
  </div>
  </div>
</p-dialog>
