
<p-panel header="Raport utylizacji zespołu">

    <div class="ui-grid-row">
        <div class="ui-grid-col-12">

                <form #f="ngForm" (submit)="search()">

                    <div class="ui-grid ui-grid-responsive ui-fluid ui-grid-pad">
                        <div class="ui-grid-row"  style="margin-top: 20px;">
                            <div class="ui-grid-col-1"></div>
                            <div class="ui-grid-col-5">
                                <label for="afterDate">od</label>
                                <p-calendar name="afterDate" [(ngModel)]="afterDate" showIcon="true" dateFormat="dd.mm.yy" utc="true"></p-calendar>
                            </div>
                            <!--<div class="ui-grid-col-1"></div>-->
                            <div class="ui-grid-col-5">
                                <label for="beforeDate">do</label>
                                <p-calendar name="beforeDate" [(ngModel)]="beforeDate" showIcon="true" dateFormat="dd.mm.yy" utc="true"></p-calendar>
                            </div>
                            <div class="ui-grid-col-1"></div>
                        </div>
                        <div class="ui-grid-row"  style="margin-top: 15px;">
                            <div class="ui-grid-col-5"></div>
                            <div class="ui-grid-col-2">
                                <button pButton type="button" (click)="search()" icon="fa-search" label="Szukaj Laros" style="margin-left: 0px; min-width: 140px; max-width: 200px;" [disabled]="!f?.valid"></button>
                            </div>
                            <div class="ui-grid-col-5"></div>
                        </div>
                    </div>

                </form>
        </div>
    </div>
</p-panel>



<div style="margin-top: 5px" *ngIf="reports" class="ui-g">
    <p-dataTable [value]="reports" [rows]="20" [paginator]="true" [globalFilter]="gb" #dt selectionMode="single" [(selection)]="selectedReport" (onRowSelect)="onRowSelect($event)" dataKey="id" resizableColumns="true" sortField="timeUtilizationPercentage" sortOrder="-1" [loading]="loading" loadingIcon="fa-spinner">
        <p-header>
            <div>
                <i class="fa fa-search"></i>
                <input #gb type="text" pInputText size="50" placeholder="Filtruj">
            </div>
        </p-header>
        <p-column [sortable]="true" field="id" header="id" hidden="true" ></p-column>

        <p-column [sortable]="true" field="icon" header="Ocena" [style]="{'text-align':'center', 'width':'50px'}">
            <ng-template let-col let-report="rowData" pTemplate="body">
                <span class="ui-inputgroup-addon" [style.color]="report['iconColor']"><i [class]="report[col.field]"></i></span>
            </ng-template>
        </p-column>
        <p-column [sortable]="true" field="timeUtilizationPercentage" header="Zaangażowanie" [style]="{'text-align':'right'}"></p-column>


        <p-column [sortable]="true" field="firstName" header="Imie" ></p-column>
        <p-column [sortable]="true" field="lastName" header="Nazwisko" ></p-column>
        <p-column [sortable]="true" field="role" header="Rola" ></p-column>
        <p-column [sortable]="true" field="office" header="Biuro" ></p-column>

        <p-column [sortable]="true" field="declaredTime" header="Zadeklarowano h"  [style]="{'text-align':'right'}"></p-column>
        <p-column [sortable]="true" field="expectedTime" header="Zakładano h" [style]="{'text-align':'right'}"></p-column>
        <p-column [sortable]="true" field="noOrdersDone" header="Ukończono" [style]="{'text-align':'right'}"></p-column>



        <ng-template pTemplate="emptymessage">
            Brak raportów w zakresie dat...
        </ng-template>

        <p-footer>
        </p-footer>

    </p-dataTable>

</div>


<!-- defaultDate="2017-11-01" -->

<p-dialog *ngIf="selectedReport" [header]="selectedReport?.firstName +' '+selectedReport?.lastName" [(visible)]="schedulerDisplay" [responsive]="true" showEffect="fade" [modal]="true" [minWidth]="500" [width]="800">
    <div class="ui-grid ui-grid-responsive ui-fluid">
        <p-schedule [events]="schedulerEvents" [header]="schedulerHeader" [eventLimit]="4" [editable]="false" (onEventClick)="handleOrderClick($event)" locale="pl"></p-schedule>
    </div>
</p-dialog>

<p-dialog [header]="selectedOrder?.workNo" [(visible)]="orderDialogDisplay" [responsive]="true" showEffect="fade" [modal]="true" [minWidth]="400" [width]="500">
    <div *ngIf="selectedOrder?.workNo" class="ui-grid ui-grid-responsive ui-fluid">
        <p-fieldset legend="Detale zamówienia" *ngIf="selectedOrder">
            <div class="ui-grid ui-grid-responsive ui-fluid" *ngIf="selectedOrder">

                <div class="ui-grid-row" style="margin-top: 10px;">
                    <div class="ui-grid-col-4">Numer WO</div>
                    <div class="ui-grid-col-8 ui-fluid">{{selectedOrder.workNo}}</div>
                </div>
                <div class="ui-grid-row" style="margin-top: 10px;">
                    <div class="ui-grid-col-4">Typ WO</div>
                    <div class="ui-grid-col-8">{{selectedOrder.type}}</div>
                </div>
                <div class="ui-grid-row" style="margin-top: 10px;">
                    <div class="ui-grid-col-4">Wartość zlecenia</div>
                    <div class="ui-grid-col-8">{{selectedOrder.price}} PLN</div>
                </div>

                <div class="ui-grid-row" style="margin-top: 10px;"><!-- editing status is not allowed for new orders-->
                    <div class="ui-grid-col-4">Status</div>
                    <div class="ui-grid-col-8">{{selectedOrder.status}}</div>
                </div>
                <div class="ui-grid-row" style="margin-top: 10px;">
                    <div class="ui-grid-col-4">Capex</div>
                    <div class="ui-grid-col-8">{{selectedOrder.mdCapex}}</div>
                </div>
                <div class="ui-grid-row" style="margin-top: 10px;">
                    <div class="ui-grid-col-4">>Komentarz</div>
                    <div class="ui-grid-col-8">
                        <textarea pInputTextarea id="comment" [(ngModel)]="selectedOrder.comment" [rows]="2" [cols]="30"  autoResize="autoResize" placeholder="Nieskomentowano"></textarea>
                    </div>
                </div>
                <div class="ui-grid-row" style="margin-top: 10px;">
                    <div class="ui-grid-col-4">Opis</div>
                    <div class="ui-grid-col-8">
                        <textarea pInputTextarea id="description" [(ngModel)]="selectedOrder.description"  placeholder="Brak opisu" [rows]="2" [cols]="30"  autoResize="autoResize"></textarea>
                    </div>
                </div>

                <hr>
                <!-- related item -->

                <div *ngIf="selectedOrder?.relatedItems?.length > 0">
                    <div class="ui-grid-row" style="margin-top: 10px;">
                        <div class="ui-grid-col-4">Numer obiektu</div>
                        <div class="ui-grid-col-8">
                            {{selectedOrder?.relatedItems[0]?.itemNo}}
                        </div>
                    </div>
                    <div class="ui-grid-row" style="margin-top: 10px;">
                        <div class="ui-grid-col-4">Opis obiektu</div>
                        <div class="ui-grid-col-8">
                            {{selectedOrder?.relatedItems[0]?.description}}
                        </div>
                    </div>
                    <div class="ui-grid-row" style="margin-top: 10px;">
                        <div class="ui-grid-col-4">Adres</div>
                        <div class="ui-grid-col-8">
                            {{selectedOrder?.relatedItems[0]?.address}}
                        </div>
                    </div>

                    <div class="ui-grid-row" style="margin-top: 10px;">
                        <div class="ui-grid-col-4">Typ budynku</div>
                        <div class="ui-grid-col-8">
                            {{selectedOrder?.relatedItems[0]?.mdBuildingType}}
                        </div>
                    </div>

                    <div class="ui-grid-row" style="margin-top: 10px;">
                        <div class="ui-grid-col-4">Konstrukcja</div>
                        <div class="ui-grid-col-8">
                            {{selectedOrder?.relatedItems[0]?.mdConstructionCategory}}
                        </div>
                    </div>

                    <div class="ui-grid-row" style="margin-top: 10px;">
                        <div class="ui-grid-col-4">Data utworzenia</div>
                        <div class="ui-grid-col-8">
                            {{selectedOrder?.relatedItems[0]?.creationDate}}
                        </div>
                    </div>
                </div>

            </div>
        </p-fieldset>
    </div>
</p-dialog>


