
<p-panel header="Raport utylizacji zespołu">

    <div class="ui-grid-row">
        <div class="ui-grid-col-12">

                <form #f="ngForm" (submit)="search()">

                    <div class="ui-grid ui-grid-responsive ui-fluid ui-grid-pad">
                        <div class="ui-grid-row"  style="margin-top: 20px;">
                            <div class="ui-grid-col-1"></div>
                            <div class="ui-grid-col-5">
                                <label for="afterDate">od</label>
                                <p-calendar name="afterDate" [(ngModel)]="afterDate" showIcon="true" dateFormat="dd.mm.yy" utc="true"></p-calendar>
                            </div>
                            <!--<div class="ui-grid-col-1"></div>-->
                            <div class="ui-grid-col-5">
                                <label for="beforeDate">do</label>
                                <p-calendar name="beforeDate" [(ngModel)]="beforeDate" showIcon="true" dateFormat="dd.mm.yy" utc="true"></p-calendar>
                            </div>
                            <div class="ui-grid-col-1"></div>
                        </div>
                        <div class="ui-grid-row"  style="margin-top: 15px;">
                            <div class="ui-grid-col-5"></div>
                            <div class="ui-grid-col-2">
                                <button pButton type="button" (click)="search()" icon="fa-search" label="Szukaj Laros" style="margin-left: 0px; min-width: 140px; max-width: 200px;" [disabled]="!f?.valid"></button>
                            </div>
                            <div class="ui-grid-col-5"></div>
                        </div>
                    </div>

                </form>
        </div>
    </div>
</p-panel>



<div *ngIf="chartsReady">
    <p-panel header="Utylizacja i udziały">
        <div class="ui-grid-row">
            <div class="ui-grid-col-6">
                <p-chart type="bar" [data]="chartUtilizationData" ></p-chart>
            </div>
            <div class="ui-grid-col-6">
                <p-chart type="polarArea" [data]="chartShareData"></p-chart>
            </div>
        </div>
    </p-panel>
</div>

<div style="margin-top: 5px" *ngIf="reports" class="ui-g">
    <p-dataTable [value]="reports" [rows]="20" [paginator]="true" [globalFilter]="gb" #dt selectionMode="single" [(selection)]="selectedReport" (onRowSelect)="onRowSelect($event)" dataKey="id" resizableColumns="true" sortField="timeUtilizationPercentage" sortOrder="-1" [loading]="loading" loadingIcon="fa-spinner">
        <p-header>
            <div>
                <i class="fa fa-search"></i>
                <input #gb type="text" pInputText size="50" placeholder="Filtruj">
            </div>
        </p-header>
        <p-column [sortable]="true" field="id" header="id" hidden="true" ></p-column>

        <p-column [sortable]="true" field="icon" header="Ocena" [style]="{'text-align':'center', 'width':'50px'}">
            <ng-template let-col let-report="rowData" pTemplate="body">
                <span class="ui-inputgroup-addon" [style.color]="report['iconColor']"><i [class]="report[col.field]"></i></span>
            </ng-template>
        </p-column>
        <p-column [sortable]="true" field="timeUtilizationPercentage" header="Obciążenie [%]" [style]="{'text-align':'right'}"></p-column>


        <p-column [sortable]="true" field="firstName" header="Imie" ></p-column>
        <p-column [sortable]="true" field="lastName" header="Nazwisko" ></p-column>
        <p-column [sortable]="true" field="role" header="Rola" ></p-column>
        <p-column [sortable]="true" field="office" header="Biuro" ></p-column>

        <p-column [sortable]="true" field="declaredTime" header="Zadeklarowano h"  [style]="{'text-align':'right'}"></p-column>
        <p-column [sortable]="true" field="expectedTime" header="Zakładano h" [style]="{'text-align':'right'}"></p-column>
        <p-column [sortable]="true" field="noOrdersDone" header="Ukończono" [style]="{'text-align':'right'}"></p-column>



        <ng-template pTemplate="emptymessage">
            Brak raportów w zakresie dat...
        </ng-template>

        <p-footer>
        </p-footer>

    </p-dataTable>

</div>


<!-- defaultDate="2017-11-01" -->

<p-dialog *ngIf="selectedReport" [header]="selectedReport?.firstName +' '+selectedReport?.lastName +' ('+selectedReport?.timeUtilizationPercentage+'%)'" [(visible)]="schedulerDisplay" [responsive]="true" showEffect="fade" [modal]="true" [minWidth]="800" [width]="800">
    <div class="ui-grid ui-grid-responsive ui-fluid">
        <p-schedule [events]="schedulerEvents" [header]="schedulerHeader" [eventLimit]="4" [editable]="false" (onEventClick)="handleOrderClick($event)" [locale]="'pl'"></p-schedule>
    </div>
</p-dialog>

<p-dialog [header]="selectedOrder?.workNo + (selectedOrder?.doneDate? ' wykonano': ' w realizacji...' )" [(visible)]="orderDialogDisplay" [responsive]="true" showEffect="fade" [modal]="true" [minWidth]="800" [width]="900" [blockScroll]="true" [contentStyle]="{'height': '800px'}">

    <div *ngIf="selectedOrder?.workNo">
        <div class="ui-grid-row">
            <div class="ui-grid-col-12">
                <p-fieldset legend="Realizacja" *ngIf="selectedOrder">
                    <div class="ui-grid ui-grid-responsive ui-fluid" *ngIf="selectedOrder">

                        <div class="ui-grid-row" style="margin-top: 10px;">
                            <div class="ui-grid-col-4">Przypisano</div>
                            <div class="ui-grid-col-8">{{selectedOrder.assignedDate}}</div>
                        </div>

                        <div class="ui-grid-row" style="margin-top: 10px;" *ngIf="selectedOrder?.doneDate">
                            <div class="ui-grid-col-4">Wykonano</div>
                            <div class="ui-grid-col-8">{{selectedOrder.doneDate}}</div>
                        </div>

                    </div>

                </p-fieldset>
            </div>
        </div>

        <div class="ui-grid-row">
            <div class="ui-grid-col-12">
                <app-wo-details [selectedOrder]="selectedOrder"></app-wo-details>
            </div>
        </div>
    </div>


</p-dialog>


