<p-panel header="Wyniki zespołu">
    <div class="ui-grid-row">
        <div class="ui-grid-col-12">
                <form #f="ngForm" (submit)="search()">
                    <div class="ui-grid ui-grid-responsive ui-fluid ui-grid-pad">
                        <div class="ui-grid-row"  style="margin-top: 20px;">
                            <div class="ui-grid-col-1"></div>
                            <div class="ui-grid-col-5">
                                <label for="afterDate">od</label>
                                <p-calendar name="afterDate" [locale]="pl" [(ngModel)]="afterDate" showIcon="true" dateFormat="dd.mm.yy" utc="true"></p-calendar>
                            </div>
                            <!--<div class="ui-grid-col-1"></div>-->
                            <div class="ui-grid-col-5">
                                <label for="beforeDate">do</label>
                                <p-calendar name="beforeDate" [locale]="pl" [(ngModel)]="beforeDate" showIcon="true" dateFormat="dd.mm.yy" utc="true"></p-calendar>
                            </div>
                            <div class="ui-grid-col-1"></div>
                        </div>
                        <div class="ui-grid-row"  style="margin-top: 15px;">
                            <div class="ui-grid-col-5"></div>
                            <div class="ui-grid-col-2">
                                <button pButton type="button" (click)="search()" icon="fa fa-search" label="Szukaj Laros" style="margin-left: 0px; min-width: 140px; max-width: 200px;" [disabled]="!f?.valid"></button>
                            </div>
                        </div>
                    </div>

                </form>
        </div>
    </div>
</p-panel>
<div style="margin-top: 5px" *ngIf="reports" class="ui-g">
    <p-table #tt dataKey="id" [columns]="cols" [value]="reports" [rows]="20" [paginator]="true"
      [resizableColumns]="true"  sortField="timeUtilizationPercentage" sortOrder="-1" selectionMode="multiple" [(selection)]="selectedReports"
      loadingIcon="fa fa-spinner" [globalFilterFields]="cols"
      [responsive]="false"
     (onRowSelect)="filterReports($event)" (onHeaderCheckboxToggle)="filterReports($event)"
      [metaKeySelection]="true"
      csvSeparator=";" exportFilename="Wydajność zespołu"
      >
      <ng-template pTemplate="caption">
        <div class="ui-g">
          <div class="ui-g-2"></div>
          <div class="ui-g-8"> 
            <i class="fa fa-search turbo-table-filtr-icon"></i>
            <input type="text" pInputText size="50" placeholder="Filtruj"
              (input)="tt.filterGlobal($event.target.value, 'contains')" style="width:auto">
          </div>
          <div class="ui-g-2"> <button type="button"  pButton icon="fa fa-file-o" iconPos="left" label="CSV" (click)="customExportCsv(tt)"></button></div>
        </div>
      </ng-template>
      <ng-template pTemplate="header" let-columns>
        <tr>
          <th *ngFor="let col of columns" [hidden]="col.hidden" [pSortableColumn]="col.field" [ngClass]="col.class"
            pResizableColumn excludeGlobalFilter=col.exclude>
            <span *ngIf="col.check">
              <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
            </span>          
            <span class="header" *ngIf="!col.check && !col.rating">
              {{col.header}}
              <p-sortIcon *ngIf="!col.button && col.sortable" [field]="col.field"></p-sortIcon>             
            </span>
            <span *ngIf="col.filter">
              <input class="width-100" [attr.placeholder]="col.header === 'Pula' ? 'Y/N' : 'Filtruj'" pInputText
              type="text" (input)="tt.filter($event.target.value, col.field, col.filterMatchMode)" >            
            </span>
            <div *ngIf="col.rating">
              <div>
                {{col.header}}
              </div>
              <!-- TODO Tu jest dropDown do filtrowania według wydajności, do zaimplementowania później  -->
              <!-- <div>
                <p-dropdown appendTo="body" [options]="ratingCollection" [(ngModel)]="selectedRating" [autoWidth]="true" (onChange)="ratingSelected($event)">
                  <ng-template let-item pTemplate="selectedItem">
                    <span [style.color]="item.styleClass"><i [class]="item.icon"></i></span>
                    <span style="vertical-align:middle; margin-left: .5em">{{item.label}}</span>
                  </ng-template>
                  <ng-template let-rating pTemplate="item">
                    <span [style.color]="rating.styleClass"><i [class]="rating.icon"></i></span>
                    <span style="vertical-align:middle; margin-left: .5em">{{rating.label}}</span>
                  </ng-template>
                </p-dropdown>  
              </div> -->        
            </div>            
           </th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-rowData let-columns="columns" let-rowIndex="rowIndex">
        <tr [pSelectableRow]="rowData"  [pSelectableRowDblClick]="rowData" [pSelectableRowIndex]="rowIndex" 
        [pContextMenuRow]="rowData" (dblclick)="onRowDblclick(rowData)" exportable="col.exportable">
          <td *ngFor="let col of columns" [hidden]="col.hidden" filterMatchMode="col.contains" [ngClass]="col.class">
            <p-tableCheckbox [value]="rowData" *ngIf="col.check"></p-tableCheckbox>
            <span *ngIf="col.header === 'Ocena'" class="ui-inputgroup-addon" [style.color]="rowData.iconColor"><i [class]="rowData.icon"></i></span>
            <span *ngIf="col.utilization">          
                <span *ngIf="rowData?.timeUtilizationPercentage >= 0" style="padding: 3px">{{rowData.timeUtilizationPercentage}}%</span>
                <span *ngIf="rowData?.timeUtilizationPercentage === noTimesheets" style="padding: 3px">Brak deklaracji czasu pracy</span>
                <span *ngIf="rowData?.timeUtilizationPercentage === holidays" style="padding: 3px">Urlop</span>    
            </span>
            <span *ngIf="col.isFromPool">
                <span *ngIf="rowData[col.field]=='Y'" [style.color]="'green'" class="ui-inputgroup-addon"><i [class]="'fa fa-users'"></i></span>
                <span *ngIf="rowData[col.field]!='Y'" [style.color]="'grey'" class="ui-inputgroup-addon"><i [class]="'fa fa-street-view'"></i></span>
            </span>
            <span *ngIf="col.declaredTime">
                <span>{{rowData[col.field] | number: '1.2-2'}} godz.</span>
            </span>
            <span *ngIf="col.expectedTime">
                <span>{{rowData[col.field] | number: '1.2-2'}} godz.</span>
            </span>
            <span *ngIf="col.earnedMoney">
                <span>{{rowData[col.field] | currency: 'PLN'}}</span>
            </span>
            <div *ngIf="col.orders">
                <p-button type="button" styleClass="btn btn-info btn-lg" style="width:25px; margin-right: 10px;" (click)="showDoneOrders($event, rowData)" icon="fa fa-server"></p-button>
                <p-button type="button" styleClass="btn btn-info btn-lg" style="width:25px" (click)="prepareAndShowCalendar(rowData)" icon="fa fa-calendar"></p-button>
            </div>
            <span *ngIf="!col.icon">
              {{rowData[col.field]}}
            </span>
            
          </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="footer" let-columns>
        <tr>
          <td *ngFor="let col of columns" [hidden]="col.hidden">
            <span *ngIf="col.isActive">Aktywnych <br />   </span>
            <span *ngIf="col.isEmployed">Pracujących <br /></span>
            <span *ngIf="col.rank"> <br /> </span>
          </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="summary" let-columns="columns">
        <div class="ui-grid ui-grid-responsive ui-fluid ui-grid-pad">
          <div class="ui-grid-row"  style="margin-top: 15px;">
            <div class="ui-grid-col-1"></div>
            <div class="ui-grid-col-2"> </div>
            <div class="ui-grid-col-6"></div>
            <div class="ui-grid-col-2">
            </div>
            <div class="ui-grid-col-1"></div>
          </div>
        </div>
      </ng-template>
      <ng-template pTemplate="emptymessage">
        Brak raportów w zakresie dat...
    </ng-template>
    </p-table>
</div>
<div *ngIf="chartsReady">
    <div class="ui-grid-row" style="margin-top: 10px; margin-bottom: 10px;">
        <p-panel [header]="'Podsumowanie od '+toolsService.formatDate(afterDate, 'yyyy-MM-dd')+' do '+toolsService.formatDate(beforeDate, 'yyyy-MM-dd')">
            <div class="ui-grid-row" style="margin-top: 20px;">
                <div class="ui-grid-col-1"></div>
                <div class="ui-grid-col-5">
                    <p>Średnio wypracowano <span style="font-weight: bolder">{{getAvgMoney() | currency: 'PLN'}}</span></p>
                </div>
                <div class="ui-grid-col-1"></div>
                <div class="ui-grid-col-5">
                    <p>Średnia wydajność <span style="font-weight: bolder">{{getAvgUtilization() | number: '1.2-2'}}%</span></p>
                </div>

            </div>
        </p-panel>
    </div>
    <div class="ui-grid-row">
        <div class="ui-grid-col-12">
            <p-panel header="Wydajność">
                <p-chart type="bar" [data]="chartUtilizationData" ></p-chart>
            </p-panel>
        </div>
    </div>
    <div class="ui-grid-row">
        <div class="ui-grid-col-6">
            <p-panel header="Zakładany czas w godzinach obliczony na podstawie pracochłonności wykonanych WO">
                <p-chart type="polarArea" [data]="chartShareData"></p-chart>
            </p-panel>
        </div>
        <div class="ui-grid-col-6">
            <p-panel header="Wypracowany obrót w PLN">
                <p-chart type="bar" [data]="chartEarnedData"></p-chart>
            </p-panel>
        </div>
    </div>
</div>
<!-- defaultDate="2017-11-01" -->
<p-dialog *ngIf="selectedReport" [header]="selectedReport?.firstName +' '+selectedReport?.lastName +' ('+selectedReport?.timeUtilizationPercentage+'%)'" [(visible)]="schedulerDisplay" [responsive]="true" [minWidth]="800" [width]="800">
    <div class="ui-grid ui-grid-responsive ui-fluid">
        <p-schedule [events]="schedulerEvents" [header]="schedulerHeader" [eventLimit]="8" [editable]="false" (onEventClick)="handleOrderClick($event)" [locale]="'pl'"></p-schedule>
    </div>
</p-dialog>
<p-dialog [header]="selectedOrder?.workNo + (selectedOrder?.doneDate? ' wykonano': ' w realizacji...' )" [(visible)]="orderDialogDisplay" [responsive]="true" [minWidth]="800" [width]="900" [blockScroll]="true" [contentStyle]="{'height': '800px'}">
    <div *ngIf="selectedOrder?.workNo">
        <div class="ui-grid-row">
            <div class="ui-grid-col-12">
                <p-fieldset legend="Realizacja" *ngIf="selectedOrder">
                    <div class="ui-grid ui-grid-responsive ui-fluid" *ngIf="selectedOrder">

                        <div class="ui-grid-row" style="margin-top: 10px;">
                            <div class="ui-grid-col-4">Przypisano</div>
                            <div class="ui-grid-col-8">{{selectedOrder.assignedDate}}</div>
                        </div>
                        <div class="ui-grid-row" style="margin-top: 10px;" *ngIf="selectedOrder?.doneDate">
                            <div class="ui-grid-col-4">Wykonano</div>
                            <div class="ui-grid-col-8">{{selectedOrder.doneDate}}</div>
                        </div>
                    </div>
                </p-fieldset>
            </div>
        </div>
        <div class="ui-grid-row">
            <div class="ui-grid-col-12">
                <app-wo-details [selectedOrder]="selectedOrder"></app-wo-details>
            </div>
        </div>
    </div>
</p-dialog>
<p-dialog [header]="selectedReport?.firstName +' '+ selectedReport?.lastName+' zlecenia od '+toolsService.formatDate(this.afterDate, 'yyyy-MM-dd')+' do '+toolsService.formatDate(this.beforeDate, 'yyyy-MM-dd')"
 [(visible)]="doneOrdersDialogDisplay" [minWidth]="900" [style]="{'margin':'10px'}" [responsive]="true" [blockScroll]="true">
    <div *ngIf="selectedReport?.workOrders">
        <div class="ui-grid-row">
            <p-table #ordersTable dataKey="id" [columns]="colsForOrdersTable" [value]="selectedReport.workOrders" [rows]="20" [paginator]="true"
            [resizableColumns]="true" sortField="workNo" sortOrder="-1" 
            loadingIcon="fa fa-spinner" csvSeparator=";" [exportFilename] = "selectedReport?.lastName+'_zl_wykonywane_'+toolsService.formatDate(this.afterDate, 'yyyy-MM-dd')+'_'+toolsService.formatDate(this.beforeDate, 'yyyy-MM-dd')"
             [globalFilterFields]="colsForOrdersTable"
            [responsive]="false"
           (onRowSelect)="filterReports($event)" 
            [metaKeySelection]="true"
            >
            <ng-template pTemplate="caption">
              <div>
                <i class="fa fa-search"></i>
                <input type="text" pInputText size="50" placeholder="Filtruj"
                  (input)="ordersTable.filterGlobal($event.target.value, 'contains')" style="width:auto">
              </div>
            </ng-template>
            <ng-template pTemplate="header" let-columns>
              <tr>
                <th *ngFor="let col of columns" [hidden]="col.hidden" [pSortableColumn]="col.field" [ngClass]="col.class"
                  pResizableColumn excludeGlobalFilter=col.exclude>
                  <span *ngIf="col.check">
                    <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                </span>
                  <span class="header" *ngIf="!col.check">
                    {{col.header}}
                    <p-sortIcon *ngIf="!col.button && col.sortable" [field]="col.field"></p-sortIcon>
                  </span>
                </th>
              </tr>
              <tr>
                <th *ngFor="let col of columns" [hidden]="col.hidden">
                  <input class="width-100" [attr.placeholder]="col.isFromPool || col.isActive || col.isEmployed  ? 'Y/N' : 'Filtruj'" pInputText
                    type="text" (input)="ordersTable.filter($event.target.value, col.field, col.filterMatchMode)" *ngIf="col.filter">            
                </th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-rowData let-columns="columns" let-rowIndex="rowIndex">
              <tr [pSelectableRow]="rowData"  [pSelectableRowDblClick]="rowData" [pSelectableRowIndex]="rowIndex" [pContextMenuRow]="rowData" (dblclick)="onRowDblclick(rowData)">
                <td *ngFor="let col of columns" [hidden]="col.hidden" filterMatchMode="col.contains" [ngClass]="col.class">
      
                <span *ngIf="col.typeCode">
                    <span [style.color]="workTypeService.getWorkTypeColor(rowData)" class="ui-inputgroup-addon"><i [class]="'fa fa-square'"></i></span>
                    <span style="padding: 3px">{{workTypeService.getWorkTypeDescription(rowData)}}</span>
                </span>
                <span *ngIf="col.status">
                    <span class="ui-inputgroup-addon"><i [class]="toolsService.getStatusIcon(rowData.statusCode)"></i></span>
                    <span style="padding: 3px">{{rowData.status}}</span>
                </span>
                <span *ngIf="col.complexity">                      
                    <span class="ui-inputgroup-addon"><i [class]="rowData[col.field]=='STD' ? 'fa fa-thumbs-o-up': 'fa fa-life-bouy'"></i></span>                         
                </span>
                <span *ngIf="col.order">
                    <p-button type="button" styleClass="btn btn-info btn-lg" style="width:25px" (click)="getAndShowOrderDetails(rowData.id)" icon="fa fa-search"></p-button>
                </span>
                <span *ngIf="!col.icon">
                    {{rowData[col.field]}}
                </span>
                  
                </td>
              </tr>
            </ng-template>
            <ng-template pTemplate="footer" let-columns>
              <tr>
                <td *ngFor="let col of columns" [hidden]="col.hidden">
                  <span *ngIf="col.isActive">Aktywnych <br />   </span>
                  <span *ngIf="col.isEmployed">Pracujących <br /></span>
                  <span *ngIf="col.rank"> <br /> </span>
                </td>
              </tr>
            </ng-template>
            <ng-template pTemplate="summary" let-columns="columns">
              <div class="ui-grid ui-grid-responsive ui-fluid ui-grid-pad">
                <div class="ui-grid-row"  style="margin-top: 15px;">
                  <div class="ui-grid-col-1"></div>
                  <div class="ui-grid-col-2"> </div>
                  <div class="ui-grid-col-6">  <button type="button" pButton icon="fa fa-file-o" iconPos="left" label="CSV" (click)="customCsvExportForOrders(ordersTable)"></button></div>
                  <div class="ui-grid-col-2">
                  </div>
                  <div class="ui-grid-col-1"></div>
                </div>
              </div>
            </ng-template>
            <ng-template pTemplate="emptymessage">
                Brak realizowanych zadań w tym zakresie dat...
            </ng-template>
          </p-table>
        </div>
    </div>
</p-dialog>
