

  <div class="ui-dialog-buttonpane ui-helper-clearfix">
    <div class="ui-grid-row" style="margin-top: 30px;">
        <div class="ui-grid-col-3">Wpisz urlop</div>
        <div class="ui-grid-col-3">
            <button width="300px" type="button" pButton [icon]="'fa-user'" (click)="showEdit()" [label]="'Urlop'"></button>
        </div>
    </div>
  </div>



<p-dialog header="Wpisz urlop" [(visible)]="displayEditDialog" [responsive]="true" showEffect="fade" [modal]="true" [minWidth]="800" [minHeight]="600">

    <div class="ui-grid ui-grid-responsive ui-fluid ui-grid-pad">

      <div class="ui-grid-row"  style="margin-top: 20px; margin-bottom: 300px;">

          <div class="ui-grid-col-4">
            <p-autoComplete
                  id="person" [(ngModel)]="selectedUser" [suggestions]="suggestedUsers" (completeMethod)="suggestUser($event)" [dropdown]="true" field="displayName"></p-autoComplete>
          </div>

          <div class="ui-grid-col-1"><label style="float: right" for="afterDate">Od</label></div>
          <div class="ui-grid-col-2">
            <p-calendar [locale]="pl" [disabled]="selectedUser==undefined" id="afterDate" name="afterDate" [(ngModel)]="afterDate" showIcon="true" dateFormat="dd.mm.yy" utc="true"></p-calendar>
          </div>
          <div class="ui-grid-col-1"><label style="float: right" for="beforeDate">Do</label></div>
          <div class="ui-grid-col-2">
            <p-calendar [locale]="pl" [disabled]="selectedUser==undefined || afterDate==undefined" id="beforeDate" [minDate]="afterDate" name="beforeDate" [(ngModel)]="beforeDate" showIcon="true" dateFormat="dd.mm.yy" utc="true"></p-calendar>
          </div>
          <div class="ui-grid-col-2">
            <button pButton type="button" (click)="confirmLeave()" icon="fa-user" label="Zapisz" style="margin-left: 0px; min-width: 140px; max-width: 200px;" [disabled]="!isFormValid()"></button>
          </div>
      </div>


    </div>

</p-dialog>
