

<p-panel header="Zlecenia - WO">

  <div class="ui-grid-row">
    <div class="ui-grid-col-5">
      <p-fieldset legend="Wyszukiwanie zleceń">
        <form #f="ngForm" (submit)="search()">

          <div class="ui-grid ui-grid-responsive ui-fluid ui-grid-pad">
            <div class="ui-grid-row"  style="margin-top: 20px;">
              <div class="ui-grid-col-1"></div>
              <div class="ui-grid-col-5">
                <label for="lastModAfter">zmodyfikowano od</label>
                <p-calendar name="lastModAfter" [(ngModel)]="lastModAfter" showIcon="true" dateFormat="dd.mm.yy" utc="true"></p-calendar>
              </div>
              <!--<div class="ui-grid-col-1"></div>-->
              <div class="ui-grid-col-5">
                <label for="lastModBefore">zmodyfikowano do</label>
                <p-calendar name="lastModBefore" [(ngModel)]="lastModBefore"showIcon="true" dateFormat="dd.mm.yy" utc="true"></p-calendar>
              </div>
              <div class="ui-grid-col-1"></div>
            </div>
            <div class="ui-grid-row"  style="margin-top: 15px;">
              <div class="ui-grid-col-4"></div>
              <div class="ui-grid-col-4">
                <button pButton type="button" (click)="search()" icon="fa-search" label="Szukaj Tena" style="margin-left: 0px; min-width: 140px;" [disabled]="!f?.valid"></button>
              </div>
              <div class="ui-grid-col-4"></div>
            </div>
          </div>

        </form>
      </p-fieldset>
    </div>
    <div class="ui-grid-col-4">
      <p-fieldset legend="Obiekt" *ngIf="selectedOrder?.relatedItems[0]?.itemNo || selectedOrder?.relatedItems[0]?.address || selectedOrder?.relatedItems[0]?.mdBuildingType || selectedOrder?.relatedItems[0]?.description || selectedOrder?.relatedItems[0]?.mdConstructionCategory">
        <div class="ui-grid-row"><div *ngIf="selectedOrder?.relatedItems[0]?.itemNo" class="ui-grid-col-4">Numer:</div><div class="ui-grid-col-8">{{selectedOrder?.relatedItems[0]?.itemNo}}</div></div>
        <div class="ui-grid-row"><div *ngIf="selectedOrder?.relatedItems[0]?.address" class="ui-grid-col-4">Adres:</div><div class="ui-grid-col-8">{{selectedOrder?.relatedItems[0]?.address}}</div></div>
        <div class="ui-grid-row"><div *ngIf="selectedOrder?.relatedItems[0]?.mdBuildingType" class="ui-grid-col-4">Typ budynku:</div><div class="ui-grid-col-8">{{selectedOrder?.relatedItems[0]?.mdBuildingType}}</div></div>
        <div class="ui-grid-row"><div *ngIf="selectedOrder?.relatedItems[0]?.mdConstructionCategory" class="ui-grid-col-4">Konstrukcja:</div><div class="ui-grid-col-8">{{selectedOrder?.relatedItems[0]?.mdConstructionCategory}}</div></div>
        <div class="ui-grid-row"><div *ngIf="selectedOrder?.relatedItems[0]?.description" class="ui-grid-col-4">Opis:</div><div class="ui-grid-col-8">{{selectedOrder?.relatedItems[0]?.description}}</div></div>
        <div class="ui-grid-row"><div *ngIf="selectedOrder?.relatedItems[0]?.creationDate" class="ui-grid-col-4">Dodano:</div><div class="ui-grid-col-8">{{selectedOrder?.relatedItems[0]?.creationDate}}</div></div>
      </p-fieldset>
    </div>
    <div class="ui-grid-col-3">
      <p-fieldset legend="Detale zamówienia" *ngIf="selectedOrder?.assigneeFull?.length > 0 || selectedOrder?.comment">
        <div class="ui-grid-row" *ngIf="selectedOrder?.creationDate">
          <div class="ui-grid-col-12">Dodano: <u>{{selectedOrder?.creationDate}}</u></div>
        </div>
        <div class="ui-grid-row" *ngIf="selectedOrder?.lastModDate">
          <div class="ui-grid-col-12">Modyfikacja: <u>{{selectedOrder?.lastModDate}}</u></div>
        </div>

        <hr *ngIf="selectedOrder?.creationDate || selectedOrder?.lastModDate">
        <div *ngIf="selectedOrder?.assigneeFull && selectedOrder?.assigneeFull?.length > 0" class="ui-grid-row"><strong>Wykonawcy</strong></div>
        <div class="ui-grid-row" *ngFor="let a of selectedOrder.assigneeFull">
          <div class="ui-grid-col-12"><u>{{a.email}}</u></div>
          <div class="ui-grid-col-12">{{a.firstName}} {{a.lastName}}</div>
          <div class="ui-grid-col-12">{{a.role}} @ {{a.office}}</div>
        </div>
        <hr *ngIf="selectedOrder?.assigneeFull && selectedOrder?.assigneeFull?.length > 0">

        <div class="ui-grid-row" *ngIf="selectedOrder?.comment">
          <div class="ui-grid-col-12">
            <textarea pInputTextarea disabled [(ngModel)]="selectedOrder.comment" [rows]="3" [cols]="30"></textarea>
          </div>
        </div>
        <div class="ui-grid-row" *ngIf="selectedOrder?.description">
          <div class="ui-grid-col-12">
            <textarea pInputTextarea disabled [(ngModel)]="selectedOrder.description" [rows]="3" [cols]="30"></textarea></div>
        </div>
      </p-fieldset>
    </div>
  </div>

  <div style="margin-top: 5px" *ngIf="orders" class="ui-g">
    <p-contextMenu #cm [model]="items"></p-contextMenu>

    <p-dataTable [value]="orders" [rows]="20" [paginator]="true" [globalFilter]="gb" #dt selectionMode="single" [(selection)]="selectedOrder" (onRowSelect)="onRowSelect($event)" dataKey="id" resizableColumns="true" sortField="lastModDate" sortOrder="-1" [loading]="loading" loadingIcon="fa-spinner" [contextMenu]="cm">
      <p-header>
        <div>
          <i class="fa fa-search"></i>
          <input #gb type="text" pInputText size="50" placeholder="Filtruj">
          <button type="button" pButton icon="fa-plus" style="float:left" (click)="add()" label="Dodaj nowe"></button>
        </div>
      </p-header>
      <p-column [sortable]="true" field="id" header="id" hidden="true" ></p-column>
      <p-column [sortable]="true" field="workNo" header="WO" ></p-column>
      <p-column [sortable]="true" field="status" header="Status" ></p-column>
      <p-column [sortable]="true" field="type" header="Typ" ></p-column>
      <p-column [sortable]="true" field="complexityCode" header="Złożoność" [style]="{'text-align':'center'}">
        <ng-template let-col let-order="rowData" pTemplate="body">
          <span class="ui-inputgroup-addon"><i [class]="order[col.field]=='STD' ? 'fa fa-thumbs-o-up': 'fa fa-life-bouy'"></i></span>
        </ng-template>
      </p-column>
      <p-column [sortable]="true" field="mdCapex" header="CAPEX" ></p-column>
      <p-column [sortable]="true" field="price" header="Wartość" styleClass="text-right"></p-column>

      <p-column [sortable]="true" field="comment" header="Komentarz" hidden="true"></p-column>
      <p-column [sortable]="true" field="description" header="Opis" hidden="true"></p-column>

      <p-column [sortable]="true" field="assignee" header="Wykonawca"></p-column><!--this is array -->
      <p-column [sortable]="true" field="protocolNo" header="Protokół"></p-column>
      <p-column [sortable]="true" field="lastModDate" header="Modyfikacja"></p-column>
      <p-column [sortable]="true" field="creationDate" header="Utworzenie"></p-column>

      <p-column [sortable]="true" field="itemNo" header="Numer obiektu" ></p-column>
      <!-- search by invisible colums flatten into order by wo.service -->
      <p-column [sortable]="true" field="itemBuildingType" header="Typ obiektu" hidden="true"></p-column>
      <p-column [sortable]="true" field="itemConstructionCategory" header="Konstukcja" hidden="true"></p-column>
      <p-column [sortable]="true" field="itemAddress" header="Adres" hidden="true"></p-column>
      <p-column [sortable]="true" field="itemDescription" header="Opis obiektu" hidden="true"></p-column>

      <!-- these are original childobject props but could not be used to filter
      <p-column [sortable]="true" header="Obiekt">
        <ng-template let-col let-relatedItem="rowData.relatedItems[0]" pTemplate="body">
          <span *ngIf="relatedItem?.itemNo">{{relatedItem?.itemNo}}<br></span>
          <span *ngIf="relatedItem?.address">{{relatedItem?.address}}<br></span>
          <span *ngIf="relatedItem?.mdBuildingType">{{relatedItem?.mdBuildingType}}<br></span>
          <span *ngIf="relatedItem?.mdConstructionCategory">{{relatedItem?.mdConstructionCategory}}<br></span>
          <span *ngIf="relatedItem?.description">{{relatedItem?.description}}<br></span>
        </ng-template>
      </p-column>-->
      <p-column [sortable]="true" field="ventureCompany" header="Inwestor" ></p-column>
      <p-column [sortable]="true" field="ventureDisplay" header="Przedstawiciel" ></p-column>

      <p-footer>
        <div class="ui-grid ui-grid-responsive ui-fluid ui-grid-pad">
          <div class="ui-grid-row"  style="margin-top: 15px;">
            <div class="ui-grid-col-1"></div>
            <div class="ui-grid-col-2">
              <button type="button" pButton icon="fa-plus" style="float:left" (click)="add()" label="Dodaj nowe"></button>
            </div>

            <div class="ui-grid-col-6"></div>

            <div class="ui-grid-col-2">
              <button type="button" pButton icon="fa-file-o" iconPos="left" label="CSV" (click)="dt.exportCSV()"></button>
            </div>
            <div class="ui-grid-col-1"></div>
          </div>
        </div>
      </p-footer>

    </p-dataTable>
  </div>


  <p-dialog [header]="newOrder? 'Nowe zlecenie' : 'Modyfikacja zlecenia'" [(visible)]="displayEditDialog" [responsive]="true" showEffect="fade" [modal]="true" [minWidth]="500">
    <div class="ui-grid ui-grid-responsive ui-fluid" *ngIf="editedOrder">
      <div class="ui-grid-row" style="margin-top: 10px;">
        <div class="ui-grid-col-4"><label for="ventureRepresentative">Zleceniodawca</label></div>
        <div class="ui-grid-col-8">
          <p-autoComplete id="ventureRepresentative" [(ngModel)]="assignedVentureRepresentative" [suggestions]="suggestedVentureRepresentatives" (completeMethod)="suggestVentureRepresentative($event)" [dropdown]="true" field="displayName" [forceSelection]="true"></p-autoComplete>
        </div>
      </div>
      <hr>

      <div class="ui-grid-row" style="margin-top: 10px;">
        <div class="ui-grid-col-4"><label for="workNo">Numer WO*</label></div>
        <div class="ui-grid-col-8 ui-fluid"><input pInputText id="workNo" [(ngModel)]="editedOrder.workNo" width="auto" required placeholder="Wpisz numer zlecenia..."/></div>
      </div>
      <div class="ui-grid-row" style="margin-top: 10px;">
        <div class="ui-grid-col-4"><label for="orderType">Typ WO*</label></div>
        <div class="ui-grid-col-8">
          <!-- TODO bug [forceSelection]="true" -->
            <p-autoComplete id="orderType" [(ngModel)]="workType" [suggestions]="suggestedTypes" (completeMethod)="suggestType($event)" [dropdown]="true" field="paramChar" required placeholder="Wybierz typ zlecenia..."></p-autoComplete>
        </div>
      </div>
      <div class="ui-grid-row" style="margin-top: 10px;">
        <div class="ui-grid-col-4"><label for="price">Wartość zlecenia (PLN)</label></div>
        <div class="ui-grid-col-8">
          <p-autoComplete id="price" [(ngModel)]="price" [suggestions]="suggestedPrice" (completeMethod)="suggestPrice($event)" [dropdown]="true" field="paramChar" [forceSelection]="false" placeholder="Można zmienić cenę (podaj liczbę)"></p-autoComplete>
        </div>
      </div>
        
      <div class="ui-grid-row" *ngIf="newOrder == false" style="margin-top: 10px;"><!-- editing status is not allowed for new orders-->
            <div class="ui-grid-col-4"><label for="status">Status</label></div>
            <div class="ui-grid-col-8">
                <p-autoComplete id="status" [(ngModel)]="status" [suggestions]="suggestedStatuses" (completeMethod)="suggestStatus($event)" [dropdown]="true" field="paramChar" [forceSelection]="true"></p-autoComplete>
            </div>
      </div>
      <div class="ui-grid-row" style="margin-top: 10px;">
        <div class="ui-grid-col-4"><label for="mdCapex">Capex</label></div>
        <div class="ui-grid-col-8"><input pInputText id="mdCapex" [(ngModel)]="editedOrder.mdCapex" placeholder="nr wydatków związanych z rozwojem"/></div>
      </div>
      <div class="ui-grid-row" style="margin-top: 10px;">
        <div class="ui-grid-col-4"><label for="comment">Komentarz</label></div>
        <div class="ui-grid-col-8">
          <!--<input pInputText id="comment" [(ngModel)]="editedOrder.comment" />-->
          <textarea pInputTextarea id="comment" [(ngModel)]="editedOrder.comment" [rows]="2" [cols]="30"  autoResize="autoResize" placeholder="Wewnętrzny komentarz dotyczący WO..."></textarea>
        </div>
      </div>
      <div class="ui-grid-row" style="margin-top: 10px;">
        <div class="ui-grid-col-4"><label for="description">Opis</label></div>
        <div class="ui-grid-col-8">
          <!--<input pInputText id="description" [(ngModel)]="editedOrder.description" />-->
          <textarea pInputTextarea id="description" [(ngModel)]="editedOrder.description"  placeholder="Opis dotyczący WO..." [rows]="2" [cols]="30"  autoResize="autoResize"></textarea>
        </div>
      </div>
      <hr>
      <!-- related item -->

      <div class="ui-grid-row" style="margin-top: 10px;">
        <div class="ui-grid-col-4"><label for="itemNo">Numer obiektu</label></div>
        <div class="ui-grid-col-8">
          <p-autoComplete placeholder="Wybierz z listy i ew. modyfikuj/dodaj nowy obiekt/nie przypisuj" id="itemNo" [(ngModel)]="relatedItem" [suggestions]="suggestedRelatedItems" (onBlur)="updateRelatedItem($event.target.value)" (onKeyUp)="updateRelatedItem($event.target.value)" (onFocus)="copyRelatedItem($event.target.value)" (completeMethod)="suggestRelatedItem($event)" [dropdown]="true" field="itemNo" [forceSelection]="false"></p-autoComplete>
        </div>
      </div>
      <div *ngIf="relatedItem?.id && isRelatedItemChanged(relatedItem)" class="ui-grid-row" style="margin-top: 0px;" >
        <div class="ui-grid-col-4"></div>
        <div class="ui-grid-col-8">
          <p-message severity="warn" text="Modyfikacja istniejącego obiektu"></p-message>
        </div>
      </div>
      <div *ngIf="relatedItem?.itemNo !== undefined && relatedItem?.id === undefined" class="ui-grid-row" style="margin-top: 0px;" >
        <div class="ui-grid-col-4"></div>
        <div class="ui-grid-col-8">
          <p-message severity="info" text="Dodawanie nowego obiektu"></p-message>
        </div>
      </div>


      <div class="ui-grid-row" style="margin-top: 10px;">
        <div class="ui-grid-col-4"><label for="itemAddress">Adres</label></div>
        <div class="ui-grid-col-8"><input pInputText id="itemAddress" [(ngModel)]="relatedItem.address" placeholder="Adres objektu inwestycji"/></div>
      </div>
      <div class="ui-grid-row" style="margin-top: 10px;">
        <div class="ui-grid-col-4"><label for="itemBuildingType">Typ budynku</label></div>
        <div class="ui-grid-col-8"><input pInputText id="itemBuildingType" [(ngModel)]="relatedItem.mdBuildingType" placeholder="Typ budynku..."/></div>
      </div>
      <div class="ui-grid-row" style="margin-top: 10px;">
        <div class="ui-grid-col-4"><label for="itemConstructionCategory">Konstrukcja</label></div>
        <div class="ui-grid-col-8"><input pInputText id="itemConstructionCategory" [(ngModel)]="relatedItem.mdConstructionCategory" placeholder="Typ konstrukcji..." /></div>
      </div>
      <div class="ui-grid-row" style="margin-top: 10px;">
        <div class="ui-grid-col-4"><label for="itemDescription">Opis obiektu</label></div>
        <div class="ui-grid-col-8">
          <textarea pInputTextarea id="itemDescription" [(ngModel)]="relatedItem.description" [rows]="2" [cols]="30"  autoResize="autoResize" placeholder="Opis objektu inwestycji..."></textarea>
        </div>
      </div>

      <div *ngIf="relatedItem?.creationDate" class="ui-grid-row" style="margin-top: 10px;">
        <div class="ui-grid-col-4"><label for="itemCreationDate">Data utworzenia</label></div>
        <input pInputText id="itemCreationDate" disabled="true" [(ngModel)]="relatedItem.creationDate"/>
      </div>

    </div>
    <p-footer>
      <div class="ui-dialog-buttonpane ui-helper-clearfix">
        <button width="200px" type="button" pButton icon="fa-check" (click)="saveOrder()" label="Zapisz"></button>
      </div>
    </p-footer>
  </p-dialog>


  <p-dialog [header]="isNewOrderOwner ? 'Przypisywanie/przepisywanie zlecenia': 'Dopisywanie do zlecenia'" [(visible)]="displayAssignDialog" [responsive]="true" showEffect="fade" [modal]="true" [minWidth]="400">
    <div class="ui-grid ui-grid-responsive ui-fluid" *ngIf="editedOrder">
        <div class="ui-grid-row" style="margin-top: 20px;">
            <div class="ui-grid-col-4"><label for="person">Osoba</label></div>
            <div class="ui-grid-col-8">
              <p-autoComplete id="person" [(ngModel)]="assignedEngineer" [suggestions]="suggestedEngineers" (completeMethod)="suggestEngineer($event)" [dropdown]="true" field="displayName" [forceSelection]="true"></p-autoComplete>
            </div>
        </div>
        <div *ngIf="isNewOrderOwner && selectedOrder?.assignee !== undefined" class="ui-grid-row" style="margin-top: 0px;" >
          <div class="ui-grid-col-4"></div>
          <div class="ui-grid-col-8">
            <p-message severity="warn" text="Zmiana właściciela zlecenia..."></p-message>
          </div>
        </div>

        <div class="ui-grid-row" style="margin-top: 20px;">
            <div class="ui-grid-col-4"><label for="workNo">Numer WO</label></div>
            <div class="ui-grid-col-8"><input pInputText id="workNo" [(ngModel)]="editedOrder.workNo" disabled="true"/></div>
        </div>
        <div class="ui-grid-row" style="margin-top: 20px;">
            <div class="ui-grid-col-4"><label for="type">Typ WO</label></div>
            <div class="ui-grid-col-8"><input pInputText id="type" [(ngModel)]="editedOrder.type" disabled="true"/></div>
        </div>
      <div class="ui-grid-row" style="margin-top: 20px;">
        <div class="ui-grid-col-4"><label for="status">Status</label></div>
        <div class="ui-grid-col-8">
          <div class="ui-grid-col-8"><input pInputText id="status" [(ngModel)]="editedOrder.status" disabled="true"/></div>
        </div>
      </div>
    </div>
    <p-footer>
      <div class="ui-dialog-buttonpane ui-helper-clearfix">
        <button width="200px" type="button" pButton [icon]="isNewOrderOwner ? 'fa-user': 'fa-share'" (click)="saveAssignment()" [label]="isNewOrderOwner ? 'Przypisz': 'Dopisz'"></button>
      </div>
    </p-footer>
  </p-dialog>


</p-panel>