

<p-panel header="Hello World">
  <p>Start here</p>

</p-panel>

<div style="margin-top: 5px" *ngIf="orders" class="ui-g">
  <p-dataTable [value]="orders" [rows]="20" [paginator]="true" [globalFilter]="gb" #dt selectionMode="single" [(selection)]="selectedOrder" (onRowSelect)="onRowSelect($event)" dataKey="id" resizableColumns="true" sortField="lastModDate" sortOrder="-1">
    <p-header>
      <div>
        <i class="fa fa-search"></i>
        <input #gb type="text" pInputText size="50" placeholder="Filtruj">
      </div>
    </p-header>
    <p-column [sortable]="true" field="id" header="id" [style]="{'width':'40px'}" ></p-column>
    <p-column [sortable]="true" field="workNo" header="WO" ></p-column>
    <p-column [sortable]="true" field="statusCode" header="Status" ></p-column>
    <p-column [sortable]="true" field="typeCode" header="Typ" ></p-column>
    <p-column [sortable]="true" field="complexityCode" header="Zlożoność" ></p-column>
    <p-column [sortable]="true" field="mdCapex" header="CAPEX" ></p-column>
    <p-column [sortable]="true" field="mdBuildingType" header="Typ budynku" ></p-column>
    <p-column [sortable]="true" field="mdConstructionCategory" header="Konstukcja" ></p-column>
    <p-column [sortable]="true" field="lastModDate" header="Ostatnia modyfikacja"></p-column>
  </p-dataTable>
</div>