<div class="ui-grid-row">
  <div class="ui-grid-col-12">
    <form #f="ngForm" (submit)="search()">
      <div class="ui-grid ui-grid-responsive ui-fluid ui-grid-pad">
        <div class="ui-grid-row"  style="margin-top: 20px;">
          <div class="ui-grid-col-1"></div>
          <div class="ui-grid-col-5">
            <p-dropdown placeholder="Ilość miesięcy..." [style]="{'width': '100%'}" id="NO_MONTHS" name="NO_MONTHS" [options]="possibleNoMonths" [(ngModel)]="NO_MONTHS" required autoWidth="false" ></p-dropdown>
          </div>
          <div class="ui-grid-col-2">
            <button pButton type="button" (click)="search()" icon="fa fa-search" label="Szukaj" style="margin-left: 0px; min-width: 140px; max-width: 200px;" [disabled]="!f?.valid"></button>
          </div>
          <div class="ui-grid-col-5"></div>
        </div>
      </div>
    </form>
  </div>
</div>
<div style="margin-top: 5px" *ngIf="reports" class="ui-g">
  <p-table #tt dataKey="id" [columns]="cols" [value]="reports" [rows]="20" [paginator]="true"
    [resizableColumns]="true"  sortField="timeUtilizationPercentage" sortOrder="-1"  
    [(selection)]="selectedReports" 
    loadingIcon="fa fa-spinner" [globalFilterFields]="cols"
    [responsive]="true"
    (onRowSelect)="filterReports($event)" (onHeaderCheckboxToggle)="filterReports($event)" (onRowUnselect)="filterReports($event)"
    [metaKeySelection]="false"
    csvSeparator=";" exportFilename="Raport_Miesieczny" 
  >
  <ng-template pTemplate="caption">
    <div>
      <i class="fa fa-search"></i>
      <input type="text" pInputText size="50" placeholder="Filtruj"
        (input)="tt.filterGlobal($event.target.value, 'contains')" style="width:auto">
    </div>
  </ng-template>
  <ng-template pTemplate="header" let-columns let-rowData>
    <tr>
      <th *ngFor="let col of columns" [hidden]="col.hidden" [pSortableColumn]="col.field" [ngClass]="col.class"
        pResizableColumn excludeGlobalFilter=col.exclude>
        <span class="header" *ngIf="!col.check">
          {{col.header}}
          <p-sortIcon *ngIf="!col.button && col.sortable" [field]="col.field"></p-sortIcon>
        </span>
      </th>
    </tr>
    <tr>
      <th *ngFor="let col of columns" [hidden]="col.hidden">
        <input class="width-100" [attr.placeholder]="col.header === 'Pula' ? 'Y/N' : 'Filtruj'" pInputText
          type="text" (input)="tt.filter($event.target.value, col.field, col.filterMatchMode)" *ngIf="col.filter">             
      </th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-rowData let-columns="columns" let-rowIndex="rowIndex">
    <tr [pSelectableRow]="rowData" [pSelectableRowIndex]="rowIndex">
      <td *ngFor="let col of columns" [hidden]="col.hidden" filterMatchMode="col.contains" [ngClass]="col.class"> 
        <p-tableCheckbox [value]="rowData" *ngIf="col.check"></p-tableCheckbox>
        <span *ngIf="col.header === 'Ocena'" class="ui-inputgroup-addon" [style.color]="rowData.iconColor"><i [class]="rowData.icon"></i></span>
        <span *ngIf="col.utilization">          
            <span *ngIf="rowData?.timeUtilizationPercentage >= 0" style="padding: 3px">{{rowData.timeUtilizationPercentage}}%</span>
            <span *ngIf="rowData?.timeUtilizationPercentage === noTimesheets" style="padding: 3px">Brak deklaracji czasu pracy</span>
            <span *ngIf="rowData?.timeUtilizationPercentage === holidays" style="padding: 3px">Urlop</span>    
        </span>
        <span *ngIf="col.isFromPool">
            <span *ngIf="rowData[col.field]=='Y'" [style.color]="'green'" class="ui-inputgroup-addon"><i [class]="'fa fa-users'"></i></span>
            <span *ngIf="rowData[col.field]!='Y'" [style.color]="'grey'" class="ui-inputgroup-addon"><i [class]="'fa fa-street-view'"></i></span>
        </span>
        <span *ngIf="col.declaredTime">
            <span>{{rowData[col.field] | number: '1.2-2'}} godz.</span>
        </span>
        <span *ngIf="col.expectedTime">
            <span>{{rowData[col.field] | number: '1.2-2'}} godz.</span>
        </span>
        <span *ngIf="col.earnedMoney">
            <span>{{rowData[col.field] | currency: 'PLN'}}</span>
        </span>
      <span *ngIf="col.date">      
        {{rowData['dateRange'].beginDate  | date: 'yyyy-MM'}}
      </span>
        <span *ngIf="!col.icon && !col.date">
          {{rowData[col.field]}}
        </span>
        
      </td>
    </tr>
  </ng-template>
  <ng-template pTemplate="footer" let-columns>
      <tr>
          <td *ngFor="let col of columns" [hidden]="col.hidden">
              <span *ngIf="col.finishedOrders">Suma <br /> {{summary.countFinishWo}}  </span>
              <span *ngIf="col.declaredTime">Suma <br /> {{summary.countDeclaredTime | number: '1.2-2'}} godz.</span>
              <span *ngIf="col.expectedTime"> Suma <br />{{summary.countExpectedTime | number: '1.2-2'}} godz.</span>
              <span *ngIf="col.earnedMoney"> Suma <br />{{summary.countEarnedMoney | currency: 'PLN'}} </span>
            </td>
      </tr>
    </ng-template>
  <ng-template pTemplate="summary" let-columns="columns">
    <div class="ui-grid ui-grid-responsive ui-fluid ui-grid-pad">
      <div class="ui-grid-row"  style="margin-top: 15px;">
        <div class="ui-grid-col-3"></div>
        <div class="ui-grid-col-2"> </div>
        <div class="ui-grid-col-2">  
           <button type="button" pButton icon="fa fa-file-o" iconPos="left" label="CSV" (click)="tt.exportCSV()"></button>
          </div>
        <div class="ui-grid-col-2">
        </div>
        <div class="ui-grid-col-3"></div>
      </div>
    </div>
  </ng-template>
  <ng-template pTemplate="emptymessage">
    Brak raportów w zakresie dat...
</ng-template>
</p-table>
</div>
<div *ngIf="chartsReady">
  <div class="ui-grid-row" style="margin-left: 50px; margin-right: 50px; margin-top: 10px; margin-bottom: 10px;">
    <div class="ui-grid-col-6">
      <p-chart type="line" [data]="lineUtilizationData" [height]="'400'" [options]="lineUtilizationOptions"></p-chart>
    </div>
    <div class="ui-grid-col-6">
      <p-chart type="line" [data]="lineEarnedData" [height]="'400'" [options]="personalEarnedOptions"></p-chart>
    </div>
  </div>

  <div class="ui-grid-row" style="margin-left: 50px; margin-right: 50px; margin-top: 10px; margin-bottom: 10px;">
    <div class="ui-grid-col-6">
      <p-chart type="line" [data]="avgUtilizationData" [height]="'300'" [options]="lineUtilizationOptions"></p-chart>
    </div>
    <div class="ui-grid-col-6">
      <p-chart type="line" [data]="totalEarnedData" [height]="'300'" [options]="totalEarnedOptions"></p-chart>
    </div>
  </div>

  <div class="ui-grid-row" style="margin-left: 50px; margin-right: 50px; margin-top: 40px; margin-bottom: 10px;">
    <div class="ui-grid-col-6">
      <p>Instrukcja porównania regionów (ludzie z puli): Otwórz dwa okna przeglądarki, dla każdego z okien:</p>
      <p>1. Filtruj region - kolumna "Biuro"</p>
      <p>2. Filtruj tylko jeden miesiąc - kolumna "Od"</p>
      <p>3. Filtruj tylko ludzi z puli</p>
      <p>4. Zaznacz wszyskich, ew. przejdz po stronach doklikaj ręcznie</p>
      <p>5. Sprawdź wykresy</p>
    </div>
    <div class="ui-grid-col-6">
      <p-chart type="line" [data]="perCapitaEarnedData" [height]="'300'" [options]="perCapitaEarnedOptions"></p-chart>
    </div>
  </div>


</div>




