

<div style="margin-top: 5px" *ngIf="users" class="ui-g">

  <div class="ui-g" style="width:250px;margin-bottom:10px">
    <div class="ui-g-12"><p-radioButton name="group2" value="ALL" label="Pokaż wszystkich" [(ngModel)]="employedOnlyFilter" inputId="preopt1" (onClick)="filter('ALL')"></p-radioButton></div>
    <div class="ui-g-12"><p-radioButton name="group2" value="EMPLOYED_ONLY" label="Ukryjwaj byłych pracowników" [(ngModel)]="employedOnlyFilter" inputId="preopt2" (onClick)="filter('EMPLOYED_ONLY')"></p-radioButton></div>
  </div>

  <p-contextMenu #cm [model]="items"></p-contextMenu>

  <!--[(selection)]="selectedOrder" (onRowSelect)="onRowSelect($event)" (onRowDblclick)="onRowDblclick($event)"-->
  <p-dataTable [value]="users" [rows]="20" [paginator]="true" [globalFilter]="gb" #dt dataKey="id"
               selectionMode="single"
               sortField="excelId" sortOrder="1"
               [(selection)]="selectedUser"
               (onRowDblclick)="onRowDblclick($event)"
               resizableColumns="true" [loading]="loading" loadingIcon="fa-spinner" [contextMenu]="cm" csvSeparator=";" exportFilename="pracownicy">

    <p-header>
      <div>
        <i class="fa fa-search"></i>
        <input #gb type="text" pInputText size="50" placeholder="Filtruj">
        <button [disabled]="operator.roleCode.indexOf('PR') == -1" type="button" pButton icon="fa-plus" style="float:left" (click)="add()" label="Dodaj"></button>
      </div>
    </p-header>

    <p-column *ngIf="operator.roleCode.indexOf('PR') >= 0" [style]="{'width':'26px','text-align':'center'}">
      <ng-template let-userRow="rowData" png-template="body">
          <!--<button type="button" pButton (click)="showWoDetails($event, order)" icon="fa-search"></button>-->
          <button type="button" pButton (click)="showUserHistory($event, userRow)" icon="fa-search"></button>
          <p-dialog [(visible)]="displayUserHistoryDialog" [header]="'Historia '+selectedUser?.email" [minWidth]="900" [responsive]="true" showEffect="fade" [modal]="true" [blockScroll]="true" [contentStyle]="{'height': '900px'}">
            <app-user-history [selectedUser]="selectedUser" [staff]="users"></app-user-history>
          </p-dialog>
      </ng-template>
    </p-column>

    <p-column [sortable]="true" field="excelId" header="Id excel" [filter]="true" filterPlaceholder="Filtruj" [style]="{'width':'25px'}"></p-column>


    <p-column [sortable]="true" field="officeCode" header="Biuro" [filter]="true" filterPlaceholder="Filtruj" [style]="{'text-align':'center', 'width':'20px'}"></p-column>
    <p-column header="Osoba" field="lastName"  [filter]="true" filterPlaceholder="Nazwisko" [style]="{'text-align':'center', 'width':'60px'}">
      <ng-template let-col let-user="rowData" png-template="body">
        <span [style.color]="'green'" class="ui-inputgroup-addon">{{user.firstName}}</span>
        <span [style.color]="'green'" class="ui-inputgroup-addon">{{user.lastName}}</span>
      </ng-template>
    </p-column>

    <!--<p-column [sortable]="true" field="isActive" header="Aktywny" [filter]="true" filterPlaceholder="Filtruj" [style]="{'text-align':'center', 'width':'20px'}"></p-column>-->
    <p-column [sortable]="true" field="isActive" header="Aktywny" [filter]="true" filterPlaceholder="Y/N" filterMatchMode="contains" [style]="{'text-align':'center', 'width':'20px'}">
      <ng-template let-col let-user="rowData" png-template="body">
        <span *ngIf="user[col.field]=='Y'" [style.color]="'green'" class="ui-inputgroup-addon"><i [class]="'fa fa-check'"></i></span>
        <span *ngIf="user[col.field]!='Y'" [style.color]="'grey'"  class="ui-inputgroup-addon"><i [class]="'fa fa-ban'"></i></span>
      </ng-template>
    </p-column>
    <p-column [sortable]="true" field="isEmployed" header="Pracuje" [filter]="true" filterPlaceholder="Y/N" filterMatchMode="contains" [style]="{'text-align':'center', 'width':'20px'}">
      <ng-template let-col let-user="rowData" png-template="body">
        <span *ngIf="user[col.field]=='Y'" [style.color]="'green'" class="ui-inputgroup-addon"><i [class]="'fa fa-check'"></i></span>
        <span *ngIf="user[col.field]!='Y'" [style.color]="'grey'"  class="ui-inputgroup-addon"><i [class]="'fa fa-ban'"></i></span>
      </ng-template>
    </p-column>

    <p-column [sortable]="true" field="role" header="Rola" [filter]="true" filterPlaceholder="Filtruj" [style]="{'text-align':'center', 'width':'45px'}"></p-column>
    <p-column [sortable]="true" field="rank" header="Stopień" [filter]="true" filterPlaceholder="Filtruj" [style]="{'text-align':'center', 'width':'35px'}"></p-column>

    <!--<p-column [sortable]="true" field="isFromPool" header="Pula" [filter]="true" filterPlaceholder="Filtruj" [style]="{'text-align':'center', 'width':'25px'}"></p-column>-->
    <p-column [sortable]="true" field="isFromPool" header="Pula" [filter]="true" filterPlaceholder="Y/N" [style]="{'text-align':'center', 'width':'35px'}">
      <ng-template let-col let-user="rowData" png-template="body">
        <span *ngIf="user[col.field]=='Y'" [style.color]="'green'" class="ui-inputgroup-addon"><i [class]="'fa fa-users'"></i></span>
        <span *ngIf="user[col.field]!='Y'" [style.color]="'grey'" class="ui-inputgroup-addon"><i [class]="'fa fa-street-view'"></i></span>
      </ng-template>
    </p-column>

    <p-column *ngIf="operator.roleCode.indexOf('PR') >= 0" [sortable]="true" field="projectFactor" header="Wspł." [filter]="true" filterPlaceholder="Filtruj" [style]="{'text-align':'center', 'width':'30px'}">
      <ng-template let-col let-user="rowData" png-template="body">
        <span *ngIf="user.isFromPool=='Y'" [style.color]="'green'" class="ui-inputgroup-addon">{{user[col.field]}}</span>
        <span *ngIf="user.isFromPool!='Y'" [style.color]="'grey'" class="ui-inputgroup-addon">{{user[col.field]}}</span>
      </ng-template>
    </p-column>

    <p-column *ngIf="operator.roleCode.indexOf('PR') >= 0" [sortable]="true" field="salary" header="Wynagrodzenie" [filter]="true" filterPlaceholder="Filtruj" [style]="{'text-align':'center', 'width':'50px'}">
      <ng-template let-col let-user="rowData" png-template="body">
        <span *ngIf="user.salary!==0" class="ui-inputgroup-addon">{{user[col.field] | currency:'PLN'}}</span>
      </ng-template>
    </p-column>
    <p-column *ngIf="operator.roleCode.indexOf('PR') >= 0" [sortable]="true" field="salaryRate" header="Stawka gwarantowana" [filter]="true" filterPlaceholder="Filtruj" [style]="{'text-align':'center', 'width':'45px'}">
      <ng-template let-col let-user="rowData" png-template="body">
        <span *ngIf="!user.salary || user.salary===0" class="ui-inputgroup-addon">{{user.salaryRate | currency:'PLN'}}</span>
      </ng-template>
    </p-column>
    <p-column *ngIf="operator.roleCode.indexOf('PR') >= 0" [sortable]="true" field="leaveRate" header="Urlop" [filter]="true" filterPlaceholder="Filtruj" [style]="{'text-align':'center', 'width':'45px'}">
      <ng-template let-col let-user="rowData" png-template="body">
        <span *ngIf="!user.salary || user.salary===0" class="ui-inputgroup-addon">{{user.leaveRate | currency:'PLN'}}</span>
      </ng-template>
    </p-column>
    <!--<p-column [sortable]="true" field="company" header="Firma" [filter]="true" filterPlaceholder="Filtruj" [style]="{'text-align':'center', 'width':'30px'}"></p-column>
    <p-column [sortable]="true" field="agreement" header="Umowa" [filter]="true" filterPlaceholder="Filtruj" [style]="{'text-align':'center', 'width':'45px'}"></p-column>-->

    <p-column [sortable]="true" field="email" header="Email" [filter]="true" filterPlaceholder="Filtruj" [style]="{'width':'40px'}"></p-column>
    <p-column [sortable]="true" field="phone" header="Telefon" [filter]="true" filterPlaceholder="Filtruj" [style]="{'text-align':'center', 'width':'50px'}"></p-column>
    <!--
    <p-column [sortable]="true" field="addressStreet" header="adres" [filter]="true" filterPlaceholder="Filtruj" [style]="{'width':'65px'}"></p-column>
    <p-column [sortable]="true" field="addressPost" header="miejscowość" [filter]="true" filterPlaceholder="Filtruj" [style]="{'width':'70px'}"></p-column>
    <p-column [sortable]="true" field="account" header="Rachunek" [filter]="true" filterPlaceholder="Filtruj" [style]="{'text-align':'center', 'width':'100px'}"></p-column>
    -->

    <!--
    <p-column [sortable]="true" field="officeCode" header="Biuro" [filter]="true" filterPlaceholder="Filtruj" [style]="{'text-align':'center', 'width':'45px'}"></p-column>
    <p-column [sortable]="true" field="id" header="id" hidden="true" ></p-column>
    <p-column [sortable]="true" field="workNo" header="WO" [filter]="true" filterPlaceholder="Filtruj"></p-column>


    <p-column [sortable]="true" field="status" header="Status" [style]="{'width':'135px'}" [filter]="true" filterPlaceholder="Filtruj" filterMatchMode="contains">
      <ng-template let-col let-order="rowData" png-template="body">
        <span class="ui-inputgroup-addon"><i [class]="toolsService.getStatusIcon(order.statusCode)"></i></span>
        <span style="padding: 3px">{{order.status}}</span>
      </ng-template>
    </p-column>


    <p-column [sortable]="true" field="type" header="Typ" [filter]="true" filterPlaceholder="Filtruj" filterMatchMode="contains">
      <ng-template let-col let-order="rowData" png-template="body">
        <span [style.color]="toolsService.getOrderColor(order.typeCode)" class="ui-inputgroup-addon"><i [class]="'fa fa-square'"></i></span>
        <span style="padding: 3px">{{order.type}}</span>
      </ng-template>
    </p-column>

    <p-column [sortable]="true" field="complexityCode" header="Zł." [style]="{'text-align':'center', 'width':'45px'}">
      <ng-template let-col let-order="rowData" png-template="body">
        <span class="ui-inputgroup-addon"><i [class]="order[col.field]=='STD' ? 'fa fa-thumbs-o-up': 'fa fa-life-bouy'"></i></span>
      </ng-template>
    </p-column>
    <p-column [sortable]="true" field="complexity" header="Wycena" [style]="{'text-align':'center', 'width':'55px'}"></p-column>

    <p-column [sortable]="true" field="mdCapex" header="CAPEX" [filter]="true" filterPlaceholder="Filtruj"></p-column>
    <p-column [sortable]="true" field="price" header="Cena" styleClass="text-right" [style]="{'width':'70px'}" [filter]="true" filterPlaceholder="Filtruj"></p-column>

    <p-column [sortable]="true" field="comment" header="Komentarz" hidden="true"></p-column>
    <p-column [sortable]="true" field="description" header="Opis" hidden="true"></p-column>


    <p-column [sortable]="true" field="isFromPool" header="Pula" [filter]="true" filterPlaceholder="Y/N" [style]="{'text-align':'center', 'width':'45px'}">
      <ng-template let-col let-order="rowData" png-template="body">
        <span class="ui-inputgroup-addon"><i [class]="order[col.field]=='Y' ? 'fa fa-users': 'fa fa-street-view'"></i></span>
      </ng-template>
    </p-column>
    <p-column [sortable]="true" field="protocolNo" header="Protokół" [filter]="true" filterPlaceholder="Filtruj"></p-column>


    <p-column [sortable]="true" field="lastModDate" header="Mod." [style]="{'width':'82px'}" [filter]="true" filterPlaceholder="Filtruj"></p-column>
    <p-column [sortable]="true" field="creationDate" header="Utw." [style]="{'width':'82px'}" [filter]="true" filterPlaceholder="Filtruj"></p-column>

    <p-column [sortable]="true" field="itemNo" header="Numer obiektu" [filter]="true" filterPlaceholder="Filtruj"></p-column>

    -->
    <p-footer>
      <div class="ui-grid ui-grid-responsive ui-fluid ui-grid-pad">
        <div class="ui-grid-row"  style="margin-top: 15px;">
          <div class="ui-grid-col-1"></div>
          <div class="ui-grid-col-2">
            <button type="button" pButton icon="fa-plus" style="float:left" (click)="add()" label="Dodaj"></button>
          </div>

          <div class="ui-grid-col-6"></div>

          <div class="ui-grid-col-2">
            <button type="button" pButton icon="fa-file-o" iconPos="left" label="CSV" (click)="dt.exportCSV()"></button>
          </div>
          <div class="ui-grid-col-1"></div>
        </div>
      </div>
    </p-footer>

    <ng-template png-template="emptymessage">
      Brak pracowników...
    </ng-template>

  </p-dataTable>
</div>
