<p-panel header="Zawieszone zlecenia">

  <div style="margin-top: 5px" *ngIf="orders" class="ui-g">
    <p-dataTable [value]="orders" [rows]="20" [paginator]="true"  [globalFilter]="gb" #dt dataKey="id"
                 csvSeparator=";" exportFilename="zawieszone"
                 selectionMode="single" [(selection)]="selectedOrder" (onRowSelect)="onRowSelect($event)"
                 resizableColumns="true" sortField="lastModDate" sortOrder="-1" [loading]="loading" loadingIcon="fa-spinner" [contextMenu]="cm">
      <p-header>
        <div>
          <i class="fa fa-search"></i>
          <input #gb type="text" pInputText size="50" placeholder="Filtruj">
        </div>
      </p-header>
      <p-column [sortable]="true" field="officeCode" header="Biuro" [filter]="true" filterPlaceholder="Filtruj" [style]="{'text-align':'center', 'width':'45px'}"></p-column>
      <p-column [sortable]="true" field="workNo" header="WO"  [style]="{'width':'70px'}" [filter]="true" filterPlaceholder="Filtruj"></p-column>
      <p-column [sortable]="true" field="status" header="Status" [style]="{'text-align':'center', 'width':'60px'}" [filter]="true" filterPlaceholder="Filtruj" filterMatchMode="contains">
        <ng-template let-col let-order="rowData" pTemplate="body">
          <span class="ui-inputgroup-addon"><i [class]="toolsService.getStatusIcon(order.statusCode)"></i></span>
          <!--<span style="padding: 3px">{{order.status}}</span>-->
        </ng-template>
      </p-column>

      <p-column [sortable]="true" field="type" header="Typ" [style]="{'text-align':'center', 'width':'80px'}" [filter]="true" filterPlaceholder="Filtruj" filterMatchMode="contains">
        <ng-template let-col let-order="rowData" pTemplate="body">
          <span [style.color]="toolsService.getOrderColor(order.typeCode)" class="ui-inputgroup-addon"><i [class]="'fa fa-square'"></i></span>
          <span style="padding: 3px">{{order.type}}</span>
        </ng-template>
      </p-column>

      <p-column [sortable]="true" field="mdCapex" header="CAPEX"  [style]="{'width':'70px'}" [filter]="true" filterPlaceholder="Filtruj"></p-column>
      <p-column [sortable]="true" field="price" header="Cena" styleClass="text-right" [style]="{'width':'60px'}" [filter]="true" filterPlaceholder="Filtruj"></p-column>

      <p-column field="sComments" header="Komentarz" hiddem="true" [filter]="true" filterPlaceholder="Filtruj">
          <ng-template let-col let-order="rowData" pTemplate="body">
              <span>{{getCancelOrHoldComment(order)}}</span>
          </ng-template>
      </p-column>
      <p-column [sortable]="true" field="description" header="Opis" hiddem="true" [filter]="true" filterPlaceholder="Filtruj"></p-column>
      <p-column [sortable]="true" field="lastModDate" header="Modyfikacja" [style]="{'width':'90px'}" [filter]="true" filterPlaceholder="Filtruj"></p-column>


      <!-- search by invisible colums, display in one row -->
      <p-column [sortable]="true" field="itemNo" header="Numer obiektu" [style]="{'width':'95px'}" [filter]="true" filterPlaceholder="Filtruj"></p-column>
      <!-- search by invisible colums flatten into order by wo.service -->
      <p-column [sortable]="true" field="itemBuildingType" header="Typ obiektu"   hidden="true"></p-column>
      <p-column [sortable]="true" field="itemConstructionCategory" header="Konstukcja"   hidden="true"></p-column>
      <p-column [sortable]="true" field="itemAddress" header="Adres"  hidden="true"></p-column>
      <p-column [sortable]="true" field="itemDescription" header="Opis obiektu"  hidden="true"></p-column>

      <p-column [style]="{'width':'40px','text-align':'center'}">
        <ng-template let-order="rowData" pTemplate="body">
          <button type="button" pButton (click)="showWoDetails($event, order)" icon="fa-search"></button>
        </ng-template>
      </p-column>

      <ng-template pTemplate="emptymessage">
        Brak zleceń...
      </ng-template>

      <p-footer>
        <div class="ui-grid ui-grid-responsive ui-fluid ui-grid-pad">
          <div class="ui-grid-row"  style="margin-top: 15px;">
            <div class="ui-grid-col-5"></div>

            <div class="ui-grid-col-2">
              <button type="button" pButton icon="fa-file-o" iconPos="left" label="raport" (click)="dt.exportCSV()"></button>
            </div>
            <div class="ui-grid-col-5"></div>
          </div>
        </div>
      </p-footer>

    </p-dataTable>

    <p-contextMenu #cm [model]="items"></p-contextMenu>
  </div>

  <p-dialog [(visible)]="displayDetailsDialog" [header]="'Zamowienie '+selectedOrder?.workNo" [minWidth]="600" [responsive]="true" showEffect="fade" [modal]="true" [blockScroll]="true" [contentStyle]="{'height': '800px'}">
    <app-wo-details [selectedOrder]="selectedOrder"></app-wo-details>
  </p-dialog>


</p-panel>