

<p-panel header="Zlecenia - WO">

  <div class="ui-grid-row">
    <div class="ui-grid-col-6">
      <p-fieldset legend="Wyszukiwanie zleceń">
        <form #f="ngForm" (submit)="search()">

          <div class="ui-grid ui-grid-responsive ui-fluid ui-grid-pad">
            <div class="ui-grid-row"  style="margin-top: 20px;">
              <div class="ui-grid-col-1"></div>
              <div class="ui-grid-col-5">
                <label for="lastModAfter">zmodyfikowano od</label>
                <p-calendar name="lastModAfter" [locale]="pl" [(ngModel)]="lastModAfter" showIcon="true" dateFormat="dd.mm.yy" utc="true"></p-calendar>
              </div>
              <!--<div class="ui-grid-col-1"></div>-->
              <div class="ui-grid-col-5">
                <label for="lastModBefore">zmodyfikowano do</label>
                <p-calendar name="lastModBefore" [locale]="pl" [(ngModel)]="lastModBefore"showIcon="true" dateFormat="dd.mm.yy" utc="true"></p-calendar>
              </div>
              <div class="ui-grid-col-1"></div>
            </div>
            <div class="ui-grid-row"  style="margin-top: 15px;">
              <div class="ui-grid-col-4"></div>
              <div class="ui-grid-col-4">
                <button pButton type="button" (click)="search()" icon="fa fa-search" label="Szukaj Laros" style="margin-left: 0px; min-width: 140px;" [disabled]="!f?.valid"></button>
              </div>
              <div class="ui-grid-col-4"></div>
            </div>
          </div>

        </form>
      </p-fieldset>
    </div>

    <div class="ui-grid-col-6">
      <app-status-details></app-status-details>
    </div>

  </div>

  <div style="margin-top: 5px" *ngIf="orders" class="ui-g">
    <p-dataTable [value]="orders" [rows]="20" [paginator]="true" [globalFilter]="gb" #dt selectionMode="single" [(selection)]="selectedOrder" (onRowSelect)="onRowSelect($event)" dataKey="id" resizableColumns="true" sortField="lastModDate" sortOrder="-1" [loading]="loading" loadingIcon="fa fa-spinner" [contextMenu]="cm">
      <p-header>
        <div>
          <i class="fa fa-search"></i>
          <input #gb type="text" pInputText size="50" placeholder="Filtruj">
        </div>
      </p-header>
      <p-column [sortable]="true" field="id" header="id" hidden="true" ></p-column>
      <p-column [sortable]="true" field="officeCode" header="Biuro" [filter]="true" filterPlaceholder="Filtruj" [style]="{'text-align':'center', 'width':'45px'}"></p-column>
      <p-column [sortable]="true" field="workNo" header="Zlecenie" [filter]="true" filterPlaceholder="Filtruj"></p-column>

      <p-column [sortable]="true" field="status" header="Status" [filter]="true" filterPlaceholder="Filtruj">
        <ng-template let-col let-order="rowData" pTemplate="body">
          <span class="ui-inputgroup-addon"><i [class]="toolsService.getStatusIcon(order.statusCode)"></i></span>
          <span style="padding: 3px">{{order.status}}</span>
        </ng-template>
      </p-column>


      <p-column [sortable]="true" field="type" header="Typ" [filter]="true" filterPlaceholder="Filtruj">
        <ng-template let-col let-order="rowData" pTemplate="body">
          <span [style.color]="toolsService.getOrderColor(order.typeCode)" class="ui-inputgroup-addon"><i [class]="'fa fa-square'"></i></span>
          <span style="padding: 3px">{{order.type}}</span>
        </ng-template>
      </p-column>

      <p-column [sortable]="true" field="complexityCode" header="Złożoność" [style]="{'text-align':'center'}" [filter]="true" filterPlaceholder="Filtruj">
        <ng-template let-col let-order="rowData" pTemplate="body">
          <span class="ui-inputgroup-addon"><i [class]="order[col.field]=='STD' ? 'fa fa-thumbs-o-up': 'fa fa-life-bouy'"></i></span>
        </ng-template>
      </p-column>
      <p-column [sortable]="true" field="complexity" header="Wycena [H]" ></p-column>
      <p-column [sortable]="true" field="mdCapex" header="CAPEX" [filter]="true" filterPlaceholder="Filtruj"></p-column>
      <p-column [sortable]="true" field="price" header="Wartość" styleClass="text-right" [filter]="true" filterPlaceholder="Filtruj"></p-column>

      <!--
      <p-column [sortable]="true" field="comment" header="Komentarz"></p-column>
      <p-column [sortable]="true" field="description" header="Opis"></p-column>
      -->
      <p-column [sortable]="true" field="assignee" header="Wykonawca" [filter]="true" filterPlaceholder="Filtruj"></p-column><!--this is array -->
      <p-column [sortable]="true" field="lastModDate" header="Modyfikacja" [filter]="true" filterPlaceholder="Filtruj"></p-column>
      <p-column [sortable]="true" field="creationDate" header="Utworzenie" [filter]="true" filterPlaceholder="Filtruj"></p-column>

      <!-- search by invisible colums, display in one row -->
      <p-column [sortable]="true" field="itemNo" header="Numer obiektu" [filter]="true" filterPlaceholder="Filtruj"></p-column>
      <!-- search by invisible colums flatten into order by wo.service -->
      <p-column [sortable]="true" field="itemBuildingType" header="Typ obiektu"   hidden="true"></p-column>
      <p-column [sortable]="true" field="itemConstructionCategory" header="Konstukcja"   hidden="true"></p-column>
      <p-column [sortable]="true" field="itemAddress" header="Adres"  hidden="true"></p-column>
      <p-column [sortable]="true" field="itemDescription" header="Opis obiektu"  hidden="true"></p-column>

      <p-column [style]="{'width':'40px','text-align':'center'}">
        <ng-template let-order="rowData" pTemplate="body">
          <button type="button" pButton (click)="selectedOrder=order; onRowSelect($event); displayDetailsDialog=true" icon="fa fa-search"></button>
        </ng-template>
      </p-column>

      <ng-template pTemplate="emptymessage">
        Brak zleceń w zakresie dat...
      </ng-template>

      <p-footer>
      </p-footer>

    </p-dataTable>

    <p-contextMenu #cm [model]="items"></p-contextMenu>
  </div>

  <p-dialog [(visible)]="displayDetailsDialog" [header]="'Zamówienie '+selectedOrder?.workNo" [minWidth]="600" [responsive]="true" [blockScroll]="true" [contentStyle]="{'height': '800px'}">
    <app-wo-details [selectedOrder]="selectedOrder"></app-wo-details>
  </p-dialog>

  <p-dialog [header]="'Poprawa zlecenia '+editedOrder?.workNo" [(visible)]="displayReassignDialog" [responsive]="true" [minWidth]="500">
    <div class="ui-grid ui-grid-responsive ui-fluid" *ngIf="editedOrder">
      <div class="ui-grid-row" style="margin-top: 20px;">
        <div class="ui-grid-col-4"><label for="workNo">Numer WO</label></div>
        <div class="ui-grid-col-8 ui-fluid"><input pInputText id="workNo" [(ngModel)]="editedOrder.workNo" width="auto" disabled="true"/></div>
      </div>
      <div class="ui-grid-row" style="margin-top: 20px;">
        <div class="ui-grid-col-4"><label for="type">Typ WO</label></div>
        <div class="ui-grid-col-8">
          <input pInputText id="type" [(ngModel)]="editedOrder.type" disabled="true"/>
        </div>
      </div>
      <div class="ui-grid-row" style="margin-top: 20px;">
        <div class="ui-grid-col-4"><label for="status">Status</label></div>
        <div class="ui-grid-col-8">
          <input pInputText id="status" [(ngModel)]="editedOrder.status" disabled="true"/>
        </div>
      </div>
      <div class="ui-grid-row" style="margin-top: 20px;">
        <div class="ui-grid-col-4"><label for="comment">Komentarz</label></div>
        <div class="ui-grid-col-8">
          <textarea disabled="true" pInputTextarea id="comment" [(ngModel)]="editedOrder.comment" [rows]="8" [cols]="30"></textarea>
        </div>
      </div>
      <div class="ui-grid-row" style="margin-top: 20px;">
        <div class="ui-grid-col-4"><label for="justification">Uzasadnienie*</label></div>
        <div class="ui-grid-col-8">
          <textarea pInputTextarea id="justification" [(ngModel)]="newComment" [rows]="2" [cols]="30" required autoResize="autoResize"></textarea>
        </div>
      </div>
    </div>
    <p-footer>
      <div class="ui-dialog-buttonpane ui-helper-clearfix">
        <button width="200px" type="button" pButton icon="fa fa-bell" (click)="doReassign()" label="Zapisz"></button>
      </div>
    </p-footer>

  </p-dialog>

  <p-dialog [header]="complexityIncrease? 'Zwiększenie trudności' : 'Zmniejszenie trudności'" [(visible)]="displayChangeComplexityDialog" [responsive]="true"  [minWidth]="700">
    <div class="ui-grid ui-grid-responsive ui-fluid" *ngIf="editedOrder">
      <div class="ui-grid-row" style="margin-top: 20px;">
        <div class="ui-grid-col-4"><label for="workNo">Numer zlecenia</label></div>
        <div class="ui-grid-col-8 ui-fluid"><input pInputText id="workNo" [(ngModel)]="editedOrder.workNo" width="auto" disabled="true"/></div>
      </div>
      <div class="ui-grid-row" style="margin-top: 20px;">
        <div class="ui-grid-col-4"><label for="type">Typ zlecenia</label></div>
        <div class="ui-grid-col-8">
          <input pInputText id="type" [(ngModel)]="editedOrder.type" disabled="true"/>
        </div>
      </div>
      <div class="ui-grid-row" style="margin-top: 20px;">
        <div class="ui-grid-col-4"><label for="status">Status</label></div>
        <div class="ui-grid-col-8">
          <input pInputText id="status" [(ngModel)]="editedOrder.status" disabled="true"/>
        </div>
      </div>
      <div class="ui-grid-row" style="margin-top: 20px;">
        <div class="ui-grid-col-4"><label for="complexity">{{complexityIncrease? 'Zwiekszona': 'Standardowa'}} trudność [h]*</label></div>
        <div class="ui-grid-col-8">
          <input pInputText type="number" id="complexity" [(ngModel)]="editedOrder.complexity" required/>
        </div>
      </div>
      <div class="ui-grid-row" style="margin-top: 20px;">
        <div class="ui-grid-col-4"><label for="newComment">Uzasadnienie*</label></div>
        <div class="ui-grid-col-8">
          <textarea pInputTextarea id="newComment" name="newComment" [(ngModel)]="newComment" [rows]="8" [cols]="30" placeholder="Powód zmiany wyceny..." required autoResize="autoResize"></textarea>
        </div>
      </div>
      <!--<div class="ui-grid-row" style="margin-top: 20px;">
        <div class="ui-grid-col-4"><label for="justification">Uzasadnienie*</label></div>
        <div class="ui-grid-col-8">
          <textarea pInputTextarea name="justification" [(ngModel)]="justification" [rows]="2" [cols]="30" required autoResize="autoResize"></textarea>
        </div>
      </div>-->
    </div>
    <p-footer>
      <div class="ui-dialog-buttonpane ui-helper-clearfix">
        <button width="200px" type="button" pButton [icon]="complexityIncrease? 'fa fa-arrow-circle-up' : 'fa fa-arrow-circle-down'" (click)="doChangeComplexity()" label="Zaakceptuj"></button>
      </div>
    </p-footer>
  </p-dialog>


</p-panel>