<p-panel header="Zlecenia - WO">
  <div class="ui-grid-row">
    <div class="ui-grid-col-6">
      <p-fieldset legend="Wyszukiwanie zleceń">
        <form #f="ngForm" (submit)="search()">
          <div class="ui-grid ui-grid-responsive ui-fluid ui-grid-pad">
            <div class="ui-grid-row" style="margin-top: 20px;">
              <div class="ui-grid-col-1"></div>
              <div class="ui-grid-col-5">
                <label for="lastModAfter">zmodyfikowano od</label>
                <p-calendar name="lastModAfter" [locale]="pl" [(ngModel)]="lastModAfter" showIcon="true"
                  dateFormat="dd.mm.yy" utc="true"></p-calendar>
              </div>
              <div class="ui-grid-col-5">
                <label for="lastModBefore">zmodyfikowano do</label>
                <p-calendar name="lastModBefore" [locale]="pl" [(ngModel)]="lastModBefore" showIcon="true"
                  dateFormat="dd.mm.yy" utc="true"></p-calendar>
              </div>
              <div class="ui-grid-col-1"></div>
            </div>
            <div class="ui-grid-row" style="margin-top: 15px;">
              <div class="ui-grid-col-4"></div>
              <div class="ui-grid-col-4">
                <button pButton type="button" (click)="search()" icon="fa fa-search" label="Szukaj Laros"
                  style="margin-left: 0px; min-width: 140px;" [disabled]="!f?.valid"></button>
              </div>
              <div class="ui-grid-col-4"></div>
            </div>
          </div>
        </form>
      </p-fieldset>
    </div>
    <div class="ui-grid-col-6">
      <app-status-details></app-status-details>
    </div>
  </div>

  <div style="margin-top: 5px" *ngIf="orders" class="ui-g">
    <p-table #tt dataKey="id" [columns]="cols" [value]="orders" [rows]="20" [paginator]="true" [resizableColumns]="true"
      sortOrder="-1" selectionMode="single" [(selection)]="selectedOrder" (onRowSelect)="onRowSelect($event)"
      [metaKeySelection]="true" loadingIcon="fa fa-spinner" [contextMenu]="cm" contextMenuSelectionMode="joint"
      csvSeparator=";" exportFilename="Zlecenia" [globalFilterFields]="cols" >
      <ng-template pTemplate="caption">
        <div>
          <i class="fa fa-search turbo-table-filtr-icon"></i>
          <input type="text" pInputText size="50" placeholder="Filtruj"
            (input)="tt.filterGlobal($event.target.value, 'contains')" style="width:auto">
        </div>
      </ng-template>
      <ng-template pTemplate="header" let-columns>
        <tr>
          <th *ngFor="let col of columns" [hidden]="col.hidden" [pSortableColumn]="col.field" [ngClass]="col.class"
            pResizableColumn excludeGlobalFilter=col.exclude>
            <span class="header" *ngIf="!col.check && !col.rating">
              {{col.header}}
              <p-sortIcon *ngIf="!col.button && col.sortable" [field]="col.field"></p-sortIcon>             
            </span>
            <span *ngIf="col.filter">
              <input class="width-100" [attr.placeholder]="col.header === 'Pula' ? 'Y/N' : 'Filtruj'" pInputText
              type="text" (input)="tt.filter($event.target.value, col.field, col.filterMatchMode)" >            
            </span>
          </th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-rowData let-columns="columns">
        <tr [pSelectableRow]="rowData" [pSelectableRowDblClick]="rowData" [pContextMenuRow]="rowData">
          <td *ngFor="let col of columns" [hidden]="col.hidden" filterMatchMode="col.contains" [ngClass]="col.class">
            <span *ngIf="col.type" [style.color]="workTypeService.getWorkTypeColor(rowData)"
              class="ui-inputgroup-addon"><i [class]="'fa fa-square'"></i> </span>
            <span *ngIf="col.complexity" class="ui-inputgroup-addon"><i
                [class]="rowData[col.field]=='STD' ? 'fa fa-thumbs-o-up': 'fa fa-life-bouy'"></i></span>
            <span *ngIf="col.isFromPool">
              <span *ngIf="rowData[col.field]=='Y'" [style.color]="'green'" class="ui-inputgroup-addon"><i
                  [class]="'fa fa-users'"></i></span>
              <span *ngIf="rowData[col.field]!='Y'" [style.color]="'grey'" class="ui-inputgroup-addon"><i
                  [class]="'fa fa-street-view'"></i></span>
            </span>

            <span *ngIf="col.header === 'Status'" class="ui-inputgroup-addon"><i
                [class]="toolsService.getStatusIcon(rowData.statusCode)"></i> {{rowData.status}}</span>
            <p-button *ngIf="col.details" type="button" style="width:25px"
              (click)="selectedOrder=rowData; onRowSelect($event); displayDetailsDialog=true" icon="fa fa-search">
            </p-button>
            <span *ngIf="!col.icon && !col.price">
              {{rowData[col.field]}}
            </span>
            <span *ngIf="col.price">
              {{rowData[col.field] | currency:'PLN'}}
            </span>
          </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="footer" let-columns>
        <tr>
          <td *ngFor="let col of columns" [hidden]="col.hidden">
            <span *ngIf="col.header === 'Zlecenie'">Suma zleceń <br /> {{orders?.length}} </span>
            <span *ngIf="col.header === 'Status'">
              <i [class]="getStatusIcon('OP')"></i>{{summary.openOrders}}
              <i [class]="getStatusIcon('AS')"></i> {{summary.assignedOrders}}
              <i [class]="getStatusIcon('CO')"></i> {{summary.complitedOrders}} <br />
              <i [class]="getStatusIcon('IS')"></i> {{summary.issuedOrders}}
              <i [class]="getStatusIcon('CL')"></i> {{summary.closeOrders}}
            </span>
            <span *ngIf="col.price">Suma <br /> {{summary.summaryPrice | currency:'PLN'}} </span>
            <span *ngIf="col.header === 'Pula'"> W puli <br /> {{summary.summaryIsFromPool}}</span>
          </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="summary" let-columns="columns">
        <div class="ui-grid ui-grid-responsive ui-fluid ui-grid-pad">
          <div class="ui-grid-row" style="margin-top: 15px;">
            <div class="ui-grid-col-1"></div>
            <div class="ui-grid-col-2"></div>
            <div class="ui-grid-col-2"></div>
            <div class="ui-grid-col-2"></div>
            <div class="ui-grid-col-2"></div>
            <div class="ui-grid-col-2"></div>
            <div class="ui-grid-col-1"></div>
          </div>
        </div>
      </ng-template>
      <ng-template pTemplate="emptymessage">
        Brak zleceń w zakresie dat...
      </ng-template>
    </p-table>
    <p-contextMenu #cm [model]="items"></p-contextMenu>
  </div>

  <p-dialog [(visible)]="displayDetailsDialog" [header]="'Zamówienie '+selectedOrder?.workNo" [minWidth]="600"
    [responsive]="true" [blockScroll]="true" [contentStyle]="{'height': '800px'}">
    <app-wo-details [selectedOrder]="selectedOrder"></app-wo-details>
  </p-dialog>

  <p-dialog [header]="'Poprawa zlecenia '+editedOrder?.workNo" [(visible)]="displayReassignDialog" [responsive]="true"
    [minWidth]="500">
    <div class="ui-grid ui-grid-responsive ui-fluid" *ngIf="editedOrder">
      <div class="ui-grid-row" style="margin-top: 20px;">
        <div class="ui-grid-col-4"><label for="workNo">Numer WO</label></div>
        <div class="ui-grid-col-8 ui-fluid"><input pInputText id="workNo" [(ngModel)]="editedOrder.workNo" width="auto"
            disabled="true" /></div>
      </div>
      <div class="ui-grid-row" style="margin-top: 20px;">
        <div class="ui-grid-col-4"><label for="type">Typ WO</label></div>
        <div class="ui-grid-col-8">
          <input pInputText id="type" [(ngModel)]="editedOrder.type" disabled="true" />
        </div>
      </div>
      <div class="ui-grid-row" style="margin-top: 20px;">
        <div class="ui-grid-col-4"><label for="status">Status</label></div>
        <div class="ui-grid-col-8">
          <input pInputText id="status" [(ngModel)]="editedOrder.status" disabled="true" />
        </div>
      </div>
      <div class="ui-grid-row" style="margin-top: 20px;">
        <div class="ui-grid-col-4"><label for="comment">Komentarz</label></div>
        <div class="ui-grid-col-8">
          <textarea disabled="true" pInputTextarea id="comment" [rows]="8"
            [cols]="30">{{getCancelOrHoldComment(editedOrder)}}</textarea>
        </div>
      </div>
      <div class="ui-grid-row" style="margin-top: 20px;">
        <div class="ui-grid-col-4"><label for="justification">Uzasadnienie*</label></div>
        <div class="ui-grid-col-8">
          <textarea pInputTextarea id="justification" [(ngModel)]="newComment" [rows]="3" [cols]="30" required></textarea>
        </div>
      </div>
    </div>
    <p-footer>
      <div class="ui-dialog-buttonpane ui-helper-clearfix">
        <button width="200px" type="button" pButton icon="fa fa-bell" (click)="doReassign()" label="Zapisz"></button>
      </div>
    </p-footer>
  </p-dialog>

  <p-dialog [header]="complexityIncrease? 'Zwiększenie trudności' : 'Zmniejszenie trudności'"
    [(visible)]="displayChangeComplexityDialog" [responsive]="true" [minWidth]="700">
    <div class="ui-grid ui-grid-responsive ui-fluid" *ngIf="editedOrder">
      <div class="ui-grid-row" style="margin-top: 20px;">
        <div class="ui-grid-col-4"><label for="workNo">Numer zlecenia</label></div>
        <div class="ui-grid-col-8 ui-fluid"><input pInputText id="workNo" [(ngModel)]="editedOrder.workNo" width="auto"
            disabled="true" /></div>
      </div>
      <div class="ui-grid-row" style="margin-top: 20px;">
        <div class="ui-grid-col-4"><label for="type">Typ zlecenia</label></div>
        <div class="ui-grid-col-8">
          <input pInputText id="type" [(ngModel)]="editedOrder.type" disabled="true" />
        </div>
      </div>
      <div class="ui-grid-row" style="margin-top: 20px;">
        <div class="ui-grid-col-4"><label for="status">Status</label></div>
        <div class="ui-grid-col-8">
          <input pInputText id="status" [(ngModel)]="editedOrder.status" disabled="true" />
        </div>
      </div>
      <div class="ui-grid-row" style="margin-top: 20px;">
        <div class="ui-grid-col-4"><label for="complexity">{{complexityIncrease? 'Zwiekszona': 'Standardowa'}} trudność
            [h]*</label></div>
        <div class="ui-grid-col-8">
          <input pInputText type="number" id="complexity" [(ngModel)]="editedOrder.complexity" required />
        </div>
      </div>
      <div class="ui-grid-row" style="margin-top: 20px;">
        <div class="ui-grid-col-4"><label for="newComment">Uzasadnienie*</label></div>
        <div class="ui-grid-col-8">
          <textarea pInputTextarea id="newComment" name="newComment" [(ngModel)]="newComment" [rows]="8" [cols]="30"
            placeholder="Powód zmiany wyceny..." required ></textarea>
        </div>
      </div>
    </div>
    <p-footer>
      <div class="ui-dialog-buttonpane ui-helper-clearfix">
        <button width="200px" type="button" pButton
          [icon]="complexityIncrease? 'fa fa-arrow-circle-up' : 'fa fa-arrow-circle-down'"
          (click)="doChangeComplexity()" label="Zaakceptuj"></button>
      </div>
    </p-footer>
  </p-dialog>
</p-panel>