<div *ngIf="operatorMode" class="ui-grid-row">
  <div class="ui-grid-col-6">
    <p-fieldset legend="Przypisanie wykonawcy">
        <div class="ui-grid ui-grid-responsive ui-fluid ui-grid-pad">
          <div class="ui-grid-col-2"><label for="status">Wykonawca</label></div>
          <div class="ui-grid-col-6">
              <p-autoComplete id="person" [(ngModel)]="assignedEngineer" [suggestions]="suggestedEngineers" (completeMethod)="suggestEngineer($event)" [dropdown]="true" field="displayName" [forceSelection]="true"></p-autoComplete>
          </div>          
          </div>
          <div class="ui-grid-row" style="margin-top: 10px;">
            <div class="ui-grid-col-4">
                <button type="button" pButton [disabled]="!assignedEngineer || selectedOrders?.length < 1" icon="fa fa-user-o" iconPos="left" label="Przypisz wykonawcę" (click)="assignOrders()"></button>
            </div>           
          </div>   
          <div class="ui-grid-row" style="margin-top: 10px;">
            <div class="ui-grid-col-4">
            </div>           
          </div>     
    </p-fieldset>
  </div>
  <div class="ui-grid-col-6">
    <p-fieldset legend="Instrukcja grupowego przypisania zleceń">
        <div class="ui-grid ui-grid-responsive ui-fluid ui-grid-pad">       
          <p>1. Należy wybrać wykonawcę</p>
          <p>2. Następnie należy wybrać zlecenia które chcemy przypisać</p>
          <p>3. Nstępnie należy klinkąć przycisk "Przypisz wykonawcę"</p>
        </div>    
    </p-fieldset>
  </div>
</div>
<div class="ui-grid-row">
  <div style="margin-top: 5px" class="ui-g">
      <p-table #tt dataKey="id" [columns]="cols" [value]="copyOrdersToAssign" [rows]="20" [paginator]="true" [resizableColumns]="true" columnResizeMode="expand" sortOrder="-1"  [(selection)]="selectedOrders" 
        [metaKeySelection]="true" loadingIcon="fa fa-spinner" [responsive]="false">
        <ng-template pTemplate="caption">
            <div>
                <i class="fa fa-search"></i>
                <input type="text" pInputText size="50" placeholder="Filtruj" (input)="tt.filterGlobal($event.target.value, 'contains')" style="width:auto">
              </div>
        </ng-template>
        <ng-template pTemplate="header" let-columns>
            <tr>
              <th *ngFor="let col of columns"
              [hidden]="col.hidden"
              [pSortableColumn]="col.field"
              [ngClass]="col.class"
              pResizableColumn
              excludeGlobalFilter = col.exclude>
              <span *ngIf="col.check">
                <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
               </span>
                <span class="ui-column-title header">
                    {{col.header}}
                    <p-sortIcon *ngIf="!col.button" [field]="col.field"></p-sortIcon>
                </span>         
              </th>
            </tr>
            <tr>
              <th *ngFor="let col of columns"  [hidden]="col.hidden" >
                <input 
                [attr.placeholder]="col.header === 'Pula' ? 'Y/N' : 'Filtruj'"
                 pInputText type="text" (input)="tt.filter($event.target.value, col.field, col.filterMatchMode)" *ngIf="col.filter">  
                 <div *ngIf="col.price">
                  Cena > {{priceFilter}}
                  <i class="fa fa-close" (click)="priceFilter=0;tt.filter(null, col.field, col.filterMatchMode)" style="cursor:pointer"></i>
                  <p-slider [style]="{'width':'100%','margin-top':'8px'}" 
                  [(ngModel)]="priceFilter"              
                  [min]="0"
                  [max]="9999"             
                  (onChange)="onPriceChange($event, tt)"             
                  [animate]="true"></p-slider>
              </div>              
              </th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-rowData let-columns="columns">
            <tr [pSelectableRow]="rowData" [pSelectableRowDblClick]="rowData"> 
                <td *ngFor="let col of columns"
                  [hidden]="col.hidden"
                  filterMatchMode="rowData.contains"
                  [ngClass]="col.class"
                  >    
                    <p-tableCheckbox [value]="rowData" *ngIf="col.check"></p-tableCheckbox> 
                    <i *ngIf="col.statusCode" [class]="toolsService.getStatusIcon(rowData.statusCode)"></i>
                    <span *ngIf="col.type" [style.color]="workTypeService.getWorkTypeColor(rowData)" class="ui-inputgroup-addon"><i [class]="'fa fa-square'"></i> </span>
                    <span *ngIf="col.complexity"  class="ui-inputgroup-addon"><i [class]="rowData[col.field]=='STD' ? 'fa fa-thumbs-o-up': 'fa fa-life-bouy'"></i></span>
                    <span *ngIf="col.isFromPool">
                      <span *ngIf="rowData[col.field]=='Y'" [style.color]="'green'" class="ui-inputgroup-addon"><i [class]="'fa fa-users'"></i></span>
                      <span *ngIf="rowData[col.field]!='Y'" [style.color]="'grey'" class="ui-inputgroup-addon"><i [class]="'fa fa-street-view'"></i></span>
                    </span>
                    <span *ngIf="!col.icon && !col.price">
                      {{rowData[col.field]}}
                    </span>
                    <span *ngIf="col.price">
                      {{rowData[col.field] | currency:'PLN'}}
                    </span>               
                </td>
            </tr>
        </ng-template>
    </p-table>
  </div>
</div>