.text-center {
    text-align:center;
    width :45%;
}

.text-center-55 {
    text-align:center;
    width :55%;
}

.width-35 {
    width: 35%;
}
.width-80 {
    width: 87%;
}

.width-100 {
    width: 100%;
}

.width-135 {
    width: 135%;
}

.width-125 {
    width: 125%;
}

td {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis
}

.header {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis
}