.text-center {
    text-align:center;
    width :45px;
}

.width-135 {
    width: 135px;
}
.text-center-55 {
    text-align:center;
    width :55px;
}
.width-70 {
    width: 70px;
}
.width-82 {
    width: 100px;
}
.width-25 {
    width: 25px;
}
td{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis
  }