<p-accordion>
  <p-accordionTab header="Bieżace" [selected]="currentPayroll" *ngIf="currentPayroll">

    <div class="ui-grid-row" style="margin-top: 10px;">
      <div class="ui-grid-col-12">
        <div style="margin-top: 0px; margin-bottom: 10px;">
          <span style="margin-right: 2px;">
            Poniżej zaprezentowano dane z bieżącego okresu. Nie można ich zaakceptować dopóki okres rozliczeniowy się
            nie zakończy. Dane te przejdą jako niezaakceptowane (do weryfikacji) do rekordów historycznych, gdzie będzie
            można sprawdzić czy zostały już zaakceptowane.
          </span>
        </div>
      </div>
    </div>

    <div class="ui-grid-row" style="margin-top: 10px;" *ngIf="currentPayroll[0]">
      <div class="ui-grid-col-11">

        <span style="margin-right: 2px;" [style.color]="'black'">Za okres:</span><span
          [style.color]="'#286090'">{{currentPayroll[0].periodDate}}</span>
        <span style="margin-left: 10px; margin-right: 2px;" [style.color]="'black'">Współczynnik nadgodzin:</span><span
          [style.color]="'#286090'">{{currentPayroll[0].overTimeFactor}}</span>
        <span style="margin-left: 10px; margin-right: 2px;" [style.color]="'black'">Zaakceptowany:</span><span
          [style.color]="currentPayroll[0].approved=='Y'?'black':'orange'">{{currentPayroll[0].approved=='Y'?'TAK':'NIE'}}</span>
        <span style="margin-left: 10px; margin-right: 2px;" [style.color]="'black'">Wygenerowany:</span><span
          [style.color]="'#286090'">{{currentPayroll[0].lastMod}}</span>
        <span *ngIf="currentPayroll[0]?.rankCode !== 'YOU'" style="margin-left: 10px; margin-right: 2px;"
          [style.color]="'black'">Koszt 1h z puli:</span><span
          [style.color]="'#286090'">{{currentPayroll[0].formattedPoolRate}}</span>

      </div>


    </div>
    <p-table *ngIf="currentPayroll[0]" #current dataKey="id" [columns]="cols" [value]="currentPayroll"
      sortField="periodDate" [rows]="20" [paginator]="true" [resizableColumns]="true" sortOrder="-1"
      loadingIcon="fa fa-spinner" csvSeparator=";" [exportFilename]="'wynagrodzenie_'+currentPayroll[0].periodDate"
      [globalFilterFields]="cols" [responsive]="true">
      <ng-template pTemplate="header" let-columns>
        <tr>
          <th *ngFor="let col of columns" [hidden]="col.hidden" [ngClass]="col.class" pResizableColumn
            excludeGlobalFilter=col.exclude>
            <span class="header">
              {{col.header}}
            </span>
          </th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-rowData let-columns="columns">
        <tr>
          <td *ngFor="let col of columns" [hidden]="col.hidden" [ngClass]="col.class">
            <span *ngIf="col.user">
              <span class="ui-inputgroup-addon color-green">{{rowData.user['firstName']}}
                {{rowData.user['lastName']}}</span>
            </span>
            <span *ngIf="col.isFromPool">
              <span *ngIf="rowData[col.field]=='Y'" [style.color]="'green'" class="ui-inputgroup-addon"><i
                  [class]="'fa fa-users'"></i></span>
              <span *ngIf="rowData[col.field]!='Y'" [style.color]="'grey'" class="ui-inputgroup-addon"><i
                  [class]="'fa fa-street-view'"></i></span>
            </span>
            <span *ngIf="col.field === 'nonpoolWorkTime'">
              <span *ngIf="rowData.isFromPool=='Y'" [style.color]="'green'"
                class="ui-inputgroup-addon">{{rowData[col.field]}}</span>
              <span *ngIf="rowData.isFromPool!='Y'" [style.color]="'grey'" class="ui-inputgroup-addon">brak</span>
            </span>
            <button *ngIf="col.completedOrders" type="button" pButton icon="fa fa-table" iconPos="center"
              (click)="completedOrderService.showOrders(rowData.periodDate, rowData.completedWo)"
              style="margin-top: 0px"></button>
            <span *ngIf="!col.icon && !col.price && !col.time">
              {{rowData[col.field]}}
            </span>
            <span *ngIf="col.price">
              {{rowData[col.field] | currency:'PLN'}}
            </span>
            <span *ngIf="col.time" class="color-blue">
              {{rowData[col.field]}}
            </span>
          </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="emptymessage">
        Brak danych...
      </ng-template>
    </p-table>
  </p-accordionTab>
  <p-accordionTab header="Historyczne" [selected]="false" *ngIf="historicalPayrolls">
    <!--<p-table [columns]="cols" [value]="historicalPayrolls" sortField="periodDate" sortOrder="-1" rowGroupMode="subheader"
      groupField="periodDate" expandableRowGroups="true" [style]="{'margin-top':'20px'}"
      scrollable="true" scrollHeight="600px">-->
    <p-table *ngIf="historicalPayrolls" #historical dataKey="periodDate" [columns]="cols" [value]="historicalPayrolls"
                 sortField="periodDate" [rows]="20" [paginator]="true" [resizableColumns]="true" sortOrder="-1"
                 loadingIcon="fa fa-spinner" csvSeparator=";" [exportFilename]="'wynagrodzenie_'+currentPayroll[0].periodDate"
                 [globalFilterFields]="cols" [responsive]="true">

        <ng-template pTemplate="header" let-columns>
            <tr>
                <th *ngFor="let col of columns" [hidden]="col.hidden" [ngClass]="col.class" pResizableColumn
                    excludeGlobalFilter=col.exclude>
            <span class="header">
              {{col.header}}
            </span>
                </th>
            </tr>
        </ng-template>

        <ng-template pTemplate="body" let-rowData let-rowIndex="rowIndex" let-expanded="expanded" let-columns="columns">
            <tr class="ui-widget-header" *ngIf="rowGroupMetadata[rowData.periodDate].index === rowIndex">
                <td colspan="16">
                    <a href="#" [pRowToggler]="rowData">
                        <i [ngClass]="expanded ? 'fa fa-fw fa-chevron-circle-down' : 'fa fa-fw fa-chevron-circle-right'"></i>

                        <span style="margin-left: 10px; margin-right: 2px;" [style.color]="'black'">Rozliczenie za okres:</span><span
                            [style.color]="'#286090'">{{rowData.periodDate}}</span>
                        <span style="margin-left: 10px; margin-right: 2px;" [style.color]="'black'">Współczynnik
            nadgodzin:</span><span [style.color]="'#286090'">{{rowData.formattedOverTimeFactor}}</span>
                        <span style="margin-left: 10px; margin-right: 2px;" [style.color]="'black'">Wygenerowany:</span><span
                            [style.color]="'#286090'">{{rowData.lastMod}}</span>
                        <span *ngIf="rowData?.rankCode !== 'YOU'" style="margin-left: 10px; margin-right: 2px;"
                              [style.color]="'black'">Koszt 1h z puli:</span><span
                            [style.color]="'#286090'">{{rowData.formattedPoolRate}}</span>
                        <span style="margin-left: 10px; margin-right: 2px;"
                              [style.color]="rowData.approved=='Y'?'black':'orange'">{{rowData.approved=='Y'?'Zaakceptowany':'Niezaakceptowany'}}</span>
                    </a>
                </td>
            </tr>
        </ng-template>

        <ng-template pTemplate="rowexpansion" let-rowData let-columns="columns">
            <tr>
                <td *ngFor="let col of columns" [hidden]="col.hidden" [ngClass]="col.class">
            <span *ngIf="col.user">
              <span class="ui-inputgroup-addon color-green">{{rowData.user['firstName']}}
                {{rowData.user['lastName']}}</span>
            </span>
                    <span *ngIf="col.isFromPool">
              <span *ngIf="rowData[col.field]=='Y'" [style.color]="'green'" class="ui-inputgroup-addon"><i
                      [class]="'fa fa-users'"></i></span>
              <span *ngIf="rowData[col.field]!='Y'" [style.color]="'grey'" class="ui-inputgroup-addon"><i
                      [class]="'fa fa-street-view'"></i></span>
            </span>
                    <span *ngIf="col.field === 'nonpoolWorkTime'">
              <span *ngIf="rowData.isFromPool=='Y'" [style.color]="'green'"
                    class="ui-inputgroup-addon">{{rowData[col.field]}}</span>
              <span *ngIf="rowData.isFromPool!='Y'" [style.color]="'grey'" class="ui-inputgroup-addon">brak</span>
            </span>
                    <button *ngIf="col.completedOrders" type="button" pButton icon="fa fa-table" iconPos="center"
                            (click)="completedOrderService.showOrders(rowData.periodDate, rowData.completedWo)"
                            style="margin-top: 0px"></button>
                    <span *ngIf="!col.icon && !col.price && !col.time">
              {{rowData[col.field]}}
            </span>
                    <span *ngIf="col.price">
              {{rowData[col.field] | currency:'PLN'}}
            </span>
                    <span *ngIf="col.time" class="color-blue">
              {{rowData[col.field]}}
            </span>
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
            Brak danych...
        </ng-template>
    </p-table>
  </p-accordionTab>
</p-accordion>
<p-dialog [(visible)]="completedOrderService.displayCompletedOrdersDialog"
  [header]="'Zlecenia zrealizowane ('+completedOrderService.completedOrders.length+')'" [minWidth]="800"
  [responsive]="true" [blockScroll]="true" [contentStyle]="{'height': '800px'}">
  <app-wo-list [listToDisplay]="completedOrderService.completedOrders" [exportFileName]="'Moje zlecenia'"></app-wo-list>
</p-dialog>